@{
    ViewBag.Title = "新增 入庫填報";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <link rel="stylesheet" href="/Content/StockManagement.css">
    <script src="/Scripts/dataTable/RepairRecord.js" defer></script>
    <script src="/Scripts/dataTable/RFIDInfoModal.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-lg flex-wrap flex-md-row justify-content-lg-between gap-0">
        <div class="tab-btn-bar">
            <button class=" tab-btn tab-checked" onclick="openTab(event,'Normal')">一般</button>
            <button class=" tab-btn" onclick="openTab(event,'RFID')">RFID</button>
        </div>
        <form class="form d-lg-contents tab-content" id="Normal">
            <div class="form-group-zone">
                <div class="form-group required" id="TypeContainer">
                    <label for="StockTypeSN">類別</label>
                    <select class="form-select" name="StockTypeSN" id="StockTypeSN" required>
                        <option value="null">請選擇</option>
                    </select>
                </div>
                <div class="form-group required" id="SNameContainer">
                    <label for="SISN">品項名稱</label>
                    <select class="form-select" name="SISN" id="SISN" required>
                        <option value="null">請選擇</option>
                    </select>
                </div>
                <div class="form-group input-wrapper required" id="NumContainer">
                    <label for="NumberOfChanges">入庫數量</label>
                    <input class="form-control" id="NumberOfChanges" name="NumberOfChanges" type="number" min="1" required />
                    <span class="unit">個</span>
                </div>
                <div class="form-group" style="display: none;" id="RFIDContainer">
                    <label for="Other" class="d-flex gap-1">
                        <span class="form-tooltip-toggle" data-bs-placement="top-start"
                            title="請將RFID標籤放至讀取器上後，點選「掃描」"></span>
                        RFID
                    </label>
                    <button type="button" class="btn btn-search w-100 d-flex justify-content-center align-items-center gap-1" onclick="RFIDInfoModal(RFIDResult, GridOptions, 'RFIDZone')">
                        掃描<img src="data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20viewBox%3D%220%200%2021%2021%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_870_9535)%22%3E%3Cpath%20d%3D%22M10.6306%2011.1135C7.55357%2011.1135%204.47651%2011.1135%201.39945%2011.1135C1.04722%2011.1135%200.788563%2010.934%200.683074%2010.6227C0.588313%2010.3418%200.668771%2010.0155%200.919084%209.84735C1.05199%209.75789%201.23078%209.69706%201.39051%209.69348C2.148%209.67798%202.90669%209.68633%203.66478%209.68633C9.06796%209.68633%2014.4711%209.68633%2019.8743%209.68633C20.4375%209.68633%2020.8023%2010.201%2020.577%2010.6865C20.4387%2010.9841%2020.1956%2011.1159%2019.8606%2011.1159C16.7836%2011.1117%2013.7065%2011.1135%2010.6294%2011.1135H10.6306Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M16.6073%200.400453C17.239%200.400453%2017.8707%200.398664%2018.5025%200.400453C19.6813%200.405225%2020.6295%201.34693%2020.6337%202.52122C20.6373%203.70387%2020.6355%204.88592%2020.6337%206.06856C20.6337%206.51824%2020.3345%206.83015%2019.912%206.82717C19.5037%206.82419%2019.2087%206.50989%2019.2081%206.07274C19.2069%204.95748%2019.2081%203.84163%2019.2081%202.72638C19.2081%202.09182%2018.9471%201.82762%2018.3207%201.82762C17.0721%201.82762%2015.8235%201.82881%2014.575%201.82702C14.2114%201.82702%2013.9003%201.56044%2013.858%201.22347C13.8121%200.860271%2014.0153%200.532852%2014.3598%200.430273C14.4432%200.405225%2014.535%200.402243%2014.6232%200.402243C15.2848%200.399857%2015.9463%200.40105%2016.6073%200.40105V0.400453Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M4.68258%2020.3992C4.04369%2020.3992%203.4042%2020.4016%202.7653%2020.3986C1.60314%2020.3927%200.654332%2019.4462%200.650756%2018.2838C0.646584%2017.094%200.648968%2015.9042%200.650756%2014.7144C0.650756%2014.2785%200.949939%2013.9713%201.36534%2013.9719C1.77776%2013.9725%202.07575%2014.2826%202.07635%2014.7192C2.07754%2015.8571%202.07635%2016.995%202.07694%2018.1324C2.07694%2018.6858%202.36123%2018.9709%202.91311%2018.9715C4.16169%2018.9721%205.41028%2018.9715%206.65826%2018.9715C7.11181%2018.9715%207.42827%2019.2637%207.43006%2019.68C7.43185%2020.1016%207.11896%2020.3975%206.6678%2020.398C6.00626%2020.3992%205.34472%2020.398%204.68377%2020.398L4.68258%2020.3992Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M16.5791%2020.3993C15.9253%2020.3993%2015.2709%2020.4005%2014.6171%2020.3993C14.166%2020.3987%2013.8537%2020.1023%2013.8555%2019.6806C13.8573%2019.2608%2014.1696%2018.9727%2014.6267%2018.9727C15.8675%2018.9721%2017.1089%2018.9727%2018.3498%2018.9727C18.935%2018.9727%2019.208%2018.6984%2019.2086%2018.1115C19.2086%2016.9885%2019.2086%2015.8655%2019.2086%2014.7425C19.2086%2014.2851%2019.4976%2013.9737%2019.9184%2013.9731C20.3398%2013.972%2020.6336%2014.2845%2020.6342%2014.7377C20.6354%2015.9126%2020.6366%2017.0875%2020.6342%2018.263C20.6312%2019.454%2019.6878%2020.3957%2018.4964%2020.3999C17.8575%2020.4023%2017.218%2020.3999%2016.5791%2020.3999V20.3993Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M4.69246%200.400631C5.354%200.400631%206.01554%200.399438%206.67649%200.400631C7.11334%200.401824%207.42683%200.697038%207.42981%201.10557C7.43279%201.52781%207.1199%201.8272%206.67112%201.8272C5.42254%201.82839%204.17395%201.8272%202.92537%201.8272C2.35323%201.8272%202.07669%202.10333%202.07669%202.67408C2.07609%203.81915%202.07788%204.96482%202.0755%206.10989C2.0749%206.46415%201.81982%206.7689%201.49024%206.82198C1.12967%206.87983%200.779234%206.66573%200.676725%206.31684C0.654078%206.2405%200.650502%206.15581%200.650502%206.0753C0.648714%204.89265%200.646926%203.71061%200.650502%202.52796C0.654674%201.35128%201.59931%200.406595%202.77518%200.401228C3.41408%200.398246%204.05357%200.400631%204.69246%200.400631Z%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_870_9535%22%3E%3Crect%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22white%22%20transform%3D%22translate(0.644531%200.399902)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E" />
                    </button>
                </div>
                <div class="datatable datatable-grid form-group col-3fr" style="display: none;" id="RFIDZone">
                    <div class="datatable-body h-100 overflow-auto">
                        <table class="datatable-table">
                            <thead>
                                <tr>
                                    <th class="datatable-header" style="width:80px"></th>
                                    <th class="datatable-header" style="width:130px"><span>RFID內碼</span></th>
                                    <th class="datatable-header" style="width:130px"><span>RFID外碼</span></th>
                                    <th class="datatable-header" style="width:130px"><span>類別</span></th>
                                    <th class="datatable-header" style="width:200px"><span>品項名稱</span></th>
                                    <th class="datatable-header" style="width:100px"><span>入庫數量</span></th>
                                    <th class="datatable-header" style="width:80px"><span>單位</span></th>
                                    <th class="datatable-header" style="width:48px"></th>
                                </tr>
                            </thead>
                            <tbody id="item-area">
                                <tr id="sample-input-tr">
                                    <td id="d-_delete" class="p-2 d-flex justify-content-center gap-2">
                                        <button type="button" class="btn btn-datagrid" data-bs-toggle="modal"
                                            data-bs-target="#RFIDEquipmentInfo">編輯</button>
                                    </td>
                                    <td id="InterCode">XSCXCZS</td>
                                    <td id="ExterCode">XSCXCZS</td>
                                    <td id="Type">潤滑劑</td>
                                    <td id="SName">軸承潤滑劑</td>
                                    <td id="Num">1</td>
                                    <td id="Init">個</td>
                                    <td id="d-_delete" class="p-1 pt-2">
                                        <button type="button" class="btn-delete-item"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="FileUploader"></div>
                <div class="form-group col-3fr">
                    <label for="Memo">備註</label>
                    <textarea class="form-control" id="Memo" name="Memo" rows="3" cols="50"></textarea>
                </div>
            </div>
        </form>
    </div>
</section>

@*RFID 設備資訊POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="RFIDEquipmentInfo">
    <div class="modal-dialog modal-screen-md modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>RFID 庫存資訊</h2>
                <form class="form w-100 p-0">
                    <div class="form-group-zone">
                        <div class="form-group">
                            <label for="InterCode">RFID內碼</label>
                            <input type="text" class="form-control" name="InterCode" id="InterCode" maxlength="20"
                                disabled>
                        </div>
                        <div class="form-group required">
                            <label for="ExterCode">RFID外碼</label>
                            <input type="text" class="form-control" name="ExterCode" id="ExterCode" maxlength="20"
                                required>
                        </div>
                        <div class="form-group required">
                            <label for="StockTypeSN">類別</label>
                            <select class="form-select" name="StockTypeSN" id="StockTypeSN" required></select>
                        </div>
                        <div class="form-group required">
                            <label for="StockName">品項名稱</label>
                            <select class="form-select" name="StockName" id="StockName" required></select>
                        </div>
                        <div class="form-group input-wrapper2" id="NumContainer">
                            <label for="NumberOfChanges">入庫數量</label>
                            <input class="form-control" id="NumberOfChanges" name="NumberOfChanges" type="text" disabled />
                            <span class="unit">個</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" id="add-row">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

@section scripts {
    <script>
        var fileUploader;
        let apiUrl = null;
        let submitUrl = "";
        let currentTab = "Normal";
        $(async function () {
            await pushSelect("StockTypeSN", '@Url.Action("StockType", "DropDownList")');
            //readData(apiUrl);
            addButtonEvent();
            //delTemplateItem();
            $("#StockTypeSN").change(async() => {
                /*console.log($("#StockTypeSN").val());*/
                let StockTypeSN = $("#StockTypeSN").val()
                if (StockTypeSN) {
                    await pushSelect("SISN", '@Url.Action("StockName", "DropDownList")' + `?stockTypeSN=${StockTypeSN}`);
                } else {
                    $("#SISN").empty();
                    $("#SISN").append(`<option value="">請選擇</option>`)
                    $("#SISN").val("");
                }
            })
            fileUploader = new FileUploader({
                container: "#FileUploader",
                className: "form-group col-3fr",
                required: false,
                accept: [".jpg", ".jpeg", ".png", ".pdf"],
                label: "採購單據",
                id: "File"
            })
        });

        const urlFakeData = {
            RFIDName: "軸承潤滑劑",
            Area: "A棟",
            Floor: "5F",
            Location: "",
        }
        const fakeData = {
            PSN: "P336448226",
        }

        function save() {
            let isValidity = false;
            let fd = new FormData();
            switch (currentTab) {
                case 'Normal':
                    submitUrl = '@Url.Action("CreateNormalComputationalStockIn", "Stock_Management")';
                    let NormalForm = document.getElementById("Normal");
                    isValidity = NormalForm.reportValidity();
                    console.log("todo save():", isValidity)
                    fd.append("NumberOfChanges", $("#NumberOfChanges").val())
                    fd.append("SISN", $("#SISN").val())
                    break
                case 'RFID':
                    alert("RFID");
                    break
            }
            let file = fileUploader.getFile();
            if (file) fd.append("PurchaseOrder", file);
            fd.append("Memo", $("#Memo").val())
            if (!isValidity) return;
            if (!fd) return;
            console.log(Object.fromEntries(fd.entries()));
            $.ajax({
                url: submitUrl,
                data: fd,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                if (!res.ErrorMessage) {
                    createDialogModal({
                        id: "DialogModal-Success", inner: "新增成功！",
                        onHide: () => { window.location.href = "/Stock_Management/Index"; }
                    });
                } else {
                    createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.ErrorMessage || ""}` })
                }
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.ErrorMessage || ""}` })
            }
        }

        function readData(url = null) {
            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })
            function onSuccess(res) {
                InspectionRecord("#InspectionRecord", res);

            }
            function onError(res) {
                console.log(res);
            }

        }
        function delTemplateItem() {
            let delBtns = document.querySelectorAll('.btn-delete-item');
            delBtns.forEach(function (delBtn) {
                delBtn.onclick = function () {
                    let tr = delBtn.closest('tr');
                    if (tr) {
                        tr.remove();
                        checkTableEmpty();
                    }
                };
            });
        }

        function checkTableEmpty() {
            const tbody = document.getElementById('item-area');
            const datatable = document.getElementById('RFIDZone');
            if (tbody.children.length === 0) {
                datatable.style.display = 'none';
            }
        }

        function openTab(evt, tabName) {
            var i, tablinks;
            tablinks = document.getElementsByClassName("tab-btn");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" tab-checked", "");
            }
            evt.currentTarget.className += " tab-checked";
            currentTab = tabName;
            var showRFID = tabName === "RFID"; // 點選 "RFID" 時顯示 #Type
            var showElements = tabName === "Normal"; // 如果是 "一般"，顯示這些元素

            document.getElementById("TypeContainer").style.display = showElements ? "block" : "none";
            document.getElementById("SNameContainer").style.display = showElements ? "block" : "none";
            document.getElementById("NumContainer").style.display = showElements ? "block" : "none";
            document.getElementById("RFIDContainer").style.display = showRFID ? "block" : "none";
        }

        function addButtonEvent() {
            $("#back").click(function () {
                history.back();
            })
            $("#submit").click(function () {
                createDialogModal({
                    id: "DialogModal-CreateStock",
                    inner: `
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    新增後無法更改，確認是否新增入庫?？
                                </div>
                            `,
                    button: [
                        { className: "btn btn-cancel", text: "取消", cancel: true, },
                        { className: "btn btn-delete", text: "確定新增", cancel: true, onClick: save, },
                    ]
                })
            });
        }
    </script>
}