@{
    ViewBag.Title = "庫存品項 刪除";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area">
        <div class="datatable datatable-small">
            <div class="datatable-body">
                <table class="datatable-table" id="PlanDetail"></table>
            </div>
        </div>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>

@section scripts {
    <script>
        const SISN = '@ViewBag.id';

        $(async function () {
            addButtonEvent();
            readData('@Url.Action("GetComputationalStockDetail")?id=' + SISN);
        })
        const SerializedName = [
            { text: "類別", value: "StockType" },
            { text: "品項名稱", value: "StockName" },
            { text: "單位", value: "Unit" },
            { text: "警戒值", value: "MinStockAmount" },
        ]
        let fakeData = {
            "SISN": null,
            "StockTypeSN": 1,
            "StockType": "設備零件",
            "StockName": "5mm螺絲",
            "StockStauts": "充足",
            "StockAmount": 11,
            "Unit": "個",
            "MinStockAmount": 10
        }

        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                if (res.Datas) res = res.Datas;
                console.log("res", res);
                $("#PlanDetail").append(createTableInner(res, SerializedName));
            }
            function onError(res) {
                console.log(res);
            }
        }

        function addButtonEvent() {
            $("#back").click(function () {
                history.back();
            });
            $("#delete").click(function () {
                createDeleteDialog({
                    url: '@Url.Action("DeleteComputationalStock")?SISN=' + SISN,
                    data: SISN,
                    onSuccess() {
                        window.location.href = '@Url.Action("Index")';
                    }
                })
            });
        }

    </script>
}