@{
    ViewBag.Title = "庫存品項 詳情";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area">
        <div class="datatable datatable-small">
            <div class="datatable-body">
                <table class="datatable-table" id="PlanDetail"></table>
            </div>
        </div>
    </div>
</section>
<div class="datagrid-area">
    <div class="button-group d-flex gap-2 mb-2">
        <button type="button" class="btn btn-export" id="export">匯出</button>
    </div>
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        let SISN = location.href.split("/").pop();
        var getGridJSON = '@Url.Action("GetComputationalStockDetailRecord", "Stock_Management")';
        var DataGrid;
        const IPSN = '@ViewBag.id';
        let apiUrl = '@Url.Action("GetComputationalStockDetail", "Stock_Management")' + `?id=${SISN}`;

        $(async function () {
            if (!isAuth("1", "2")) {
                document.querySelector('.button-group').remove();
            }
            readData(apiUrl);
            Initialize_DataGrid(getGridJSON);

            $("#export").click(function () {
                const fd = new FormData();
                fd.append("SISN", SISN)
                $.ajax({
                    url: "@Url.Action("ExportDetailToExcel", "Stock_Management")",
                    data: fd,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    success: onSuccess,
                    error: onError,
                    xhrFields: {
                        responseType: 'blob'  //指定響應類型為blob
                    },
                })
                function onSuccess(res) {
                    console.log("onSuccess res:", res);
                    let a = document.createElement('a');
                    let url = window.URL.createObjectURL(res);
                    a.href = url;
                    a.download = `庫存管理.xlsx`;
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
                function onError(res) {
                    console.log(res);
                    createDialogModal({ id: "DialogModal-Error", inner: `匯出失敗！` + `${res?.responseText || ""}` })
                }
            })
        })
        const SerializedName = [
            { text: "類別", value: "StockType" },
            { text: "品項名稱", value: "StockName" },
            { text: "狀態", value: "StockStauts" },
            { text: "數量", value: "StockAmount" },
            { text: "單位", value: "Unit" },
            { text: "警戒值", value: "MinStockAmount" },
        ]
        let fakeData = {
            StockType: "潤滑劑",
            SName: "軸承潤滑劑",
            Status: "低於警戒值",
            Num: "18",
            Init: "罐",
            WarningVal: "20",
            Log: [
                {
                    DateTime: "2023/03/14 12:40:56",
                    Registrant: "李偉唐",
                    InboundNum: "8",
                    Document: "採購單據.jpg",
                    Taker: "王巧子",
                    OutboundNum: "-",
                    StockNum: "18",
                    Memo: "備註備註備註",
                },
                {
                    DateTime: "2023/03/14 12:40:56",
                    Registrant: "李偉唐",
                    InboundNum: "8",
                    Document: "採購單據.jpg",
                    Taker: "王巧子",
                    OutboundNum: "-",
                    StockNum: "18",
                    Memo: "備註備註備註",
                },
                {
                    DateTime: "2023/03/14 12:40:56",
                    Registrant: "李偉唐",
                    InboundNum: "8",
                    Document: "採購單據.jpg",
                    Taker: "王巧子",
                    OutboundNum: "-",
                    StockNum: "18",
                    Memo: "備註備註備註",
                },
            ]
        }

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                method: 'POST',
                queryParams: { SISN },
                //idField: 'IPSN',
                columns: [[
                    dg.column('DateTime', '日期時間', 220),
                    dg.column('InboundNum', '入庫數量', 140),
                    dg.column('OutboundNum', '出庫數量', 140),
                    dg.column('StockNum', '庫存數量', 140),
                    dg.column('Registrant', '登記人', 160),
                    dg.formatColumn('Document', '採購單據', 300, function (val, row, index) {
                        if (row.Document) return `<a href="${row.Document}" target="_blank" class="" >採購單據</a>`
                        return ''
                    }),
                    dg.column('Taker', '取用人', 160),
                    dg.column('Memo', '備註', 300),
                ]]
            })
        }


        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log("res", res);
                res = res.Datas;
                const tableRow = createTableInner(res, SerializedName);
                $("#PlanDetail").append(tableRow);

                if (res.StockStauts === "低於警戒值") {
                    $("#PlanDetail").find('#d-StockStauts').css("color", "red");
                }

                if (res.MinStockAmount > res.StockAmount) {
                    $("#PlanDetail").find('#d-StockAmount').css("color", "red");
                }
            }

            function onError(res) {
                console.log(res);
            }
        }


    </script>
}