@{
    ViewBag.Title = "編輯 庫存品項";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-xs flex-lg-row">
        <form class="form">
            <div class="form-group-zone">
                <div class="form-group required">
                    <label for="StockTypeSN">類別</label>
                    <select class="form-select" name="StockTypeSN" id="StockTypeSN" required></select>
                </div>
                <div class="form-group required">
                    <label for="StockName">品項名稱</label>
                    <input type="text" class="form-control" name="StockName" id="StockName" maxlength="20" required>
                </div>
                <div class="form-group required">
                    <label for="Unit">單位</label>
                    <input type="text" class="form-control" name="Unit" id="Unit" maxlength="20" required>
                </div>
                <div class="form-group required">
                    <label for="MinStockAmount">警戒值</label>
                    <input type="text" class="form-control" name="MinStockAmount" id="MinStockAmount" maxlength="20"
                        required>
                </div>
            </div>
        </form>
    </div>
</section>


<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">儲存</button>
</div>

@section scripts {
    <script>
        const SISN = '@ViewBag.id';
        let apiUrl = '@Url.Action("GetComputationalStockDetail")?id=' + SISN;
        let submitURL = '@Url.Action("EditComputationalStock")';

        $(async function () {
            readData(apiUrl);
            addButtonEvent();
        });

        let fakeData = {
            "SISN": null,
            "StockTypeSN": 1,
            "StockType": "設備零件",
            "StockName": "5mm螺絲",
            "StockStauts": "充足",
            "StockAmount": 11,
            "Unit": "個",
            "MinStockAmount": 10
        }

        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                console.log("fakeData", fakeData);
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })
            async function onSuccess(res) {
                if (res.Datas) res = res.Datas;

                console.log("res:", res);
                for (const [k, v] of Object.entries(res)) {
                    $(`#${k}`).val(v);
                }

                await formDropdown.pushSelect({ id: "StockTypeSN", url: '@Url.Action("StockType", "DropDownList")' });
                formDropdown.setValue("StockTypeSN", res.StockTypeSN)
            }
            function onError(res) {
                console.log(res);
            }
        }

        function save() {
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            if (!isValidity) return;

            const fd = getQueryParams("form");
            fd.SISN = SISN;
            $.ajax({
                url: submitURL,
                data: JSON.stringify(fd),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                if (!res.ErrorMessage) {
                    createDialogModal({
                        id: "DialogModal-Success", inner: "編輯成功！",
                        onHide: () => { window.location.href = '@Url.Action("Index")'; }
                    });
                } else {
                    createDialogModal({ id: "DialogModal-Error", inner: `編輯失敗！` + `${res?.ErrorMessage || ""}` })
                }
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `編輯失敗！` + `${res?.responseText || ""}` })
            }
        }
    </script>
}