@{
    ViewBag.Title = "庫存管理";
}
@section styles {
    @Html.Partial("DataGridScripts")
}
<style>
    .isMinStock td[field='StockStatus']>.datagrid-cell,
    .isMinStock td[field='StockAmount']>.datagrid-cell {
        color: rgb(229, 0, 0);
        font-weight: 500;
    }
</style>

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <div class="d-flex gap-2">
        <button class="btn btn-create" id="create">新增品項</button>
        <button class="btn btn-create" id="createInbound">新增入庫填報</button>
        <button class="btn btn-create" id="createOutbound">新增出庫填報</button>
    </div>
    <div class="search-area">
        <form class="form" method="post" action="">
            <div class="form-group">
                <label for="StockTypeSN">類別</label>
                <select class="form-select" name="StockTypeSN" id="StockTypeSN"></select>
            </div>
            <div class="form-group">
                <label for="StockName">品項名稱</label>
                <input class="form-control" id="StockName" name="StockName" type="text" />
            </div>
            <div class="form-group">
                <label for="StockStatus">狀態</label>
                <select class="form-select" name="StockStatus" id="StockStatus">
                    <option value="0">請選擇</option>
                </select>
            </div>
            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="reset" class="btn btn-clear" id="clear">清除</button>
                <button type="button" class="btn btn-export" id="export">匯出</button>
            </div>
        </form>
    </div>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        //const baseUrl = '/PlanManagement/';
        var getGridJSON = '@Url.Action("Stock_Management", "Datagrid")';
        var DataGrid;

        const fakedata = [
            {
                Type: "潤滑劑",
                SName: '軸承潤滑劑1',
                Status: "低於警戒值",
                Num: "2",
                Init: "罐",
                WarningVal: "5"
            },
            {
                Type: "潤滑劑",
                SName: '軸承潤滑劑2',
                Status: "充足",
                Num: "10",
                Init: "罐",
                WarningVal: "5"
            },
            {
                Type: "潤滑劑",
                SName: '軸承潤滑劑3',
                Status: "充足",
                Num: "10",
                Init: "罐",
                WarningVal: "5"
            },
        ]
        $(async function () {
            if (!isAuth("1", "2")) {
                document.getElementById('create').remove();
                document.getElementById('createInbound').remove();
                document.getElementById('createOutbound').remove();
                document.getElementById('export').remove();
            }

            await pushSelect("StockTypeSN", '@Url.Action("StockType", "DropDownList")');
            await pushSelect("StockStatus", '@Url.Action("StockStatus", "DropDownList")');
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: getGridJSON,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'IPSN',
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    isAuth("1", "2") && dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    isAuth("1") && dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { disabled: row.CanDelete != true, className: "btn btn-datagrid btn-delete" })),
                ]],
                columns: [[
                    dg.hiddenColumn('SISN'),
                    dg.column('StockType', '類別', 200),
                    dg.column('StockName', '品項名稱', 350),
                    dg.column('StockStatus', '狀態', 200),
                    dg.column('StockAmount', '數量', 200),
                    dg.column('Unit', '單位', 200),
                    dg.column('MinStockAmount', '警戒值', 200),
                ]],
                rowStyler: (i, row) => row.StockStatus === "低於警戒值" ? { class: 'isMinStock' } : undefined
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Detail/${row.SISN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.SISN}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.SISN}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {


            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });

            $("#createInbound").click(function () {
                window.open(`${baseUrl}/CreateInbound`, "_self");
            });

            $("#createOutbound").click(function () {
                window.open(`${baseUrl}/CreateOutbound`, "_self");
            });
            //點擊 匯出btn
            $("#export").click(function () {
                const fd = new FormData();
                for (const [key, value] of Object.entries(getQueryParams())) {
                    fd.append(key, value);
                }
                $.ajax({
                    url: "@Url.Action("ExportToExcel", "Stock_Management")",
                    data: fd,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    success: onSuccess,
                    error: onError,
                    xhrFields: {
                        responseType: 'blob'  //指定響應類型為blob
                    },
                })
                function onSuccess(res) {
                    console.log("onSuccess res:", res);
                    let a = document.createElement('a');
                    let url = window.URL.createObjectURL(res);
                    a.href = url;
                    a.download = `庫存管理.xlsx`;
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
                function onError(res) {
                    console.log(res);
                    createDialogModal({ id: "DialogModal-Error", inner: `匯出失敗！` + `${res?.responseText || ""}` })
                }
            })
        }
    </script>
}
