@{
    ViewBag.Title = "庫存管理";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/easyui-datagrid-client-paging.js"></script>

<h2>@ViewBag.Title</h2>

<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="ImgNum">庫存編號</label>
            <input class="form-control" id="ImgName" name="ImgName" type="text" />
        </div>
        <div>
            <input class="form-control" id="Area" name="Area" type="text" hidden />
        </div>

        <div class="form-group">
            <label for="ImgType">品項</label>
            <select class="form-select" name="ImgType" id="ImgType">
                <option value="">請選擇</option>
            </select>
        </div>
        <div>
            <input class="form-control" id="Floor" name="Floor" type="text" hidden />
        </div>

        <div class="form-group">
            <label for="ImgNum">品名</label>
            <input class="form-control" id="ImgName" name="ImgName" type="text" />
        </div>
        <div>
            <input class="form-control" id="Area" name="Area" type="text" hidden />
        </div>


        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
            <button type="button" class="btn btn-export" id="export">匯出</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>
<script src="/Scripts/datagrid-management.js"></script>
<script src="/Scripts/tool.js"></script>
<script src="/Scripts/AreaFloorEvent.js"></script>
<script>

   // var getGridJSON = '@Url.Action("AsBuiltDrawing_Management", "Datagrid")';
    var DataGrid;
    var baseUrl = '/' + window.location.pathname.split('/')[1];

    const fakeData = [
        {
            MinStockAmount: "50",
            SISN: "S0001",
            StockType: "備料",
            StockName: "軸承潤滑劑",
            StockAmount: "50",
            StockAvaliableAmount: "48",
            Unit: "罐"

        }
    ]

    $(async function () {
        //await AreaFloorEvent();
        //await pushSelect("System", '@Url.Action("System", "DropDownList")');
        Initialize_DataGrid();
        addSearchAreaClickEvent();

        const Systems = document.getElementById('System')
        @*Systems.addEventListener("change", function () {
            pushSelect("SubSystem", `@Url.Action("SubSystem", "DropDownList")?System=${$('#System').val()}`);
        });*@
    });

    function Initialize_DataGrid(getGridJSON) {
        let dg = new DG();
        DataGrid = dg.init("#DataGrid", {
            //url: getGridJSON,
            data: fakeData,
            method: 'GET',
            queryParams: getQueryParams(),
            idField: 'DDSN',
            //sortName: 'ImgNum',
            frozenColumns: [[
                dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "警戒值設定", "edit")),
            ]],
            columns: [[
                dg.column('MinStockAmount', '警戒值數量', 180),
                dg.column('SISN', '庫存編號', 200),           
                dg.column('StockType', '品項', 180),
                dg.column('StockName', '品名', 180),
                dg.column('StockAmount', '庫存實際量', 180),
                dg.column('StockAvaliableAmount', '庫存可用數量', 180),
                dg.column('Unit', '單位', 180),
            ]]
        })
        dg.addEvent("detail", function (row, i) {
            window.open(`${baseUrl}/Read/${row.SISN}`, "_blank")

        })
        dg.addEvent("edit", function (row, i) {
            window.open(`${baseUrl}/MinStockAmountSetting/${row.SISN}`, "_self")
        })
    }

    //search area onClick Function
    function addSearchAreaClickEvent() {
        $("#clear").click(function () {
            $("form")[0].reset();
            pushSelect("FSN", '@Url.Action("Floor", "DropDownList")');
            pushSelect("SubSystem", '@Url.Action("SubSystem", "DropDownList")');
        });

        $("#search").click(function () {
            DataGrid.datagrid('load', getQueryParams());
        });

        $("#create").click(function () {
            window.open(`${baseUrl}/Create`, "_self");
        });
    }
</script>
