@{
    ViewBag.Title = "新增入庫";
}

<style>
    .edit-area-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
        color: #CCFCFF;
    }
    .paths-btn {
        width: 40px;
        height: 40px;
        background: #44BCC2;
        color: #fff;
        border-radius: 5px;
        border: 0;
        opacity: 1;
        transition: all .3s;
    }
</style>

<h2>@ViewBag.Title</h2>

<div class="datatable mt-5 mb-5 datatable-table">
    <input type="text" id="POSN" name="POSN" value="@ViewBag.id" hidden readonly="readonly">
    <input type="text" id="POISN" name="POISN" value="@ViewBag.id" hidden readonly="readonly">
    <div class="datatable-body" id="POSNItem">
        <table class="datatable-table" id="SelectObject"></table>
    </div>
</div>

<section style="max-width: 855px;margin: auto;">
    
    <div class="edit-area flex-wrap flex-md-row justify-content-lg-start" style="gap: 1rem 2rem;">
        <div class="w-100 edit-area-title">1.資料確認</div>
        <form class="form d-lg-contents">
            <div class="d-flex flex-wrap w-100 align-items-center" style="gap: 0.5rem 2rem;">
                <div class="form-group w-lg-460px">
                    <input class="form-control" type="text" id="SearchStock" name="SearchStock">
                </div>
                <div>
                    <button class="paths-btn" id="path-search" data-bs-toggle="modal" data-bs-target="#DatagridModal-Repair"><i class="icon-search"></i></button>
                </div>
                <div style="font-size:18px; color:white;">(搜尋庫存是否有同品項品名)</div>
            </div>
            <div class="form-group w-lg-250px required">
                <label for="StockType">品項</label>
                <select class="form-select" name="StockType" id="StockType">
                    <option value="">選擇</option>
                </select>
            </div>

            <div class="form-group w-lg-250px required">
                <label for="StockName">庫存品名</label>
                <input class="form-control" id="StockName" name="StockName" type="text" maxlength="50" required />
            </div>

            <div class="form-group w-lg-250px">
                <label for="MName">廠商品名</label>
                <input class="form-control" id="MName" name="MName" type="text" maxlength="50" />
            </div>
            
            <div class="form-group w-lg-250px">
                <label for="Size">尺寸</label>
                <input class="form-control" id="Size" name="Size" type="text" maxlength="50" />
            </div>

            <div class="form-group w-lg-250px">
                <label for="Brand">廠牌</label>
                <input class="form-control" id="Brand" name="Brand" type="text" maxlength="50" />
            </div>

            <div class="form-group w-lg-250px">
                <label for="Model">型號</label>
                <input class="form-control" id="Model" name="Model" type="text" maxlength="50" />
            </div>

            <div class="form-group w-lg-250px">
                <label for="Amount">庫存數量</label>
                <input class="form-control" id="Amount" name="Amount" type="number" />
            </div>

            <div class="form-group w-lg-250px required">
                <label for="Unit">庫存單位</label>
                <select class="form-select" name="Unit" id="Unit" required>
                    <option value="">選擇</option>
                </select>
            </div>

            <div class="form-group w-lg-250px required">
                <label for="ExpiryDate">到期日</label>
                <input class="form-control" id="ExpiryDate" name="ExpiryDate" type="date" required />
            </div>
        </form>
        <hr class="edit-area-hr">
        <div class="w-100 edit-area-title">2.RFID標籤</div>
        <form class="form d-lg-contents">
            <div class="form-group w-lg-250px required">
                <label for="RFIDStart">標籤編碼(起始值)</label>
                <input class="form-control input-readonly" id="RFIDStart" name="RFIDStart" type="text" maxlength="50" readonly="readonly" />
            </div>

            <div class="form-group w-lg-250px required">
                <label for="RFIDAmount">標籤張數</label>
                <input class="form-control" id="RFIDAmount" name="RFIDAmount" type="text" maxlength="50" required />
            </div>
        </form>
        <hr class="edit-area-hr">
        <div class="w-100 edit-area-title">3.存放位置</div>
        <form class="form d-lg-contents">
            <div class="d-flex flex-wrap w-100 align-items-center" style="gap: 1rem 2rem;">
                <div class="w-100" style="font-size:18px; color:white;">擺放位置(倉庫,貨架,排,層,區)</div>
                <div class="form-group w-lg-134px">
                    <select class="form-select" name="Warehouse" id="Warehouse">
                        <option value="">倉庫</option>
                    </select>
                </div>
                <div class="form-group w-lg-134px">
                    <select class="form-select" name="Shelf" id="Shelf">
                        <option value="">貨架</option>
                    </select>
                </div>
                <div class="form-group w-lg-100px">
                    <select class="form-select" name="Row" id="Row">
                        <option value="">排</option>
                    </select>
                </div>
                <div class="form-group w-lg-100px">
                    <select class="form-select" name="Layer" id="Layer">
                        <option value="">層</option>
                    </select>
                </div>
                <div class="form-group w-lg-100px">
                    <select class="form-select" name="Area" id="Area">
                        <option value="">區</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="w-100 d-flex justify-content-center" style="margin-top:2rem; margin-bottom:1rem;">
            <button class="btn btn-search" id="StockIn-create" data-bs-toggle="modal" data-bs-target="#DatagridModal-StockIn">產生標籤列表</button>
        </div>
    </div>
</section>

<div class="datatable datatable-fill mt-5 mb-5 datatable-table">
    <div class="datatable-body" id="POSNItem">
        <table class="datatable-table" id="SelectObject2"></table>
    </div>
</div>


<script src="/Scripts/datatable.js"></script>
<script>
     const POISN = '@ViewBag.id';
    //let apiUrl = '@Url.Action("ReadBody", "Report_Management")' + `/${POISN}`;
    let apiUrl = null

    // DataTable 1
    const GridOptions = {
        thead: true,
        columns: [
            { id: "Kind", title: "類別" },
            { id: "ItemName", title: "品名" },
            { id: "Size", title: "尺寸" },
            { id: "Brand", title: "廠牌" },
            { id: "Model", title: "型號" },
            { id: "Amount", title: "數量" },
            { id: "Packaging", title: "包裝型式" },
            { id: "Memo", title: "備註" },
        ]
    }
    const GridOptions2 = {
        thead: true,
        columns: [
            { id: "ExternalRFID", title: "RFID標籤(外)", width: "8.4%" },
            { id: "RFID_StockType", title: "品項" },
            { id: "RFID_StockName", title: "品名" },
            { id: "RFID_MName", title: "廠商品名" },
            { id: "RFID_Size", title: "尺寸" },
            { id: "RFID_Brand", title: "廠牌" },
            { id: "RFID_Model", title: "型號" },
            { id: "RFID_Amount", title: "庫存數量", width: "4.5%" },
            { id: "RFID_Packaging", title: "庫存單位", width: "5.6%" },
            { 
                id: "RFID_ExpiryDate", title: "到期日", width: "10%",
                formatter: (data, row, index) => {
                    return `<input type="date" class="form-control" value="2023-05-12"/>`
                }
            },
            { 
                id: "RFID_Packaging", title: "擺放位置(倉庫,貨架,排,層,區)",
                formatter: (data, row, index) => {
                    return `
                    <div class="d-flex" style="gap:0 10px;">
                        <select class="form-select" id="RFID_Warehouse" style="width:24%">
                            <option value="A104" ${data == "A104" ? "selected" : ""}>A104</option>
                        </select>
                        <select class="form-select" id="RFID_Shelf" style="width:19%">
                            <option value="5" ${data == "5" ? "selected" : ""}>5</option>
                        </select>
                        <select class="form-select" id="RFID_Row" style="width:19%">
                            <option value="6" ${data == "6" ? "selected" : ""}>6</option>
                        </select>
                        <select class="form-select" id="RFID_Layer" style="width:19%">
                            <option value="2" ${data == "2" ? "selected" : ""}>2</option>
                        </select>
                        <select class="form-select" id="RFID_Area" style="width:19%">
                            <option value="1" ${data == "1" ? "selected" : ""}>1</option>
                        </select>
                    </div>
                    `
                }
            },
        ]
    }
    const fakeData = {
        SelectObject: [
            {
                Kind:"備料",
                ItemName:"藥劑-1",
                Size:"1L",
                Brand:"A廠牌",
                Model:"XMA-56",
                Amount:"5",
                Packaging:"250g/罐",
                Memo:"已檢查過 都沒問題!"
            }
        ],
        SelectObject2: [
            {
                ExternalRFID:"A101",
                RFID_StockType:"備料",
                RFID_StockName:"藥劑-1",
                RFID_MName:"藥劑-1",
                RFID_Size:"1L",
                RFID_Brand:"OXO",
                RFID_Model:"OXO",
                RFID_Amount:"1",
                RFID_Packaging:"罐",
                RFID_ExpiryDate:"2023/05/12",
            },
            {
                ExternalRFID:"A101",
                RFID_StockType:"備料",
                RFID_StockName:"藥劑-1",
                RFID_MName:"藥劑-1",
                RFID_Size:"1L",
                RFID_Brand:"OXO",
                RFID_Model:"OXO",
                RFID_Amount:"1",
                RFID_Packaging:"罐",
                RFID_ExpiryDate:"2023/05/12",
            }
        ]
    };


    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#SelectObject").append(createTableGrid(res.SelectObject, GridOptions))
            $("#SelectObject2").append(createTableGrid(res.SelectObject2, GridOptions2))
        }
        function onError(res) {
            console.log(res);
        }
    }

    window.onload = function () {

        readData(apiUrl);
    }

</script>