@{
    ViewBag.Title = "新增入庫";
}
@section styles {
    @Styles.Render("~/Content/easyui/themes/default/easyui.css")
    @Styles.Render("~/Content/tagbox.css")
    <script src="/Content/easyui/jquery.min.js" defer></script>
    <script src="/Content/easyui/jquery.easyui.min.js" defer></script>
    <script src="/Scripts/datatable.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <style>
        .edit-area-title {
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            line-height: 29px;
            text-align: left;
            color: #CCFCFF;
        }

        .g-fill {
            grid-column: 1 / -1;
        }

        .edit-area .form {
            width: 100%;
        }

        @@media (min-width: 576px) {
            .edit-area .form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @@media (min-width: 992px) {
            .edit-area .form-group .form-control.w-lg-460px {
                width: 460px !important;
            }

            .edit-area .form {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<div class="edit-area edit-area-small">
    <div class="edit-area-title">1.資料確認</div>
    <form class="form">

        <div class="form-group required">
            <label for="StockType">品項</label>
            <select class="form-select" name="StockType" id="StockType" required>
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group required">
            <label for="StockName">庫存品名</label>
            <input class="form-control" id="StockName" name="StockName" type="text" maxlength="50" required />
        </div>

        <div class="form-group">
            <label for="MName">廠商品名</label>
            <input class="form-control" id="MName" name="MName" type="text" maxlength="50" />
        </div>

        <div class="form-group">
            <label for="Size">尺寸</label>
            <input class="form-control" id="Size" name="Size" type="text" maxlength="50" />
        </div>

        <div class="form-group">
            <label for="Brand">廠牌</label>
            <input class="form-control" id="Brand" name="Brand" type="text" maxlength="50" />
        </div>

        <div class="form-group">
            <label for="Model">型號</label>
            <input class="form-control" id="Model" name="Model" type="text" maxlength="50" />
        </div>

        <div class="form-group required">
            <label for="Amount">庫存數量</label>
            <input class="form-control" id="Amount" name="Amount" type="number" step="any" min="0" required />
        </div>

        <div class="form-group required">
            <label for="Unit">庫存單位</label>
            <select class="form-select" name="Unit" id="Unit" required>
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group required">
            <label for="ExpiryDate">到期日</label>
            <input class="form-control" id="ExpiryDate" name="ExpiryDate" type="date" required />
        </div>
    </form>
    <hr class="edit-area-hr">
    <div class="edit-area-title">2.存放位置</div>
    <form class="form">
        <div class="form-group g-fill" style="font-size:18px; color:white;">擺放位置(倉庫, 貨架, 排, 層, 區)</div>
        <div class="form-group g-fill">
            <input class="form-control" type="text" name="Location" id="Location" maxlength="30">
        </div>
    </form>
    <hr class="edit-area-hr">
    <div class="edit-area-title">3.RFID標籤</div>
    <form class="form">
        <div class="form-group required">
            <label for="RFIDAmount">標籤張數</label>
            <input class="form-control" id="RFIDAmount" name="RFIDAmount" type="number" min="0" max="99" step="1"
                value="1" required />
        </div>
    </form>
    <div class="mt-4 mb-3">
        <button class="btn btn-search" id="StockIn-create">產生標籤列表</button>
    </div>
</div>

<div class="datatable datatable-fill mt-5 mb-5 datatable-table d-none">
    <form class="datatable-body overflow-auto">
        <table class="datatable-table" id="POSNItem">
            <thead>
                <tr>
                    <th class="datatable-header" style="width:6rem"><span>品項</span></th>
                    <th class="datatable-header" style="width:10rem"><span>品名</span></th>
                    <th class="datatable-header" style="width:10rem"><span>廠商品名</span></th>
                    <th class="datatable-header" style="width:6rem"><span>尺寸</span></th>
                    <th class="datatable-header" style="width:6rem"><span>廠牌</span></th>
                    <th class="datatable-header" style="width:6rem"><span>型號</span></th>
                    <th class="datatable-header" style="width:6rem"><span>庫存數量</span></th>
                    <th class="datatable-header" style="width:7rem"><span>庫存單位</span></th>
                    <th class="datatable-header" style="width:10rem"><span>到期日</span></th>
                    <th class="datatable-header" style="width:24rem"><span>擺放位置(倉庫, 貨架, 排, 層, 區)</span></th>
                </tr>
            </thead>
            <tbody id="item-area">
                <tr id="sample-input-tr">
                    <td><input type="text" id="StockType" hidden required><span id="d-StockType"></span></td>
                    <td><span id="d-StockName"></span></td>
                    <td><span id="d-MName"></span></td>
                    <td><span id="d-Size"></span></td>
                    <td><span id="d-Brand"></span></td>
                    <td><span id="d-Model"></span></td>
                    <td><span id="d-Amount"></span></td>
                    <td><input type="text" id="Unit" hidden required><span id="d-Unit"></span></td>
                    <td><input type="date" class="form-control" id="ExpiryDate" required></td>
                    <td><input type="text" class="form-control" id="Location" maxlength="30" required></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增及列印</button>
</div>

@section scripts {
    <script>
        let sampleTr;

        $(async function () {
            await pushSelect("StockType", '@Url.Action("StockType", "DropDownList")');
            await pushSelect("Unit", '@Url.Action("Unit", "DropDownList")');

            sampleTr = new SampleTr();

            $('#StockName').combobox({
                url: `@Url.Action("FormStockName", "DropDownList")?StockType=${$("#StockType").val()}`,
                method: 'GET',
                textField: 'Text',
                valueField: 'Value',
                hasDownArrow: false,
                validateOnCreate: false,
                //prompt: "搜尋庫存是否有同品項品名",
                cls: "form-control",
                data: [
                    { Text: "aaa", Value: "aaa" }
                ],
                onSelect(record) {
                    console.log("record:", record)
                    //取得該品名資訊
                    $.getJSON(`@Url.Action("GetStockInfo", "StockIn_Management")?SISN=${record.Value}`, (res) => {
                        //放入資料
                        $("#StockType").val(res.StockType)
                        $("#StockName").val(res.StockName)
                        $("#Unit").val(res.Unit)
                    })
                }
            });


            addButtonEvent();
        })

        function SampleTr() {
            this.count = 0;
            this.list = $("#item-area")
            this.init = async function () {
                this.sample = $("#sample-input-tr").clone();

                $("#sample-input-tr").remove();
            }
            this.create = function (data = null) {
                let item = this.sample.clone();
                item.attr('id', this.count);
                this.list.append(item);
                if (data) {
                    for (const [k, v] of Object.entries(data)) {
                        if (/d-\S+/.test(k)) {
                            item.find("#" + k).text(v)
                            continue
                        }
                        item.find("#" + k).val(v)
                    }
                }
                this.count++;
            }
            this.calc = function () {
                return this.list.children().toArray().map((e) => {
                    return {
                        StockType: $(e).find("#StockType").val(),
                        StockName: $(e).find("#d-StockName").text(),
                        MName: $(e).find("#d-MName").text(),
                        Size: $(e).find("#d-Size").text(),
                        Brand: $(e).find("#d-Brand").text(),
                        Model: $(e).find("#d-Model").text(),
                        Amount: $(e).find("#d-Amount").text(),
                        Unit: $(e).find("#Unit").val(),
                        Location: $(e).find("#Location").val(),
                        ExpiryDate: $(e).find("#ExpiryDate").val(),
                    }
                })
            }
            this.checkValidity = () => {
                return this.list.children().length > 0
            }
            this.init();
            return this;
        }

        function save() {
            let forms = [].slice.call(document.querySelectorAll(".datatable form"))
            let isValidity = forms.map(e => e.reportValidity()).every(e => e);
            console.log("todo save():", isValidity)
            if (!isValidity) return;

            var form = new FormData();
            if (!sampleTr.checkValidity()) {
                onError({ responseText: "請至少產生一個標籤！" })
                return;
            }
            sampleTr.calc().forEach((item, i) => {
                form.append(`StockItem[${i}].StockType`, item.StockType);
                form.append(`StockItem[${i}].StockName`, item.StockName);
                form.append(`StockItem[${i}].MName`, item.MName);
                form.append(`StockItem[${i}].Size`, item.Size);
                form.append(`StockItem[${i}].Brand`, item.Brand);
                form.append(`StockItem[${i}].Model`, item.Model);
                form.append(`StockItem[${i}].Amount`, item.Amount);
                form.append(`StockItem[${i}].Unit`, item.Unit);
                form.append(`StockItem[${i}].ExpiryDate`, item.ExpiryDate);
                form.append(`StockItem[${i}].Location`, item.Location);
            })
            console.log(Object.fromEntries(form.entries()));
            $.ajax({
                url: '@Url.Action("CreateStockIn", "StockIn_Management")',
                data: form,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })
            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "新增成功！",
                    onHide: () => { window.location.href = "/StockIn_Management/Management"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        }

        function addButtonEvent() {
            $("#SearchStockButton").click(function () {
                $('#SearchStock').combobox("showPanel")
            })
            $("#StockIn-create").click(function () {
                let forms = [].slice.call(document.querySelectorAll(".edit-area form"))
                let isValidity = forms.map(e => e.reportValidity()).every(e => e);
                console.log("todo save():", isValidity)
                if (!isValidity) return;

                let e = $(".edit-area")

                //TODO 檢查有無重複
                var form = new FormData();
                form.append("StockType", e.find("#StockType").val())
                form.append("StockName", e.find("#StockName").val())
                form.append("Unit", e.find("#Unit").val())

                $.ajax({
                    url: '@Url.Action("CheckDuplicateStockItem", "StockIn_Management")',
                    data: form,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    success() {
                        //同品項同品名同單位
                        if (res.IsDuplicate) {
                            createStockIn()
                            return
                        }
                        //有不同單位
                        console.log(res.Units)
                        createDialogModal({ id: "DialogModal-Error", inner: `產生失敗！` })
                        //[ {Text: "", Value: ""} ]
                    }
                })

                function createStockIn() {
                    let data = {
                        StockType: e.find("#StockType").val(),
                        "d-StockType": e.find("#StockType option:selected").text(),
                        "d-StockName": e.find("#StockName").val(),
                        "d-MName": e.find("#MName").val(),
                        "d-Size": e.find("#Size").val(),
                        "d-Brand": e.find("#Brand").val(),
                        "d-Model": e.find("#Model").val(),
                        "d-Amount": e.find("#Amount").val(),
                        Unit: e.find("#Unit").val(),
                        "d-Unit": e.find("#Unit option:selected").text(),
                        ExpiryDate: e.find("#ExpiryDate").val(),
                        Location: e.find("#Location").val(),
                    }

                    $("#POSNItem").closest(".datatable").removeClass("d-none")
                    sampleTr.list.children().remove()
                    for (let i = 0; i < $("#RFIDAmount").val(); i++) {
                        sampleTr.create(data)
                    }
                }

            })

            $("#back").click(function () {
                history.back();
            })

            $("#submit").click(function () {
                save();
            })
        }
    </script>
}