@{
    ViewBag.Title = "新增入庫";
}

<h2>@ViewBag.Title</h2>

<div class="datatable mt-5 datatable-table">
    <input type="text" id="POSN" name="POSN" value="@ViewBag.id" hidden readonly="readonly">
    <input type="text" id="POISN" name="POISN" value="@ViewBag.id" hidden readonly="readonly">
    <div class="datatable-body" id="POSNItem">
        <table class="datatable-table" id="SelectObject"></table>
    </div>
</div>

<script src="/Scripts/datatable.js"></script>
<script>
     const POISN = '@ViewBag.id';
    //let apiUrl = '@Url.Action("ReadBody", "Report_Management")' + `/${POISN}`;
    let apiUrl = null

    const GridOptions = {
        thead: true,
        columns: [
            { id: "Kind", title: "類別" },
            { id: "ItemName", title: "品名" },
            { id: "Size", title: "尺寸" },
            { id: "Brand", title: "廠牌" },
            { id: "Model", title: "型號" },
            { id: "Amount", title: "數量" },
            { id: "Packaging", title: "包裝型式" },
            { id: "Memo", title: "備註" },
        ]
    }
    const fakeData = {
        SelectObject: [
            {
                Kind:"備料",
                ItemName:"藥劑-1",
                Size:"1L",
                Brand:"A廠牌",
                Model:"XMA-56",
                Amount:"5",
                Packaging:"250g/罐",
                Memo:"已檢查過 都沒問題!"
            }
        ]
    };

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#SelectObject").append(createTableGrid(res.SelectObject, GridOptions))
        }
        function onError(res) {
            console.log(res);
        }
    }

    window.onload = function () {

        readData(apiUrl);
    }

</script>