@{
    ViewBag.Title = "定期保養單 審核";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/dataTable/InspectionPlanMaintain.js" defer></script>
    <script src="/Scripts/ImageDisplay.js" defer></script>
    <script src="/Scripts/dataTable/EquipmentInfoModal.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area edit-area-md">
        <div class="datatable">
            <div class="datatable-header">保養資料</div>
            <div class="datatable-body">
                <table class="datatable-table" id="MaintainDetail"></table>
            </div>
        </div>

        <div class="datatable">
            <div class="datatable-header">保養填報</div>
            <div class="datatable-body">
                <table class="datatable-table" id="ReportDetail"></table>
            </div>
        </div>
        <hr class="hr-dashed">
        <div class="edit-area flex-wrap flex-md-row justify-content-lg-between" style="gap: 1rem 2rem;">
            <form class="form">
                <div class="form-group-zone">
                    <div class="form-group">
                        <label for="AuditId">審核者</label>
                        <input class="form-control" id="AuditId" name="AuditId" type="text" disabled />
                    </div>

                    <div class="form-group col-3fr required">
                        <label for="AuditReason">審核意見</label>
                        <textarea class="form-control" id="AuditReason" name="AuditReason" rows="3" cols="50"
                            required></textarea>
                    </div>

                    <div class="form-group radio-group required">
                        <label for="AuditResult">審核結果</label>
                        <div class="d-flex gap-4">
                            <label class="" for="AuditResult_1">
                                <input type="radio" class="form-check-input" id="AuditResult_1" name="AuditResult"
                                    value="true">
                                通過
                            </label>
                            <label class="" for="AuditResult_2">
                                <input type="radio" class="form-check-input" id="AuditResult_2" name="AuditResult"
                                    value="false">
                                不通過
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">送出</button>
</div>


@section scripts {
    <script>
        const UserName = '@ViewBag.MyName';
        const url = window.location.search;
        const EMFSN = new URLSearchParams(url).get('EMFSN');
        let apiUrl = '@Url.Action("ReadBody", "Maintain_Management")?emfsn=' + `${EMFSN}`;

        const fakeData = {
            Datas: {
                EMFSN: "M241226000014",
                Status: "審核未過",
                MaintainName: "皮帶之保養",
                Maintainer: "王曉明、任趙仁",
                EName: "軸承潤滑",
                EState: "正常",
                NO: "E00003",
                Location: "生物處理機房 軸電器儀控室層",
                Period: "3次/週",
                LastMaintainDate: "2022/01/01",
                NextMaintainDate: "2024/01/01",
                ReportId: "任趙仁",
                ReportTime: "2024/12/23 17:22",
                ReportContent: "保養完成",
            }
        }

        $(function () {
            addButtonEvent();
            readData(apiUrl);
        })

        function readData(url = null) {

            url == null ? onSuccess(apiUrl) :
                $.ajax({
                    url: url,
                    type: "GET",
                    //data: EMFSN,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);
                const data = res.Datas
                document.getElementById('AuditId').value = UserName;
                DT.createTableInner("#MaintainDetail", data, [
                    { title: "保養單號", id: "EMFSN" },
                    { title: "保養單狀態", id: "Status" },
                    { title: "保養項目", id: "MaintainName" },
                    { title: "執行人員", id: "Maintainer" },
                    { title: "設備名稱", id: "EName" },
                    { title: "設備狀態", id: "EState" },
                    { title: "設備編號", id: "NO" },
                    { title: "所在地點", id: "Location" },
                    {
                        title: "設備屬性", id: "ESN", type: "btn", nullable: true, button: {
                            text: "設備資料",
                            onClick(e, v) {
                                window.open(`/EquipmentInfo_Management/Detail/${v}`, '_blank')
                            }
                        }
                    },
                    { title: "保養週期", id: "Period" },
                    { title: "上次保養日", id: "LastMaintainDate" },
                    { title: "最近應保養日", id: "NextMaintainDate" },
                ])
                DT.createTableInner("#ReportDetail", data, [
                    { title: "填報者", id: "ReportId" },
                    { title: "填報時間", id: "ReportTime" },
                    { title: "保養填報", id: "ReportContent" },
                ])
            }
            function onError(res) {
                console.log(res);
            }
        }
        function save() {
            //重置自訂驗證錯誤訊息
            getAllParams().forEach((e) => {
                e.setCustomValidity('');
            })
            //自訂驗證錯誤
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            console.log("isValidity():", isValidity)
            if (!isValidity) return;

            var form = new FormData();
            const auditReason = document.querySelector('input[name="AuditResult"]:checked');
            const auditReasonValue = auditReason.value === "true";

            form.append("EMFSN", EMFSN);
            form.append("AuditReason", document.getElementById("AuditReason").value);
            form.append("AuditResult", auditReasonValue);

            console.log("最後傳送", Object.fromEntries(form.entries()));

            $.ajax({
                url: '@Url.Action("Audit", "Maintain_Management")',
                data: form,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                const msg = res.State === 'Success' ? '送出成功!' : res.ErrorMessage;
                createDialogModal({
                    id: "DialogModal-Success", inner: msg,
                    onHide: () => { window.location.href = "/Maintain_Management/Index"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `送出失敗！` + `${res?.responseText || ""}` })
            }
        }
    </script>
}