@{
    ViewBag.Title = "定期保養單管理";
}
@section styles {
    @Html.Partial("DataGridScripts")

    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/datatable.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <script src="/Scripts/AreaFloorEvent.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<div class="search-area">
    <form class="form" method="post" action="" id="ReportManagementForm">

        <div class="form-group">
            <label for="ASN">棟別</label>
            <select class="form-select" name="ASN" id="ASN">
                <option value="">請選擇</option>
            </select>
        </div>
        <div>
            <input class="form-control" id="Area" name="Area" type="text" hidden />
        </div>

        <div class="form-group">
            <label for="FSN">樓層</label>
            <select class="form-select" name="FSN" id="FSN">
                <option value="">請選擇</option>
            </select>
        </div>
        <div>
            <input class="form-control" id="Floor" name="Floor" type="text" hidden />
        </div>

        <div class="form-group">
            <label for="FormItemState">保養項目狀態</label>
            <select class="form-select" name="FormItemState" id="FormItemState">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PropertyCode">財產編碼</label>
            <input class="form-control" id="PropertyCode" name="PropertyCode" type="text" />
        </div>

        <div class="form-group">
            <label for="ESN">設備編號</label>
            <input class="form-control" id="ESN" name="ESN" type="text" />
        </div>

        <div class="form-group">
            <label for="EName">設備名稱</label>
            <input class="form-control" id="EName" name="EName" type="text" />
        </div>



        <div class="form-group">
            <label for="EMFISN">保養項目編號</label>
            <input class="form-control" id="MISN" name="MISN" type="text" />
        </div>

        <div class="form-group">
            <label for="MIName">保養項目</label>
            <input class="form-control" id="MIName" name="MIName" type="text" />
        </div>

        <div class="form-group">
            <label for="DateSelect">日期項目選擇</label>
            <select class="form-select" name="DateSelect" id="DateSelect">
                <option value="上次保養日期">上次保養日期</option>
                <option value="最近應保養日期">最近應保養日期</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DateFrom">日期(起)</label>
            <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
        </div>

        <div class="form-group">
            <label for="DateTo">日期(迄)</label>
            <input class="form-control" id="DateTo" name="DateTo" type="date" />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
            <button type="button" class="btn btn-export" id="export">匯出</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        var getGridJSON = '@Url.Action("MaintainForm_Management", "Datagrid")';
        var DataGrid;
        

        $(async function () {
            await AreaFloorEvent();
            await pushSelect("FormItemState", '@Url.Action("FormItemState", "DropDownList")');
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'EMFISN',
                //sortName: 'EMFISN',
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    //dg.frozenColumn('_locate', (v, row, i) => dg.eventButton(i, "編輯", "locate", { disabled: !(row.DBID == null || row.DBID == "") })),
                    dg.frozenColumn('_cancel', "", 111, (v, row, i) =>
                        dg.eventButton(i, "取消保留", "cancel", {
                            disabled: !(row.FormItemState == "保留中(待派工)" || row.FormItemState == "保留中(未完成)" || row.FormItemState == "保留中(審核未過)")
                        })
                    ),
                ]],
                columns: [[
                    dg.column('FormItemState', '保養項目狀態', 150),
                    dg.column('EState', '設備狀態', 100),
                    dg.column('Area', '棟別', 130),
                    dg.column('Floor', '樓層', 80),
                    dg.column('EName', '設備名稱', 220),
                    dg.column('PropertyCode', '財產編碼', 150),
                    dg.column('EMFISN', '保養單項目編號', 225),
                    dg.column('MIName', '保養項目', 200),
                    dg.column('Unit', '保養週期單位', 130),
                    dg.column('Period', '保養週期', 100),
                    dg.column('LastTime', '上次保養日期', 150),
                    dg.column('Date', '最近應保養日期', 150),
                    dg.hiddenColumn('DBID')
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Read/${row.EMFISN}`, "_blank")
            })
            dg.addEvent("locate", function (row, i) {
                window.open(`${baseUrl}/Locate/${row.EMFISN}`, "_self")
            })
            dg.addEvent("cancel", function (row, i) {
                let url = `${baseUrl}/Cancel/${row.EMFISN}`
                $.ajax({
                    url: url,
                    method: "Post",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success() {
                        createDialogModal({
                            id: "DialogModal-Success",
                            inner: "取消保留成功！",
                        })
                        DataGrid.datagrid('clearSelections');
                        DataGrid.datagrid('reload');
                    },
                    error() {
                        createDialogModal({
                            id: "DialogModal-Error",
                            inner: "取消保留失敗！",
                        })
                    }
                })
            })

            DataGrid.datagrid('sort', {
                sortName: 'Date',
                sortOrder: 'desc'
            });
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
                pushSelect("FSN", '@Url.Action("Floor", "DropDownList")');
                pushSelect("FormItemState", '@Url.Action("FormItemState", "DropDownList")');
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#export").click(function () {
                let form = new FormData($(".search-area form")[0])
                form.append("rows", DataGrid.datagrid("getData").total)
                $.ajax({
                    url: `${baseUrl}/Export`,
                    type: "POST",
                    data: form,
                    processData: false,
                    contentType: false,
                    success(result) {
                        if (result.FileDownloadName == '' || result.FileContents.length == 0) return
                        const bytes = new Uint8Array(result.FileContents);
                        const blob = new Blob([bytes], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                        const link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = result.FileDownloadName;
                        link.click();
                    }
                });
            });

            //$("#export").click(function () {
            //    window.open(`${baseUrl}/Export`, "_self");
            //});
        }
    </script>
}