@{
    ViewBag.Title = "刪除設備操作手冊";
}

<h2>@ViewBag.Title</h2>

<input type="text" id="EOMSN" name="EOMSN" value="@ViewBag.id" hidden>

<div class="datatable datatable-small mt-5">
    <div class="datatable-body">
        <table class="datatable-table"></table>
    </div>
</div>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>

<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/ImageDisplay.js"></script>
<script>
    const EOMSN = '@ViewBag.id';
    let apiUrl = '@Url.Action("ReadBody", "EquipmentOperatingManual")' + `/${EOMSN}`;
    //let apiUrl = null;

    const fakeData = {
        EOMSN: "A棟",
        System: "1F",
        SubSystem: "BT",
        EName: "BT-11",
        Brand: "M7-126",
        Model: "空調控制配置平面圖",
        ManualFile: "2023/04/11 10:30:26"
    }

    const sn = [
        { text: "設備操作手冊編號", value: "EOMSN" },
        { text: "系統別", value: "System" },
        { text: "子系統別", value: "SubSystem" },
        { text: "設備名稱", value: "EName" },
        { text: "廠牌", value: "Brand" },
        { text: "型號", value: "Model" },
        {
            text: "設備操作手冊檔案", value: "ManualFile", formatter: (v) => {
                if (v.split('.').at(-1).toLowerCase() === "pdf") {
                    return `<a href="/Files/EquipmentOperatingManual${v}" target="_blank">${v.split('/').at(-1)}</a>`;
                }
                else {
                    return `<div class="datatable-img-area justify-content-center"><div class="datatable-img-item"><img src="${v}"/></div></div>`;
                }
            }
        },
    ]

    $(async function () {
        addButtonEvent();
        readData(apiUrl);
    });

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        async function onSuccess(res) {
            console.log(res);

            $(".datatable-table").append(createTableInner(res, sn))
            ImageDisplay(".datatable-img-item>img");
        }
        function onError(res) {
            console.log(res);
        }
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })

        $("#delete").click(function () {
            let modal = createDialogModal({
                id: "DialogModal-Delete",
                inner: `
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    確認是否刪除？
                `,
                button: [
                    { className: "btn btn-cancel", cancel: true, text: "取消", },
                    { className: "btn btn-delete", text: "確定刪除", onClick: onDelete },
                ]
            })

            function onDelete(e) {
                let spinner = ` <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`;
                $(this).append(spinner);

                $.ajax({
                    url: '@Url.Action("DeleteEOM", "EquipmentOperatingManual")/' + EOMSN,
                    data: JSON.stringify(EOMSN),
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })


                function onSuccess(res) {
                    console.log(res);
                    modal.hide();
                    createDialogModal({
                        id: "DialogModal-Success",
                        inner: "刪除成功！",
                        onHide: () => {
                            let url = '@Url.Action("Management", "EquipmentOperatingManual")';
                            window.location.href = url;
                        }
                    })
                }

                function onError(res) {
                    console.log(res);
                    modal.hide();

                    createDialogModal({ id: "DialogModal-Error", inner: "刪除失敗！" })
                }
            }
        });
    }
</script>
