@{
    ViewBag.Title = "設備操作手冊";
}

@section styles {
    @Html.Partial("DataGridScripts", true)

    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="System">系統別</label>
            <select class="form-select" name="System" id="System">
                <option value="">請選擇</option>
            </select>
        </div>
        <div class="form-group">
            <label for="SubSystem">子系統別</label>
            <select class="form-select" name="SubSystem" id="SubSystem">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="EName">設備名稱</label>
            <input class="form-control" id="EName" name="EName" type="text" />
        </div>

        <div class="form-group">
            <label for="Brand">廠牌</label>
            <input class="form-control" id="Brand" name="Brand" type="text" />
        </div>

        <div class="form-group">
            <label for="Model">型號</label>
            <input class="form-control" id="Model" name="Model" type="text" />
        </div>
        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        var getGridJSON = '@Url.Action("EquipmentOperatingManual_Management", "EquipmentOperatingManual")';
        var DataGrid;
        var baseUrl = '/' + window.location.pathname.split('/')[1];

        const fakedata = [
            {
                EOMSN: "230502002",
                Filepath: "/EquipmentOperatingManual/230502002.pdf",
                System: "處理系統",
                SubSystem: "前處理系統",
                EName: "除霧皮帶輸送機",
                Brand: "A廠牌",
                Model: "HT-6356",
                UploadDate: "2023/05/02"
            },
            {
                EOMSN: "230502002",
                Filepath: "/EquipmentOperatingManual/230502002.pdf",
                System: "處理系統",
                SubSystem: "前處理系統",
                EName: "除霧皮帶輸送機",
                Brand: "A廠牌",
                Model: "HT-6356",
                UploadDate: "2023/05/02"
            }
        ]

        $(async function () {
            await pushSelect("System", '@Url.Action("System", "DropDownList")');

            const Systems = document.getElementById('System')
            Systems.addEventListener("change", function () {
                pushSelect("SubSystem", `@Url.Action("SubSystem", "DropDownList")?System=${$('#System').val()}`);
            });

            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                // data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'EOMSN',
                //sortName: 'EOMSN',
                frozenColumns: [[
                    dg.frozenColumn('_view', (v, row, i) => dg.eventButton(i, "檢視", "view")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { className: "btn btn-datagrid btn-delete" }))
                ]],
                columns: [[
                    dg.hiddenColumn('EOMSN'),
                    dg.hiddenColumn('FilePath'),
                    dg.column('System', '系統別', 180),
                    dg.column('SubSystem', '子系統別', 180),
                    dg.column('EName', '設備名稱', 240),
                    dg.column('Brand', '廠牌', 200),
                    dg.column('Model', '型號', 180)
                ]]
            })
            dg.addEvent("view", function (row, i) {
                window.open(`${row.FilePath}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.EOMSN}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.EOMSN}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
                pushSelect("SubSystem", '@Url.Action("SubSystem", "DropDownList")');
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}