@{
    ViewBag.Title = "巡檢維修紀錄管理";
}

@section styles {
    @Html.Partial("DataGridScripts", true)

    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <script src="/Scripts/AreaFloorEvent.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<div class="search-area">
    <form class="form" method="post" action="" id="ReportManagementForm">

        <div class="form-group">
            <label for="ASN">棟別</label>
            <select class="form-select" name="ASN" id="ASN">
                <option value="">請選擇</option>
            </select>
        </div>
        <div>
            <input class="form-control" id="Area" name="Area" type="text" hidden />
        </div>

        <div class="form-group">
            <label for="FSN">樓層</label>
            <select class="form-select" name="FSN" id="FSN">
                <option value="">請選擇</option>
            </select>
        </div>
        <div>
            <input class="form-control" id="Floor" name="Floor" type="text" hidden />
        </div>

        <div class="form-group">
            <label for="IPSN">巡檢計畫編號</label>
            <input class="form-control" id="IPSN" name="IPSN" type="text" />
        </div>

        <div class="form-group">
            <label for="IPName">巡檢計畫名稱</label>
            <input class="form-control" id="IPName" name="IPName" type="text" />
        </div>

        <div class="form-group">
            <label for="RepairState">維修單狀態</label>
            <select class="form-select" name="RepairState" id="RepairState">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ReportLevel">報修等級</label>
            <select class="form-select" name="ReportLevel" id="ReportLevel">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="RSN">報修單號</label>
            <input class="form-control" id="RSN" name="RSN" type="text" />
        </div>

        <div class="form-group">
            <label for="ESN">設備編號</label>
            <input class="form-control" id="ESN" name="ESN" type="text" />
        </div>

        <div class="form-group">
            <label for="EName">設備名稱</label>
            <input class="form-control" id="EName" name="EName" type="text" />
        </div>

        <div class="form-group">
            <label for="PropertyCode">財產編碼</label>
            <input class="form-control" id="PropertyCode" name="PropertyCode" type="text" />
        </div>

        <div class="form-group">
            <label for="ReportContent">報修說明</label>
            <input class="form-control" id="ReportContent" name="ReportContent" type="text" />
        </div>

        <div class="form-group">
            <label for="InformantUserID">報修人員</label>
            <select class="form-select" name="InformantUserID" id="InformantUserID">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="RepairUserID">施工人員</label>
            <select class="form-select" name="RepairUserID" id="RepairUserID">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="AuditUserID">審核人員</label>
            <select class="form-select" name="AuditUserID" id="AuditUserID">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DateSelect">日期項目選擇</label>
            <select class="form-select" name="DateSelect" id="DateSelect">
                <option value="1">計畫日期</option>
                <option value="2">報修日期</option>
                <option value="3">審核日期</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DateFrom">日期(起)</label>
            <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
        </div>

        <div class="form-group">
            <label for="DateTo">日期(迄)</label>
            <input class="form-control" id="DateTo" name="DateTo" type="date" />
        </div>
        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
            <button type="button" class="btn btn-export" id="export">匯出</button>
        </div>
    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        var getGridJSON = '@Url.Action("RepairRecord_Management", "Datagrid")';
        var DataGrid;
        var baseUrl = '/' + window.location.pathname.split('/')[1];

        $(async function () {
            await AreaFloorEvent();
            await pushSelect("RepairState", '@Url.Action("MaintainRecord_MaintainState", "DropDownList")');
            await pushSelect("ReportLevel", '@Url.Action("ReportLevel", "DropDownList")');
            await pushSelect("InformantUserID", '@Url.Action("InformantUserID", "DropDownList")');
            await pushSelect("RepairUserID", '@Url.Action("RepairUser", "DropDownList")');
            await pushSelect("InformantUserID", '@Url.Action("ReportUser", "DropDownList")');
            await pushSelect("AuditUserID", '@Url.Action("AuditUser_Repair", "DropDownList")');

            if (window.location.search) {
                let params = new URL(document.location).searchParams;
                params.forEach((v, k) => { $(`.search-area #${k}`).val(v); })
            }

            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });
        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'IPMSN',
                //sortName: 'IPMSN',
                frozenColumns: [[
                    dg.frozenColumn('_read', (v, row, i) => dg.eventButton(i, "詳情", "read")),
                    dg.frozenColumn('_audit', (v, row, i) => dg.eventButton(i, "審核", "audit", { disabled: !(row.RepairState == "待審核") })),
                    dg.frozenColumn('_supplement', (v, row, i) => dg.eventButton(i, "補件", "supplement", { disabled: !(row.RepairState == "待補件") })),
                    //dg.frozenColumn('_locate', (v, row, i) => dg.eventButton(i, "定位", "locate", { disabled: row.DBID == null || row.DBID == "" })),
                ]],
                columns: [[
                    dg.hiddenColumn('IPRSN'),
                    dg.column('IPSN', '計畫編號', 110),
                    dg.column('IPName', '計畫名稱', 250),
                    dg.column('PlanDate', '計畫日期', 150),
                    dg.column('RepairState', '維修單狀態', 120),
                    dg.column('ReportLevel', '報修等級', 106),
                    dg.column('Area', '棟別', 130),
                    dg.column('Floor', '樓層', 80),
                    dg.column('RSN', '報修單號', 116),
                    dg.column('Date', '報修時間', 200),
                    dg.column('PropertyCode', '財產編碼', 150),
                    dg.column('ESN', '設備編號', 110),
                    dg.column('EName', '設備名稱', 200),
                    dg.column('ReportContent', '報修內容', 300),
                    dg.column('InformantUserID', '報修人員', 110),
                    dg.column('RepairUserID', '施工人員', 110),
                    dg.column('AuditUserID', '審核人員', 110),
                    dg.column('AuditDate', '審核日期', 150),
                    dg.hiddenColumn('DBID')
                ]]
            })

            dg.addEvent("read", function (row, i) {
                window.open(`${baseUrl}/Read/${row.IPRSN}`, "_blank")
            })
            dg.addEvent("audit", function (row, i) {
                window.open(`${baseUrl}/Audit/${row.IPRSN}`, "_self")
            })
            dg.addEvent("supplement", function (row, i) {
                window.open(`${baseUrl}/Supplement/${row.IPRSN}`, "_self")
            })
            dg.addEvent("locate", function (row, i) {
                window.open(`${baseUrl}/Locate/${row.IPRSN}`, "_blank")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
                pushSelect("FSN", '@Url.Action("Floor", "DropDownList")');
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#export").click(function () {
                window.open(`${baseUrl}/Export`, "_self");
            });
        }
    </script>
}