@{
    ViewBag.Title = "領用申請管理";
}
@section styles {
    @Html.Partial("DataGridScripts")

    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">領用申請</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="SRState">狀態</label>
            <select class="form-select" name="SRState" id="SRState">
                <option value="">請選擇</option>
            </select>
        </div>
        <div class="form-group">
            <label for="SRSN">單號</label>
            <input class="form-control" id="SRSN" name="SRSN" type="text" />
        </div>

        <div class="form-group">
            <label for="SRMyName">申請人員</label>
            <input class="form-control" id="SRMyName" name="SRMyName" type="text" />
        </div>

        <div class="form-group">
            <label for="SRDept">申請部門</label>
            <input class="form-control" id="SRDept" name="SRDept" type="text" />
        </div>

        <div class="form-group">
            <label for="AuditMyName">審核人員</label>
            <input class="form-control" id="AuditMyName" name="AuditMyName" type="text" />
        </div>

        <div class="form-group">
            <label for="DateType">日期項目選擇</label>
            <select class="form-select" name="DateType" id="DateType">
                <option value="">請選擇</option>
                <option value="申請日期">申請日期</option>
                <option value="審核日期">審核日期</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DateStart">日期(起)</label>
            <input class="form-control" id="DateStart" name="DateStart" type="date" max='@($"{DateTime.Now:yyyy-MM-dd}")'/>
        </div>

        <div class="form-group">
            <label for="DateEnd">日期(迄)</label>
            <input class="form-control" id="DateEnd" name="DateEnd" type="date" max='@($"{DateTime.Now:yyyy-MM-dd}")'/>
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        var getGridJSON = '@Url.Action("StoresRequisition_Management", "Datagrid")';
        var DataGrid;
        

        const fakeData = [
            {
                SRState: "1",
                SRStateName: "待審核",
                SRSN: "SR230203001",
                SRDateTime: "2023/05/02",
                SRMyName: "王大明",
                SRDept: "機電部門",
                AuditMyName: "陳大明",
                AuditDate: "2023/05/03"
            },
            {
                SRState: "2",
                SRStateName: "審核完成",
                SRSN: "SR230203001",
                SRDateTime: "2023/05/02",
                SRMyName: "王大明",
                SRDept: "機電部門",
                AuditMyName: "陳大明",
                AuditDate: "2023/05/03"
            }
        ]

        $(async function () {
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'SRSN',
                //sortName: 'SRSN',
                frozenColumns: [[
                    dg.frozenColumn('_read', (v, row, i) => dg.eventButton(i, "詳情", "read")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    dg.frozenColumn('_audit', (v, row, i) => dg.eventButton(i, "審核", "audit", { disabled: row.SRState != "1" })),
                ]],
                columns: [[
                    dg.hiddenColumn('SRSN'),
                    dg.hiddenColumn('SRState'),
                    dg.column('SRStateName', '狀態', 160),
                    dg.column('SRDateTime', '申請日期', 240),
                    dg.column('SRMyName', '申請人員', 180),
                    dg.column('SRDept', '申請部門', 200),
                    dg.column('AuditMyName', '審核人員', 180),
                    //dg.column('AuditDate', '審核日期', 240),
                ]]
            })
            dg.addEvent("read", function (row, i) {
                window.open(`${baseUrl}/Read/${row.SRSN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.SRSN}`, "_self")
            })
            dg.addEvent("audit", function (row, i) {
                window.open(`${baseUrl}/Audit/${row.SRSN}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}