@{
    ViewBag.Title = "出庫管理";
}

@section styles {
    @Html.Partial("DataGridScripts")

    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增出庫</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="SORSN">出庫單號</label>
            <input class="form-control" id="SORSN" name="SORSN" type="text" />
        </div>

        <div class="form-group">
            <label for="SRSN">領用單號</label>
            <input class="form-control" id="SRSN" name="SRSN" type="text" />
        </div>

        <div class="form-group">
            <label for="StockOutMyName">出庫人員</label>
            <input class="form-control" id="StockOutMyName" name="StockOutMyName" type="text" />
        </div>

        <div class="form-group">
            <label for="ReceiverMyName">領取人員</label>
            <input class="form-control" id="ReceiverMyName" name="ReceiverMyName" type="text" />
        </div>

        <div class="form-group">
            <label for="StockOutContent">說明</label>
            <input class="form-control" id="StockOutContent" name="StockOutContent" type="text" />
        </div>

        <div class="form-group">
            <label for="StockOutDateStart">日期(起)</label>
            <input class="form-control" id="StockOutDateStart" name="StockOutDateStart" type="date" max='@($"{DateTime.Now:yyyy-MM-dd}")'/>
        </div>

        <div class="form-group">
            <label for="StockOutDateEnd">日期(迄)</label>
            <input class="form-control" id="StockOutDateEnd" name="StockOutDateEnd" type="date" max='@($"{DateTime.Now:yyyy-MM-dd}")'/>
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
            <button type="button" class="btn btn-export" id="export">匯出</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>

        var getGridJSON = '@Url.Action("StockOut_Management", "Datagrid")';
        var DataGrid;
        

        const fakeData = [
            {
                SORSN: "SO230502002",
                SRSN: "SR230501001",
                StockOutMyName: "王小明",
                StockOutDateTime: "2023/05/02",
                ReceiverMyName: "陳大明",
                StockOutContent: "維修設備需要"
            }
        ]

        $(async function () {
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'SORSN',
                //sortName: 'SORSN',
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                ]],
                columns: [[
                    dg.column('SORSN', '出庫單號', 180),
                    dg.column('SRSN', '領用單號', 200),
                    dg.column('StockOutMyName', '出庫人員', 180),
                    dg.column('StockOutDateTime', '出庫日期', 180),
                    dg.column('ReceiverMyName', '領取人員', 180),
                    dg.column('StockOutContent', '說明', 180),
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Read/${row.SORSN}`, "_blank")

            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });

            $("#export").click(function () {
                let form = new FormData($(".search-area form")[0])
                form.append("rows", DataGrid.datagrid("getData").total)
                $.ajax({
                    url: `/StockOut_Management/Export`,
                    type: "POST",
                    data: form,
                    processData: false,
                    contentType: false,
                    success(result) {
                        if (result.FileDownloadName == '' || result.FileContents.length == 0) return
                        const bytes = new Uint8Array(result.FileContents);
                        const blob = new Blob([bytes], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                        const link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = result.FileDownloadName;
                        link.click();
                    }
                });
            });
        }
    </script>
}