@{
    ViewBag.Title = "新增巡檢路線模板";
}
<link rel="stylesheet" href="/Content/samplepath.css">

<h2>@ViewBag.Title</h2>

<div class="search-area bg-transparent">
    <form class="form">
        <div class="form-group required">
            <label for="ASN">棟別</label>
            <select class="form-select" name="ASN" id="ASN" required>
                <option value="">請選擇</option>
            </select>
        </div>
        <input type="text" id="Area" name="Area" hidden>
        <div class="form-group required">
            <label for="FSN">樓層</label>
            <select class="form-select" name="FSN" id="FSN" required>
                <option value="">請選擇</option>
            </select>
        </div>
        <input type="text" id="Floor" name="Floor" hidden>
        <div class="form-group required">
            <label for="PathTitle">巡檢路線模板</label>
            <input type="text" class="form-control" name="PathTitle" id="PathTitle">
        </div>
        <div class="button-group justify-content-start">
            <button class="btn btn-search m-auto m-md-0 m-lg-auto m-xl-0" id="path-create">確認</button>
        </div>
    </form>
</div>

<div class="sample-path-area">
    <h3 class="sample-path-title">巡檢路線規劃</h3>

    <div class="edit-area">
        <div class="sample-path-group-area">
            <div class="input-group sample-path-group">
                <span class="input-group-text" id="sample-path-name"></span>
                <div type="text" class="form-control">
                    <nav>
                        <ol class="breadcrumb d-none" id="path-display">
                            <li class="breadcrumb-item">起點</li>
                            <li class="breadcrumb-item">終點</li>
                        </ol>
                    </nav>
                    <button class="path-btn" id="path-edit" data-bs-toggle="tooltip" title="手動修改路徑">
                        <i class="icon-edit"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="sample-path-draw-area d-none">
            <div class="sample-path-toolbar">
                <button class="path-icon path-icon-radio" id="path-draw" data-bs-toggle="tooltip"
                    data-bs-placement="right" title="規劃路徑">
                    <i class="icon-pen"></i>
                </button>
                <button class="path-icon path-icon-radio" id="path-eraser" data-bs-toggle="tooltip"
                    data-bs-placement="right" title="清除路徑">
                    <i class="icon-eraser"></i>
                </button>
                <!--
                <button class="path-icon path-icon-radio" id="path-device" data-bs-toggle="tooltip"
                    data-bs-placement="right" title="新增設備">
                    <i class="icon-tools"></i>
                </button>
                 -->
                <hr class="m-0">
                <button class="path-icon" id="path-reload" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="重新規劃路徑">
                    <i class="icon-reload"></i>
                </button>
                <button class="path-icon" id="path-auto" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="自動計算路徑">
                    <i class="icon-auto"></i>
                </button>
            </div>
            <div class="viewer3Dcontainer">
                <div id="viewer3d" style="margin:0;"></div>
                <canvas id="PathCanvas"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

<div class="modal fade sort-list-modal" tabindex="-1" id="sortRouteModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改路徑</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="sort-list-area"></div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-back" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-export" onclick="sortRouteModal.save()">儲存變更</button>
            </div>
        </div>
    </div>
</div>

<!--
<div class="modal fade sort-list-modal" tabindex="-1" id="createDeviceModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增自訂設備</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="deviceType" class="mb-2">設備類別</label>
                <input class="form-control" type="text" id="deviceType">
                <label for="deviceName" class="mb-2 mt-3">設備名稱</label>
                <input class="form-control" type="text" id="deviceName">
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-back" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-export" onclick="createDeviceModal.save()">新增設備</button>
            </div>
        </div>
    </div>
</div>
-->

<!-- CDN -->
<link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.4"
    type="text/css">
<script language="JavaScript"
    src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.4"></script>

<!-- Autodesk Forge -->
<script>
    var viewer;
    var viewerUrl = "../BimModels/Site01/Resource/3D View/林口(一)/林口(一).svf"; //svf檔路徑
    var myProfileSettings_up = {
        name: "mySettings_up",
        description: "My personal settings.",
        settings: {
            viewType: 1, //orthographic
        },
        persistent: [],
        extensions: {
            load: [],
            unload: [
                //減少toolbar物件
                "Autodesk.Section",
                "Autodesk.Measure",
                "Autodesk.Explode",
                "Autodesk.BimWalk",
                "Autodesk.Viewing.FusionOrbit"
            ]
        }
    }
    async function initializeViewer(callback) {
        Autodesk.Viewing.Private.InitParametersSetting.alpha = true; //設定透明背景可用
        var myViewerDiv = document.getElementById('viewer3d');
        viewer = new Autodesk.Viewing.GuiViewer3D(myViewerDiv, { profileSettings: myProfileSettings_up });
        var options = {
            'env': "Local",
            'document': viewerUrl //svf檔路徑
        };
        Autodesk.Viewing.Initializer(options, function () {
            viewer.start(options.document, options, onSuccessCallback, onErrorCallback);
            async function onSuccessCallback() {
                console.log("onSuccessCallback");
                viewer.setBackgroundOpacity(0);
                viewer.setBackgroundColor();
                viewer.setLightPreset(16);

                viewer.toolbar.removeControl("navTools");
                viewer.toolbar.removeControl("settingsTools");

                viewer.addEventListener(Autodesk.Viewing.GEOMETRY_LOADED_EVENT, function (e) {
                    console.log("GEOMETRY_LOADED_EVENT");
                    viewer.addEventListener(
                        Autodesk.Viewing.FINAL_FRAME_RENDERED_CHANGED_EVENT,
                        loadWireFrame);

                    function loadWireFrame() {
                        console.log("FINAL_FRAME_RENDERED_CHANGED_EVENT");
                        if (!viewer.isExtensionLoaded('Autodesk.Viewing.Wireframes')) {
                            viewer.loadExtension('Autodesk.Viewing.Wireframes').then(callback);
                            viewer.removeEventListener(
                                Autodesk.Viewing.FINAL_FRAME_RENDERED_CHANGED_EVENT,
                                loadWireFrame);
                        }
                    }
                });
                viewer.addEventListener(Autodesk.Viewing.EXTENSION_LOADED_EVENT, function (e) {
                    console.log("EXTENSION_LOADED_EVENT = " + e.extensionId);
                    switch (e.extensionId) {
                        case "Autodesk.ViewCubeUi":
                            const ViewCubeExt = viewer.getExtension("Autodesk.ViewCubeUi");
                            ViewCubeExt.setVisible(false);

                            //上視圖視角設定
                            let pos = new THREE.Vector3(0, 0, 160);
                            let target = new THREE.Vector3(0, 0, 0);
                            viewer.navigation.setView(pos, target);
                            viewer.navigation.setCameraUpVector(new THREE.Vector3(-1, 0, 0));
                            break;
                        case 'Autodesk.Viewing.Wireframes':
                            const wfExt = viewer.getExtension('Autodesk.Viewing.Wireframes');
                            wfExt.activate(); //開啟
                            wfExt.showSolidMaterial(false); //取消固體材質
                            let lineMaterial = new THREE.LineBasicMaterial({
                                color: 0x000000,
                                linewidth: 0.2
                            });
                            wfExt.setLinesMaterial(lineMaterial);
                            wfExt.setLightPreset(16); //開啟邊線時燈光會自動換到大頭貼燈光，所以要設定回自訂燈光
                            console.log("wfExt run end");
                            break;
                    }
                })
            }
            function onErrorCallback() { console.log("onErrorCallback"); }
        });
    }

</script>

<!-- PIXI Draw -->
<script src="https://pixijs.download/release/pixi.js"></script>
<script src="/Scripts/ForgeDraw.js"></script>
<script src="/Scripts/datatable.js"></script>
<script>
    var view = document.querySelector("#PathCanvas");
    var app;
    var stage;

    const deviceDbId = [
        {
            dbId: 3078,
            deviceType: "bluetooth",
            deviceName: "BT-11014",
        },
        {
            dbId: 3239,
            deviceType: "bluetooth",
            deviceName: "BT-11015",
        },
        {
            dbId: 3162,
            deviceType: "bluetooth",
            deviceName: "BT-11016",
        }
    ];

    let btUrl = "/Content/img/bluetooth.svg";

    function initializeDrawer() {
        app = ForgeDraw.init(view, viewer, function () {
            view.addEventListener("fd.linedata.change", function (event) {
                console.log("view => fd.linedata.change");
                calcRoute();
            });
            view.addEventListener("fd.linedata.detail", function (event) {
                console.log("view => fd.linedata.detail", event.detail);
                if (event.detail instanceof ForgeDraw.DevicePoint) {
                    createDataDetailModal({
                        title: "設備資訊",
                        id: "",
                        sn: [
                            { text: "名稱", value: "name" },
                            { text: "DBID", value: "dbid" },
                            { text: "座標X", value: "x" },
                            { text: "座標Y", value: "y" },
                        ],
                        data: {
                            name: event.detail.name,
                            dbid: event.detail.dbId,
                            x: event.detail.forgePos.x,
                            y: event.detail.forgePos.y
                        }
                    });
                }
                else {
                    createDataDetailModal({
                        title: "座標資訊",
                        id: "",
                        sn: [
                            { text: "座標X", value: "x" },
                            { text: "座標Y", value: "y" },
                        ],
                        data: { x: event.detail.forgePos.x, y: event.detail.forgePos.y }
                    });
                }
            });
            view.addEventListener("fd.linedata.removeall", function (event) {
                console.log("view => fd.linedata.removeall");
                updatePathDisplay();
            });
            /*
            view.addEventListener("fd.devicepoint.usercreate", function (event) {
                console.log("view => fd.devicepoint.usercreate");
                createDeviceModal.create(event.detail);
            });
            */
            view.addEventListener("fd.devicepoint.ignore", function (event) {
                console.log("view => fd.devicepoint.ignore");
                calcRoute();
            });

            deviceDbId.forEach((e) => {
                let btSprite = PIXI.Sprite.from(btUrl);
                btSprite.scale.set(0.6);
                btSprite.anchor.set(0.5);
                let dp = new ForgeDraw.DevicePoint(e, { sprite: btSprite });
            });

            addTooltip();
        });

        window.onresize = function () {
            ForgeDraw.resize();
        }

        function calcRoute() {

            if (ForgeDraw.lineData.length > 1) {
                ForgeDraw.devices.forEach((dp) => {
                    dp.update();
                })
            }

            if (!sortRouteModal.autoCalcRoute) {
                return;
            }

            //開始計算路徑
            let route = ForgeDraw.getRoute().map(e => e.name);
            console.log(ForgeDraw.devices.map(e => e.result));

            route.unshift("起點");
            route.push("終點");

            //顯示在網頁上
            updatePathDisplay(route);
        }
    }

    //更新網頁顯示的路徑
    function updatePathDisplay(path = undefined) {
        let $path = $("#path-display");

        if (!path) {
            $path.empty();
            $path.append(`
            <li class="breadcrumb-item">起點</li>
            <li class="breadcrumb-item">終點</li>
            `);
            return;
        }

        $path.empty();
        path.forEach(r => {
            let pathPoint = `<li class="breadcrumb-item">${r}</li>`;
            $path.append(pathPoint);
        })
    }

    //切換操作
    function controlToggle(id, control) {
        let btn = $("#" + id);
        ForgeDraw.setControl(control);

        $(".path-icon-radio").removeClass("active");
        btn.toggleClass("active", true);
    }

    //新增自訂設備
    /*
    const createDeviceModal = new CreateDeviceModal();
    function CreateDeviceModal() {
        const self = this;
        this.ModalJQ = $("#createDeviceModal");
        this.ModalBs = new bootstrap.Modal(this.ModalJQ[0]);

        this.detail = undefined;

        this.devicePointOptions = {
            color: 0x3ac0ff,
            contextMenu: {
                html: `<div class="contextMenu"><ul></ul></div>`,
                button: [
                    {
                        name: "詳細",
                        onClick: function (event, point) {
                            console.log(`devicePoint ${point.dbId} => 詳細`);
                            view.dispatchEvent(new CustomEvent('fd.linedata.detail', { 'detail': point }));
                        }
                    },
                    {
                        name: "忽略",
                        onClick: function (event, point) {
                            console.log(`devicePoint ${point.dbId} => 忽略`);
                            point.isUpdate = !point.isUpdate;
                            event.target.innerHTML = point.isUpdate ? "忽略" : "取消忽略";
                            point.update();
                            view.dispatchEvent(new CustomEvent('fd.devicepoint.ignore', { 'detail': point }));
                        }
                    },
                    {
                        name: "刪除",
                        onClick: function (event, point) {
                            console.log(`point ${point.index} => 刪除`);
                            point.remove();
                        }
                    },
                ]
            }
        }

        this.create = function (detail) {
            this.ModalBs.show();
            this.detail = detail;
        }

        this.save = function () {
            let data = {
                position: this.detail.position,
                deviceType: this.ModalJQ.find("#deviceType").val(),
                deviceName: this.ModalJQ.find("#deviceName").val()
            }
            let dp = new ForgeDraw.DevicePoint(data, this.devicePointOptions);
            this.ModalBs.hide();
        }

        this.ModalJQ.on("hide.bs.modal", function () {
            self.detail && self.detail.callback();
        })

        return this;
    }
    */

</script>


<!-- Drag and Drop -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script>
    const sortRouteModal = new SortRouteModal();
    function SortRouteModal() {
        this.autoCalcRoute = true;
        this.ModalJQ = $("#sortRouteModal");
        this.ModalBs = new bootstrap.Modal(this.ModalJQ[0]);

        let sortlist = $(`<ul class="sortlist" id="sortlist"></ul>`);
        this.create = function () {
            let $area = $(".sort-list-area");
            createRouteItems();
            let sortable = Sortable.create(sortlist[0], {
                swapThreshold: 0.45,
                animation: 150,
                ghostClass: "ghost",
                dragClass: "drag",
                direction: 'horizontal',
                filter: '.disable',
                draggable: ".item"
            });
            $area.empty();
            $area.append(sortlist);
            this.ModalBs.show();

            function createRouteItems() {
                sortlist.empty();
                let devicelist = ForgeDraw.getRoute();
                let pathList = $(".breadcrumb-item:not(:first-child):not(:last-child)");

                console.log(devicelist);
                console.log(pathList);
                sortlist.append(`<li class="disable">起點</li>`);

                pathList.each((i, e) => {
                    let type = devicelist.find(dp => dp.name == e.innerHTML).type;
                    let li = `<li class="item ${type}">${e.innerHTML}</li>`;
                    sortlist.append(li);
                })
                sortlist.append(`<li class="disable">終點</li>`);
            }
        }
        this.save = function () {
            this.autoRouteToggle(false);

            let route = sortlist.find("li").toArray().map((e) => {
                return $(e).text();
            })

            updatePathDisplay(route);

            this.ModalBs.hide();
        }
        this.autoRouteToggle = function (bool = undefined) {
            let btn = $("#path-auto");
            if (bool != undefined) {
                this.autoCalcRoute = bool;
                btn.toggleClass("active", bool);
                return;
            }
            this.autoCalcRoute = !this.autoCalcRoute;
            btn.toggleClass("active", this.autoCalcRoute);
        }
    }
</script>

<!-- EVENT -->
<script src="../../Scripts/tool.js"></script>
<script>
    let currentASN;
    let currentFSN;

    $(async function () {
        addAreaFloorEvent();
        addButtonEvent();
        controlToggle("path-draw", ForgeDraw.Control.DRAW);
        sortRouteModal.autoRouteToggle(true);

        await pushSelect("ASN", '@Url.Action("Area", "DropDownList")');

        if (window.location.search) {
            let params = new URL(document.location).searchParams;
            await pushSelect("FSN", '@Url.Action("Floor", "DropDownList")' + `?ASN=${params.get("ASN")}`);

            for (const [k, v] of params.entries()) {
                $("#" + k).val(v).change();
            }
            currentASN = params.get("ASN");
            currentFSN = params.get("FSN");
            $("#path-create").click();
        }
    });

    function addAreaFloorEvent() {
        var areas = document.getElementById("ASN");
        areas.addEventListener("change", async function () {
            console.log("areas change")
            let url = '@Url.Action("Floor", "DropDownList")';
            if (areas.value != "") {
                $('#Area').val($("#ASN option:selected").text());
            }
            else {
                $('#Area').val('');
            }
            url = url + `?ASN=${areas.value}`;

            await pushSelect("FSN", url);

            $('#Floor').val('');
        });
        var FSNs = document.getElementById("FSN");
        FSNs.addEventListener("change", function () {
            if (FSNs.value != "") {
                $('#Floor').val($("#FSN option:selected").text());
            }
            else {
                $('#Floor').val('');
            }
        });
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })
        $("#path-create").click(function (e) {
            e.preventDefault();
            console.log("onclick path-create");
            if ($("form")[0].checkValidity()) {

                let asn = $("#ASN").val();
                let fsn = $("#FSN").val();
                let pt = $("#PathTitle").val();

                $("#sample-path-name").text(pt);
                $(".sample-path-draw-area").removeClass("d-none");
                $("#path-display").removeClass("d-none");


                //若非第一次初始化
                if (viewer) {
                    //若有改變過asn OR fsn 則重新開始這一頁
                    if (currentASN != asn || currentFSN != fsn) {
                        window.location.href = `/SamplePath_Management/Create?ASN=${asn}&FSN=${fsn}&PathTitle=${pt}`;
                    }
                }
                else {
                    //紀錄目前的asn & fsn
                    currentASN = asn;
                    currentFSN = fsn;
                    //viewerUrl = `../BimModels/${asn}/${fsn}.svf`;
                    initializeViewer(initializeDrawer);
                }

            }
        })
        $("#path-edit").click(function () {
            sortRouteModal.create();
        })
        $("#path-draw").click(function () {
            $(this).blur();
            controlToggle("path-draw", ForgeDraw.Control.DRAW);
        })
        $("#path-eraser").click(function () {
            $(this).blur();
            controlToggle("path-eraser", ForgeDraw.Control.ERASER);
        })
        /* 
        $("#path-device").click(function () {
            $(this).blur();
            controlToggle("path-device", ForgeDraw.Control.DEVICE);
        })
        */
        $("#path-reload").click(function () {
            $(this).blur();
            ForgeDraw.removeAllData();
            sortRouteModal.autoRouteToggle(true);
        })
        $("#path-auto").click(function () {
            $(this).blur();
            sortRouteModal.autoRouteToggle();
        })
        $("#submit").click(function () {
            console.log("onclick submit")
            save();
        })
    }

    function addTooltip() {
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl, {
                customClass: "sample-path-tooltip",
                //template: `<div class="tooltip" role="tooltip"><div class="tooltip-inner"></div></div>`
            })
        })
        tooltipList.forEach(e => e.show())
        setTimeout(() => {
            tooltipList.forEach(e => e.hide())
        }, 2000)
    }

    function save() {
        let PathSampleOrder = $(".breadcrumb-item:not(:first-child):not(:last-child)").toArray().map(e => e.innerHTML);
        let PathSampleRecord = ForgeDraw.getForgeLineData().map(e => {
            return { LocationX: e.x, LocationY: e.y };
        })

        let data = {
            PathSample: {
                ASN: $("#ASN").val(),
                FSN: $("#FSN").val(),
                PathTitle: $("#PathTitle").val()
            },
            PathSampleOrder: PathSampleOrder,
            PathSampleRecord: PathSampleRecord
        }

        console.log(data);

    @* $.ajax({
            url: '@Url.Action("aaa", "bbb")',
            data: JSON.stringify(data),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: onSuccess,
            error: onError
            }) *@

            function onSuccess(res) {
                console.log("Success");
                console.log(res);

                if (res.ResponseCode == 0) {
                    myModal.hide();
                    let modal_success = $(`
                    <div class="modal fade modal-delete" id="DeleteModal-success" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    新增成功！
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-delete" data-bs-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `);
                    $(document.body).append(modal_success);
                    let myModal_success = bootstrap.Modal.getOrCreateInstance(modal_success[0]);
                    myModal_success.show();
                    modal_success[0].addEventListener("hidden.bs.modal", () => {
                        myModal_success.dispose();
                        var url = '@Url.Action("Management", "SamplePath_Management")';
                        window.location.href = url;
                    })
                }
            }
        function onError(res) {
            console.log("error");
            console.log(res);
            let errtext;

            switch (res) {
                case "duplicate title":
                    errtext = "巡檢路線模板名稱重複！";
                    break;
                default:
                    errtext = "";
                    break;
            }

            let modal_error = $(`
                    <div class="modal fade modal-delete" id="DeleteModal-error" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    新增失敗！${errtext}
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-delete" data-bs-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `);
            $(document.body).append(modal_error);
            let myModal_error = bootstrap.Modal.getOrCreateInstance(modal_error[0]);
            myModal_error.show();
            modal_error[0].addEventListener("hidden.bs.modal", () => {
                myModal_error.dispose();
                modal_error.remove();
            })
        }
    }
</script>