@{
    ViewBag.Title = "巡檢路線模板 刪除";
}
@section styles {
    @Html.Partial("MapScripts")
    @Html.Partial("DataGridScripts")
}


<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area">
        <div class="datatable datatable-small">
            <div class="datatable-body">
                <table class="datatable-table" id="PlanDetail"></table>
            </div>
        </div>
        <div class="datatable datatable-grid datatable-fill">
            <div class="datatable-body overflow-auto">
                <table class="datatable-table" id="PlanRecord">
                </table>
            </div>
        </div>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>

@section scripts {
    <script>
        const PlanPathSN = location.href.split('/').pop();
        const apiUrl = '@Url.Action("ReadBody", "SamplePath_Management")';
        let bim = null;

        $(async function () {
            console.log(PlanPathSN)
            readData(apiUrl, PlanPathSN);
            bim = new UpViewer(document.getElementById("BIM"));
            addButtonEvent();
        })
        //每日巡檢時程模板 詳情
        const SerializedName = [
            { text: "巡檢路線名稱", value: "PathName" },
            { text: "巡檢頻率", value: "Frequency" },
        ]
        const GridOptions = {
            thead: true,
            columns: [
                { id: "Index", title: "" },
                { id: "InternalCode", title: "RFID內碼" },
                { id: "ExternalCode", title: "RFID外碼" },
                { id: "RFIDName", title: "RFID名稱" },
                { id: "RFIDArea", title: "RFID棟別" },
                { id: "RFIDFloor", title: "RFID樓層" },
                { id: "RFIDMemo", title: "RFID備註" },
                { id: "EName", title: "設備名稱" },
                { id: "NO", title: "設備編號" },
                { id: "Brand", title: "廠牌" },
                { id: "Model", title: "型號" },
                { id: "Frequency", title: "巡檢頻率" },
                {
                    id: "Btn", title: "", formatter: (v, row, i) => {
                        return `<button type="button" class="btn btn-location" data-btn-type="location" data-row-index="${i}"><i class="fa-solid fa-location-dot"></i></button>`
                    }
                },
            ]
        }
        let fakeData = {
            PName: "前處理機房巡檢",
            PFrequency: "每3小時",
            Equipments: [
                {
                    InternalCode: "XSCXCZS",
                    ExternalCode: "XSCXCZS",
                    RFIDName: "前處理機房巡檢",
                    RFIDArea: "前處理區",
                    RFIDFloor: "1F",
                    RFIDMemo: "備註備註備註",
                    EName: "螺旋發送機",
                    NO: "SP-0202A",
                    Brand: "XX廠牌",
                    Model: "W004N",
                    Frequency: "每2小時",
                },
                {
                    InternalCode: "XSCXCZS",
                    ExternalCode: "XSCXCZS",
                    RFIDName: "前處理機房巡檢",
                    RFIDArea: "前處理區",
                    RFIDFloor: "1F",
                    RFIDMemo: "備註備註備註",
                    EName: "螺旋發送機",
                    NO: "SP-0202A",
                    Brand: "XX廠牌",
                    Model: "W004N",
                    Frequency: "每2小時",
                },
                {
                    InternalCode: "XSCXCZS",
                    ExternalCode: "XSCXCZS",
                    RFIDName: "前處理機房巡檢",
                    RFIDArea: "前處理區",
                    RFIDFloor: "1F",
                    RFIDMemo: "備註備註備註",
                    EName: "螺旋發送機",
                    NO: "SP-0202A",
                    Brand: "XX廠牌",
                    Model: "W004N",
                    Frequency: "每2小時",
                },
            ]
        }

        function readData(url = null, SN) {
            $.ajax({
                url: `${url}?id=${SN}`,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })
            function onSuccess(res) {
                console.log("res", res);
                if (res.Datas) res = res.Datas
                DT.createTableInner("#PlanDetail", res, [
                    { id: "PathName", title: "巡檢路線名稱" },
                    { id: "Frequency", title: "巡檢頻率", formatter: (v) => `每${v}小時` },
                ])

                if (res.Equipments) {
                    DT.createTableGrid(
                        "#PlanRecord",
                        res.Equipments,
                        {
                            thead: true,
                            rownumbers: true,
                            columns: [
                                { id: "InternalCode", title: "RFID內碼" },
                                { id: "ExternalCode", title: "RFID外碼" },
                                { id: "RFIDName", title: "RFID名稱" },
                                { id: "RFIDArea", title: "RFID棟別" },
                                { id: "RFIDFloor", title: "RFID樓層" },
                                { id: "RFIDMemo", title: "RFID備註" },
                                { id: "EName", title: "設備名稱" },
                                { id: "NO", title: "設備編號" },
                                { id: "Brand", title: "廠牌" },
                                { id: "Model", title: "型號" },
                                { id: "Frequency", title: "巡檢頻率" },
                                {
                                    id: "Btn", title: "", type: 'btn', button: {
                                        className: "btn btn-location",
                                        icon: "fa-solid fa-location-dot",
                                        onClick(event, v, row, i) {
                                            DT.createMapModal(row);
                                        }
                                    }
                                },
                            ]
                        }
                    )
                }
                else {
                    document.querySelector("#PlanRecord").closest('.datatable').remove()
                }
            }

            function onError(res) {
                console.log(res);
            }
        }

        function addButtonEvent() {
            $("#back").click(function () {
                window.location.href = '@Url.Action("Index")';
            });
            $("#delete").click(function () {
                DT.createDeleteDialog({
                    url: '@Url.Action("DeleteSamplePath")?PlanPathSN=' + PlanPathSN,
                    data: PlanPathSN,
                    onSuccess() {
                        window.location.href = '@Url.Action("Index")';
                    }
                })
            });
        }
    </script>
}