@{
    ViewBag.Title = "巡檢路線模板刪除";
}
<link rel="stylesheet" href="/Content/samplepath.css">

<h2>@ViewBag.Title</h2>

<input type="text" id="PSSN" name="PSSN" hidden>

<div class="datatable datatable-small mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="PathSampleInfo"></table>
    </div>
</div>

<div class="sample-path-area">
    <h3 class="sample-path-title">巡檢路線規劃</h3>

    <div class="edit-area">
        <div class="sample-path-group-area">
            <div class="input-group sample-path-group">
                <span class="input-group-text" id="sample-path-name"></span>
                <div type="text" class="form-control">
                    <nav>
                        <ol class="breadcrumb" id="path-display">
                            <li class="breadcrumb-item">起點</li>
                            <li class="breadcrumb-item">終點</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sample-path-draw-area">
            <div class="viewer3Dcontainer">
                <div id="viewer3d" style="margin:0;"></div>
                <canvas id="PathCanvas"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>

<!-- Autodesk Forge -->
<link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.4"
    type="text/css">
<script language="JavaScript"
    src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.4"></script>
<script language="JavaScript" src="/Scripts/Forge/UpViewer.js"></script>

<!-- PIXI Draw -->
<script src="https://pixijs.download/v7.2.2/pixi.js"></script>
<script src="/Scripts/ForgeDraw.js"></script>
<script src="/Scripts/datatable.js"></script>
<script>
    var view = document.querySelector("#PathCanvas");
    var app;
    var stage;

    let btUrl = "/Content/img/bluetooth.svg";

    function initializeDrawer() {
        ForgeDraw.setDrawSetting("point.contextMenu.button", [{
            name: "詳細",
            onClick: function (event, point) {
                console.log(`point ${point.index} => 詳細`, point);
                let index = point.index;
                let pointData = ForgeDraw.lineData[index].forgePos;
                createDataDetailModal({
                    title: "座標資訊",
                    id: "",
                    sn: [
                        { text: "座標X", value: "x" },
                        { text: "座標Y", value: "y" },
                    ],
                    data: { x: pointData ? pointData.x : undefined, y: pointData ? pointData.y : undefined }
                });
            }
        }]);
        ForgeDraw.setDrawSetting("devicePoint.contextMenu.button", [{
            name: "詳細",
            onClick: function (event, point) {
                console.log(`point ${point.index} => 詳細`, point);
                let index = point.index;
                let url = `@Url.Action("ReadBody", "EquipmentInfo_Management")/${point.dbId}`
                $.getJSON(url, function (res) {
                    createDataDetailModal({
                        title: "設備資訊",
                        id: "",
                        sn: [
                            { text: "系統別", value: "System" },
                            { text: "子系統別", value: "SubSystem" },
                            { text: "設備名稱", value: "EName" },
                            { text: "區域", value: "Area" },
                            { text: "樓層", value: "Floor" },
                            { text: "空間名稱", value: "RoomName" },
                            { text: "國有財產編碼", value: "PropertyCode" },
                            { text: "廠牌", value: "Brand" },
                            { text: "DBID", value: "DBID" },
                            { text: "RFID", value: "RFID" },
                            { text: "設備狀態", value: "EState" },
                            { text: "座標X", value: "x" },
                            { text: "座標Y", value: "y" },
                        ],
                        data: Object.assign({
                            x: point.forgePos.x,
                            y: point.forgePos.y
                        }, res)
                    });
                })
            }
        }]);

        app = ForgeDraw.init(view, viewer, function () {
            ForgeDraw.setControl(ForgeDraw.Control.READONLY);

            readDeviceAndLineData(fakeData);

            //讀取路徑
            let route = [...fakeData.PathSampleOrder];
            route.unshift("起點");
            route.push("終點");
            updatePathDisplay(route);
        });

        window.onresize = function () {
            ForgeDraw.resize();
        }

    }

    function calcRoute() {

        if (ForgeDraw.lineData.length > 1) {
            ForgeDraw.devices.forEach((dp) => {
                dp.update();
            })
        }

        if (!sortRouteModal.autoCalcRoute) {
            return;
        }

        //開始計算路徑
        let route = ForgeDraw.getRoute().map(e => e.name);
        console.log(ForgeDraw.devices.map(e => e.result));

        route.unshift("起點");
        route.push("終點");

        //顯示在網頁上
        updatePathDisplay(route);
    }

    //讀取設備和路線資料並繪製
    function readDeviceAndLineData(data) {
        data.PathSample.BIMDevices.forEach((e) => {
            let btSprite = PIXI.Sprite.from(btUrl);
            btSprite.scale.set(0.6);
            btSprite.anchor.set(0.5);
            let dp = new ForgeDraw.DevicePoint(e, { sprite: btSprite });
        });

        //讀取路線資料
        let reslineData = data.PathSampleRecord.map((d) => {
            let forgePos = new THREE.Vector3(d.LocationX, d.LocationY, 0);
            let pos = viewer.worldToClient(forgePos);
            let position = new PIXI.Point(pos.x, pos.y);
            return {
                position: position,
                forgePos: forgePos
            };
        });
        console.log(reslineData);
        ForgeDraw.readLineData(reslineData);
    }

    //更新網頁顯示的路徑
    function updatePathDisplay(path = undefined) {
        let $path = $("#path-display");

        if (!path) {
            $path.empty();
            $path.append(`
            <li class="breadcrumb-item">起點</li>
            <li class="breadcrumb-item">終點</li>
            `);
            return;
        }

        $path.empty();
        path.forEach(r => {
            let pathPoint = `<li class="breadcrumb-item">${r}</li>`;
            $path.append(pathPoint);
        })
    }
</script>

<!-- EVENT -->
<script src="../../Scripts/tool.js"></script>
<script>
    const PSSN = '@ViewBag.PSSN';
    let apiUrl = '@Url.Action("ReadBody", "SamplePath_Management")' + `/${PSSN}`;
    //const RSN = '@ViewBag.id';
    //let apiUrl = '@Url.Action("ReadBody", "Report_Management")' + `/${RSN}`;
    //let apiUrl = null;

    let fakeData = {
        "PathSample": {
            "PSSN": "000001",
            "Area": "Area1",
            "Floor": "Floor1_1",
            "ASN": "1",
            "FSN": "1_1",
            "PathTitle": "123",
            "BIMPath": "BimModels/Site01/Resource/3D View/林口(一)/林口(一).svf",
            "BIMDevices": [
                {
                    dbId: 3078,
                    deviceType: "bluetooth",
                    deviceName: "BT-11014",
                },
                {
                    dbId: 3239,
                    deviceType: "bluetooth",
                    deviceName: "BT-11015",
                },
                {
                    dbId: 3162,
                    deviceType: "bluetooth",
                    deviceName: "BT-11016",
                }
            ]
        },
        "PathSampleOrder": [
            "BT-11014",
            "BT-11015",
            "BT-11016"
        ],
        "PathSampleRecord": [
            {
                "LocationX": 3.281535257805018,
                "LocationY": -70.78609689705826
            },
            {
                "LocationX": 17.614257498023093,
                "LocationY": -17.842776490580817
            },
            {
                "LocationX": 7.961607826039497,
                "LocationY": -14.332722098991141
            },
            {
                "LocationX": -0.8135282394001422,
                "LocationY": -32.175498589571944
            },
            {
                "LocationX": -9.881168840354427,
                "LocationY": -28.080435132717326
            },
            {
                "LocationX": -10.758682446898383,
                "LocationY": 2.3400362610597796
            },
            {
                "LocationX": -4.616087201090643,
                "LocationY": 2.6325407936922716
            },
            {
                "LocationX": -4.616087201090643,
                "LocationY": 9.94515410950406
            },
            {
                "LocationX": -21.28884572542593,
                "LocationY": 10.530163174769001
            },
            {
                "LocationX": -20.99634118991129,
                "LocationY": -31.59048952430699
            },
            {
                "LocationX": -31.526504468438844,
                "LocationY": -32.76050765483687
            },
            {
                "LocationX": -33.574036217041424,
                "LocationY": -45.63070709066565
            },
            {
                "LocationX": -22.16635933196992,
                "LocationY": -75.46616941917782
            }
        ]
    }

    $(async function () {
        addButtonEvent();
        readData(apiUrl);
    });

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        async function onSuccess(res) {
            console.log(res);
            fakeData = res;
            let ps = res.PathSample;

            $("#PSSN").val(ps.PSSN);

            $("#PathSampleInfo").append(
                createTableInner(ps, [
                    { text: "巡檢路線模板", value: "PathTitle" },
                    { text: "棟別", value: "Area" },
                    { text: "樓層", value: "Floor" },
                ])
            )

            $("#PathTitle").val(ps.PathTitle);

            $("#sample-path-name").text(ps.PathTitle);

            viewerUrl = "../../" + ps.BIMPath;
            initializeViewer(initializeDrawer);
        }
        function onError(res) {
            console.log(res);
        }
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        });
        $("#delete").click(function () {
            let modal = createDialogModal({
                id: "DialogModal-Delete",
                inner: `
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    確認是否刪除？
                `,
                button: [
                    { className: "btn btn-cancel", cancel: true, text: "取消", },
                    { className: "btn btn-delete", text: "確定刪除", onClick: onDelete },
                ]
            })

            function onDelete(e) {
                let PSSN = $("#PSSN").val();
                console.log(PSSN);
                let spinner = ` <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`;
                $(this).append(spinner);

                //setTimeout(onSuccess, 1000);


                $.ajax({
                    url: '@Url.Action("DeleteSamplePath", "SamplePath_Management")?PSSN=' + PSSN,
                    data: JSON.stringify(PSSN),
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })


                function onSuccess(res) {
                    console.log("Success");
                    console.log(res);
                    modal.hide();

                    //if (res.ResponseCode == 0) {

                    createDialogModal({
                        id: "DialogModal-Success",
                        inner: "刪除成功！",
                        onHide: () => {
                            let url = '@Url.Action("Management", "SamplePath_Management")';
                            window.location.href = url;
                        }
                    })
                    //}
                }

                function onError(res) {
                    console.log("error");
                    console.log(res);
                    modal.hide();

                    createDialogModal({
                        id: "DialogModal-Error",
                        inner: "刪除失敗！",
                    })
                }
            }
        });
    }
</script>