@{
    ViewBag.Title = "編輯 巡檢路線模板";
}
@section styles {
    @Html.Partial("MapScripts")
    @Html.Partial("DataGridScripts")
    <script src="~/Scripts/SamplePath_Management/CreateDataGrids.js" defer></script>
    <script src="~/Scripts/SamplePath_Management/Create.js"></script>
    <script src="~/Scripts/Sortable.min.js"></script>
}


<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-full flex-lg-row">
        <form class="form justify-content-lg-end" id="InspectionForm">
            <div class="form-group-zone">
                <div class="form-group required">
                    <label for="PathName">巡檢路線名稱</label>
                    <input type="text" class="form-control" name="PathName" id="PathName" maxlength="50" required>
                </div>
                <div class="form-group required">
                    <label for="Frequency">巡檢頻率</label>
                    <select class="form-select" name="Frequency" id="Frequency" required></select>
                </div>
            </div>
            <hr class="hr-default" />

            <div class="datatable-easyui w-100 d-none">
                <table id="Template-datagrid"></table>
            </div>
            <button type="button" class="btn btn-search align-self-start" id="create-item">
                + 新增巡檢設備
            </button>

            <div class="m-0 w-100 text-center">
                <div class="datatable datatable-grid w-100 h-100">
                    <div class="datatable-body h-100 overflow-auto">
                        <table class="datatable-table">
                            <thead>
                                <tr>
                                    <th class="datatable-header" style="width:40px"><span></span></th>
                                    <th class="datatable-header" style="width:40px"><span></span></th>
                                    <th class="datatable-header" style="width:130px"><span>RFID內碼</span></th>
                                    <th class="datatable-header" style="width:130px"><span>RFID外碼</span></th>
                                    <th class="datatable-header" style="width:250px"><span>RFID名稱</span></th>
                                    <th class="datatable-header" style="width:120px"><span>RFID棟別</span></th>
                                    <th class="datatable-header" style="width:120px"><span>RFID樓層</span></th>
                                    <th class="datatable-header" style="width:120px"><span>RFID備註</span></th>
                                    <th class="datatable-header" style="width:120px"><span>設備名稱</span></th>
                                    <th class="datatable-header" style="width:120px"><span>設備編號</span></th>
                                    <th class="datatable-header" style="width:120px"><span>廠牌</span></th>
                                    <th class="datatable-header" style="width:120px"><span>型號</span></th>
                                    <th class="datatable-header" style="width:120px"><span>巡檢頻率</span></th>
                                    <th class="datatable-header" style="width:48px"></th>
                                    <th class="datatable-header" style="width:48px"></th>
                                </tr>
                            </thead>
                            <tbody id="item-area">
                                <tr id="sample-input-tr">
                                    <td id="d-Num">--</td>
                                    <td id="d-Sort">
                                        <button type="button" class="btn-sort">
                                            <i class="fa-solid fa-bars"></i>
                                        </button>
                                    </td>
                                    <td id="InternalCode">--</td>
                                    <td id="ExternalCode">--</td>
                                    <td id="RFIDName">--</td>
                                    <td id="RFIDArea">--</td>
                                    <td id="RFIDFloor">-</td>
                                    <td id="RFIDMemo">--</td>
                                    <td id="EName">-</td>
                                    <td id="NO">--</td>
                                    <td id="Brand">-</td>
                                    <td id="Model">-</td>
                                    <td id="Frequency">--</td>
                                    <td id="d-_delete" class="p-2">
                                        <button type="button" class="btn btn-location" data-btn-type="location">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </button>
                                    </td>
                                    <td id="d-_delete" class="p-1 pt-2">
                                        <button type="button" class="btn-delete-item"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">儲存</button>
</div>

@*新增巡檢設備POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="AddEquipment">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>請勾選欲新增的設備</h2>
                <div class="search-area">
                    <form class="form" id="ModalForm">
                        <div class="form-group">
                            <label for="InternalCode">RFID內碼</label>
                            <input class="form-control" id="InternalCode" name="InternalCode" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="ExternalCode">RFID外碼</label>
                            <input class="form-control" id="ExternalCode" name="ExternalCode" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="EName">設備名稱</label>
                            <input class="form-control" id="EName" name="EName" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="NO">設備編號</label>
                            <input class="form-control" id="NO" name="NO" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="RFIDArea">RFID棟別</label>
                            <select class="form-select" name="RFIDArea" id="RFIDArea"></select>
                        </div>

                        <div class="form-group">
                            <label for="RFIDFloor">RFID樓層</label>
                            <select class="form-select" name="RFIDFloor" id="RFIDFloor"></select>
                        </div>

                        <div class="form-group">
                            <label for="Brand">廠牌</label>
                            <input class="form-control" id="Brand" name="Brand" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="Model">型號</label>
                            <input class="form-control" id="Model" name="Model" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="Frequency">巡檢頻率</label>
                            <select class="form-select" name="Frequency" id="Frequency" disabled></select>
                        </div>

                        <div class="button-group">
                            <button type="button" class="btn btn-search" id="search">查詢</button>
                            <button type="button" class="btn btn-clear" id="clear">清除</button>
                        </div>
                    </form>
                </div>
                <table class="modal-datagrid"></table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" data-bs-dismiss="modal" id="add-row">確定</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        const PlanPathSN = location.href.split('/').pop();
        const apiUrl = '@Url.Action("ReadBody", "SamplePath_Management")';
        const SubmitUrl = '@Url.Action("EditSamplePath", "SamplePath_Management")';
        let sampleTr = SampleTr();
        let sortableController = null;

        $(async function () {
            // 宣告按鈕監聽事件
            addButtonEvent();
            // Datagrid(in Popup Modal)
            addEquipmentDG_Controller = new AEDG(AEDGOptions);
            // 取得下拉選單
            await addDropDownList();
            // 棟別&樓層控制
            await addAreaFloorEvent();
            // 初始化模板
            await sampleTr.init();
            await $.getJSON("/DropDownList/Frequency", function (res) {
                let name = "Text";
                let value = "Value";
                const selects = document.querySelectorAll('#Frequency');
                selects.forEach(element => {
                    $(element).empty();
                    $(element).append(`<option value="">請選擇</option>`);
                    $.each(res, function (i, e) {
                        $(element).append('<option value="' + e[value] + '">' + e[name] + '</option>')
                    })
                });
            });
            setSortableItem("#item-area");
            readData(apiUrl, PlanPathSN);
            $("#Frequency").on('change', () => {
                sampleTr.clear();
            });
            $("#item-area").on('click', `[data-btn-type="location"]`, (event) => {
                const button = event.currentTarget;
                const sn = button.getAttribute('data-sn')
                const row = sampleTr.datas.get(sn);
                createMapModal(row);
            })
        })
        const setSortableItem = (containerSelector, options = null) => {
            let defaultOptions = {
                animation: 150,
                handle: '.btn-sort',
                onEnd: () => {
                    reorderNumbers();
                }
            }
            const element = document.querySelector(containerSelector);
            if (!element) {
                console.warn('not found sortable container target!');
                return
            }
            if (options) Object.assign(defaultOptions, options);
            sortableController = Sortable.create(element, defaultOptions)
        }
        // 新增
        function save(data) {
            console.log('requestData', data);
            if (!data) return;

            $.ajax({
                url: SubmitUrl,
                data: JSON.stringify(data),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                if (!res.ErrorMessage) {
                    createDialogModal({
                        id: "DialogModal-Success", inner: "儲存成功！",
                        onHide: () => { window.location.href = "/SamplePath_Management/Index"; }
                    });
                } else {
                    createDialogModal({ id: "DialogModal-Error", inner: `儲存失敗！` + `${res?.ErrorMessage || ""}` })
                }
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `儲存失敗！` })
            }
        }

        function SampleTr() {
            this.count = 0;
            this.list = $("#item-area")
            this.datas = new Map();
            this.init = async function () {
                this.list.on("change", "#InterCode", async function (e) {
                    console.log(e.target)
                    if (!sampleTr.checkDuplicate()) {
                        e.target.value = ""
                        createDialogModal({ id: "DialogModal-Error", inner: `有重複的品項品名！` })
                        return
                    }
                })

                const observer = new ResizeObserver((entries) => {
                    for (const entry of entries) {
                        let style = getComputedStyle(entry.target)
                        let mh = parseInt(style.getPropertyValue("max-height").match(/(\d)+/)?.[0])
                        let h = parseInt(style.getPropertyValue("height").match(/(\d)+/)?.[0])
                        $(".datatable-input-area").toggleClass("max-w-scroll", h >= mh)
                        //console.log(`${h} >= ${mh} ${h >= mh}`)
                    }
                })
                observer.observe(this.list.closest(".datatable-body")[0])

                this.list.on("click", ".btn-delete-item", function (e) {
                    $(this).parent().parent().remove();
                    sampleTr.count--;
                    reorderNumbers();
                })

                this.sample = $("#sample-input-tr").clone();
                $("#sample-input-tr").remove();
            }
            this.create = function (data = null) {
                let item = this.sample.clone();
                item.attr('id', this.count);
                sampleTr.count++;
                if (data != null) {
                    item.find("#InternalCode").text(data.InternalCode)
                    item.find("#ExternalCode").text(data.ExternalCode)
                    item.find("#RFIDName").text(data.RFIDName)
                    item.find("#RFIDArea").text(data.RFIDArea)
                    item.find("#RFIDFloor").text(data.RFIDFloor)
                    item.find("#RFIDMemo").text(data.RFIDMemo)
                    item.find("#EName").text(data.EName)
                    item.find("#NO").text(data.NO)
                    item.find("#Brand").text(data.Brand)
                    item.find("#Model").text(data.Model)
                    item.find("#Frequency").text(data.Frequency)
                    item.find("#d-Num").text(this.count)
                    item.find(`[data-btn-type="location"]`).attr('data-sn', data.InternalCode)
                    this.datas.set(data.InternalCode, data)
                }
                this.list.append(item);
            }
            this.calc = function () {
                return this.list.children().toArray().map((e) => {
                    return $(e).find("#InternalCode").text()
                })
            }
            this.clear = function () {
                this.list.empty();
                this.count = 0;
            }
            this.checkValidity = () => {
                return this.list.children().length > 0
            }
            this.checkDuplicate = () => {
                let sisns = this.list.children().toArray().map((e) => {
                    return $(e).find("#InterCode").val()
                }).filter(e => e || void 0)
                let sets = new Set([...sisns])
                return sisns.length == [...sets].length
            }
            return this;
        }
        //將Modal的資料依序加入模板裡
        function insertRowData(data) {
            data.forEach(e => {
                sampleTr.create(e);
            })
        }
        //當刪除新增的模板後，需重新排序次序
        function reorderNumbers() {
            let itemArea = document.getElementById('item-area');
            let rows = itemArea.querySelectorAll('tr');
            rows.forEach((row, index) => {
                let numCell = row.querySelector('#d-Num');
                if (numCell) {
                    numCell.textContent = index + 1;
                }
            });
        }
        function readData(url = null, SN) {
            $.ajax({
                url: `${url}?id=${SN}`,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })
            function onSuccess(res) {
                console.log("res", res);
                if (res.Datas) res = res.Datas
                $("#Frequency").val(res.Frequency);
                $("#PathName").val(res.PathName);
                insertRowData(res.Equipments);
            }

            function onError(res) {
                console.log(res);
            }
            //在每列加上次序
            function createIndexToArrayData(arr) {
                return arr.map((e, i) => {
                    return {
                        Index: i + 1,
                        ...e,
                    }
                })
            }
        }
    </script>
}