@{
    ViewBag.Title = "巡檢路線模板管理";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/easyui-datagrid-client-paging.js"></script>

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增模板</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="PathTitle">巡檢路線模板名稱</label>
            <input class="form-control" id="PathTitle" name="PathTitle" type="text" />
        </div>

        <div class="form-group">
            <label for="ASN">棟別</label>
            <select class="form-select" name="ASN" id="ASN">
                <option value="">請選擇</option>
            </select>
        </div>
        <div>
            <input class="form-control" id="Area" name="Area" type="text" hidden />
        </div>

        <div class="form-group">
            <label for="FSN">樓層</label>
            <select class="form-select" name="FSN" id="FSN">
                <option value="">請選擇</option>
            </select>
        </div>
        <div>
            <input class="form-control" id="Floor" name="Floor" type="text" hidden />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>
<script src="../../Scripts/tool.js"></script>
<script>

    var getGridJSON = '@Url.Action("SamplePath_Management", "SamplePath_Management")';

    var baseUrl = "/SamplePath_Management/";
    var areas = document.getElementById("ASN");
    areas.addEventListener("change", function () {
        let url = '@Url.Action("Floor", "DropDownList")';
        if (areas.value != "") {
            $('#Area').val($("#ASN option:selected").text());
        }
        else {
            $('#Area').val('');
        }
        url = url + `?ASN=${areas.value}`;
        pushSelect("FSN", url);
        $('#Floor').val('');
    });
    var FSNs = document.getElementById("FSN");
    FSNs.addEventListener("change", function () {
        if (FSNs.value != "") {
            $('#Floor').val($("#FSN option:selected").text());
        }
        else {
            $('#Floor').val('');
        }
    });

    const fakeData = [
        {
            PSSN: "000001",
            PathTitle: "A棟1F路線",
            Area: "A棟",
            Floor: "1F",
        }
    ]

    $(async function () {
        await pushSelect("ASN", '@Url.Action("Area", "DropDownList")');
        Initialize_DataGrid(getGridJSON);
        addSearchAreaClickEvent();
    });

    function Initialize_DataGrid(getGridJSON) {

        $('#DataGrid').datagrid({

            url: getGridJSON,
            method: 'POST',
            queryParams: getQueryParams(),
            rownumbers: true,
            idField: 'PSSN',
            sortName: 'PSSN',
            remoteSort: false,
            sortOrder: 'asc',
            fit: true,
            frozenColumns: [[
                {
                    field: '_detail', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDetail(${index})">詳情</button>`;
                    }
                },
                {
                    field: '_dispatch', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onEdit(${index})">編輯</button>`;
                    }
                },
                {
                    field: '_locate', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDelete(${index})">刪除</button>`;
                    }
                }
            ]],
            columns: [[
                { field: 'PSSN', title: 'PSSN', hidden: true },
                { field: 'PathTitle', title: '巡檢路線模板名稱', align: 'center', width: 500, sortable: true },
                { field: 'Area', title: '棟別', align: 'center', width: 350, sortable: true },
                { field: 'Floor', title: '樓層', align: 'center', width: 200, sortable: true },
            ]],
            singleSelect: true,
            selectOnCheck: true,
            checkOnSelect: false,

            pagination: true,
            pagePosition: 'bottom',
            pageSize: 10
        });
        //------------Pager --------------------------------------------------
        var pager = $('#DataGrid').datagrid('getPager');
        $(pager).pagination({
            pageSize: 10,
            showPageList: true,
            pageList: [10, 20, 50],
            beforePageText: '第',
            afterPageText: '頁，共 {pages} 頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料，共 {total} 筆資料'
        });
    }

    // datagrid onClick Function
    function onDetail(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Read' + '/' + row.PSSN;
        window.open(url, "_blank");
    }

    function onEdit(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Edit' + '/' + row.PSSN;
        window.open(url, "_self");
    }

    function onDelete(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Delete' + '/' + row.PSSN;
        window.open(url, "_self");
    }

    //search area onClick Function
    function addSearchAreaClickEvent() {
        $("#clear").click(function () {
            $("form")[0].reset();
            pushSelect("Floor", '@Url.Action("Floor", "DropDownList")');
        });

        $("#search").click(function () {
            Initialize_DataGrid(getGridJSON)
        });

        $("#create").click(function () {
            let url = baseUrl + 'Create';
            window.open(url, "_self");
        });
    }
</script>
