@{
    Layout = null;
    ViewBag.Title = "登入";
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 汙水資訊作業系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Content/bootstrap-5.2.3-dist/js/bootstrap.min.js")
    @Styles.Render("~/Content/login.css")
</head>

<body>
    <div class="login-body">
        <form method="post" class="p-3">
            <div class="px-4 mb-3">
                <img class="login-logo w-100" src="/Content/img/logo.png" alt="臺北市政府工務局衛生下水道工程處">
            </div>
            <h1 class="login-title mb-5">汙水資訊作業系統</h1>
            <input class="form-control mb-4" type="text" id="UserID" name="UserID" placeholder="帳號">
            <input class="form-control mb-5" type="password" id="UserPW" name="UserPW" placeholder="密碼">
            <button class="btn btn-login">登入</button>
        </form>
    </div>
</body>

</html>

<script>
    document.querySelector(".btn-login").addEventListener("click", onSubmit);
    function onSubmit(e) {
        console.log(e);
        e.preventDefault();
        window.open("/Home/Index", "_self");
    }
</script>


