@{
    ViewBag.Title = "編輯請購";
}

<style>
    #ImgPathName{
        color:black
    }
    h2 {
        text-align: center;
        color: white;
        font-weight: 500;
        font-size: 46px;
    }

    .datatable-input-area {
        display: flex;
        flex-direction: column;
        max-width: 1090px;
        margin: auto;
        max-height: calc(100vh - var(--navbar-height));
        max-height: calc(100dvh - var(--navbar-height));
        gap: 1rem;
    }

        .datatable-input-area .edit-area {
            max-height: 30rem;
            padding: 1rem;
            display: block;
        }

        .datatable-input-area .datatable, .datatable-input-area .datatable-body {
            max-height: 28rem;
            margin: 0;
        }

    .status_section {
        background: linear-gradient(180deg, #E9F7FF 0%, #DCE6FF 100%);
        .col-form-label

    {
        color: #5B5B5B;
        font-size: 18px;
        display: flex;
        align-items: center;
 
    }

    .custom-select {
        border: 1px solid #ced4da;
        border-radius: 5px;
        height:38px
    }

    .radio_section {
        .status_radio

    {
        margin: 0 5px
    }

    }

    .upload_btn {
        border: none;
        background: #44BCC2;
        color: white;
        height: 40px;
        border-radius: 5px;
        width: 100px !important;


    }
        .upload_btn:hover {
            background: #3daaaf;
            color: white;
        }
    }

    @@media (max-width:991.98px) {
        .datatable-input-area .edit-area {
            max-height: calc(100vh - var(--navbar-height) - 5rem);
        }

        .datatable-input-area .datatable, .datatable-input-area .datatable-body {
            max-height: calc(100vh - var(--navbar-height) - 7rem);
        }
    }

    @@media only screen and (min-width:1200px) {
        .status_section {
            max-width: 700px;
            margin: 3% auto;
            padding: 3%;
        }
        .col-form-label {
            justify-content: end;
            padding: 0;
            align-self: self-start;
        }
        .edit-area {
            padding: 16px 0;
            .form

    {
        display: flex !important;
        flex-direction: row;
        padding: 16px 0;
    }

    }

    .input_area {
        max-width: 1100px !important;
        display: flex;
        justify-content: left;
    }

    }

    @@media only screen and (min-width:768px) and (max-width:1199px) {
        .status_section {
            margin: 3% auto;
            padding: 3%;
        }
        .col-form-label {
            justify-content: end;
            padding: 0;
        }
        .edit-area {
            padding: 16px 0;
            .form

    {
        display: flex !important;
        flex-direction: row;
        padding: 16px 0;
    }

    }

    .input_area {
        max-width: 1100px !important;
        display: flex;
        justify-content: left;
    }

    }

    @@media only screen and (max-width: 767px) {
        .status_section {
            margin: 3% auto;
            padding: 3%;
        }
        .col-form-label {
            padding: 0 0 5px 16px;
        }
    }
</style>
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">*@

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>@ViewBag.Title</h2>

<section class="input_area" style="max-width: 855px;margin: auto;">
    <div class="edit-area bg-transparent flex-wrap  justify-content-lg-between" style="gap: 1rem 2rem;">
        <form class="form d-lg-contents">
            <div class="form-group w-lg-250px col required">
                <label for="PRUserName">請購人</label>
                <select class="form-select" name="PRUserName" id="PRUserName" required>
                    <option value="">請選擇</option>
                </select>
            </div>

            <div class="form-group w-lg-250px col">
                <label for="PRDept">請購部門</label>
                <input class="form-control" id="PRDept" name="PRDept" type="text" maxlength="20" />
            </div>
        </form>
    </div>

</section>
<section class="datatable-input-area mt-3">
    <button type="button" class="btn btn-search align-self-start" id="create-item">+ 新增</button>
    <form class="d-contents">
        <div class="edit-area m-0">
            <div class="datatable datatable-grid w-100 h-100">
                <div class="datatable-body h-100 overflow-auto">
                    <table class="datatable-table" style="width: max-content;">
                        <thead>
                            <tr>
                                <th class="datatable-header required" style="width:150px"><span>類別</span></th>
                                <th class="datatable-header required" style="width:250px"><span>品名</span></th>
                                <th class="datatable-header" style="width:150px"><span>尺寸</span></th>
                                <th class="datatable-header required" style="width:120px"><span>數量</span></th>
                                <th class="datatable-header required" style="width:150px"><span>單位</span></th>
                                <th class="datatable-header" style="width:200px"><span>申請用途</span></th>
                                <th class="datatable-header" style="width:36px"></th>
                            </tr>
                        </thead>
                        <tbody id="item-area">
                            <tr id="sample-input-tr">
                                <td id="d-Kind">
                                    <select class="form-select" id="Kind" name="Kind" required></select>
                                </td>
                                <td id="d-ItemName">
                                    <input class="form-control" type="text" id="ItemName" name="ItemName" maxlength="50"
                                           required />
                                </td>
                                <td id="d-Size">
                                    <input class="form-control" type="text" id="Size" name="Size" maxlength="50" />
                                </td>
                                <td id="d-PRAmount">
                                    <input class="form-control" type="number" id="PRAmount" name="PRAmount" min="1"
                                           value="1" required />
                                </td>
                                <td id="d-Unit">
                                    <select class="form-select" id="Unit" name="Unit" required></select>
                                </td>
                                <td id="d-ApplicationPurpose">
                                    <input class="form-control" type="text" id="ApplicationPurpose"
                                           name="ApplicationPurpose" maxlength="200" />
                                </td>
                                <td id="d-_delete" class="p-1 pt-2">
                                    <button type="button" class="btn-delete-item"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>


<form class="status_section">
    <div class="form-group row mb-3">
        <label class="col-xl-4 col-lg-4 col-md-4 col-12 col-form-label" for="PRState">請購單狀態</label>
        <div class="col-xl-8 col-lg-8 col-md-8col-12 ">
            <select id="PRState" name="PRState" class="custom-select">
                <option value="wait">待送審</option>
                <option value="sent">已送審</option>
                <option value="done">審核完成</option>
            </select>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="AuditDate" class="col-xl-4 col-lg-4 col-md-4 col-12  col-form-label">審核日期</label>
        <div class="col-xl-8 col-lg-8 col-md-8col-12 ">
            <input id="AuditDate" name="AuditDate" placeholder="請選擇日期" type="date" class="form-control">
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="AuditResult" class="col-xl-4 col-lg-4 col-md-4 col-12  col-form-label">審核結果說明</label>
        <div class="col-xl-8 col-lg-8 col-md-8col-12 ">
            <textarea id="AuditResult" name="AuditResult" cols="40" rows="5" class="form-control"></textarea>
        </div>
    </div>
    @*<div class="form-group row">
            <label for="formFile" class="col-xl-4 col-lg-4 col-md-4 col-12  col-form-label">相關文件</label>
            <div class="col-xl-8 col-lg-8 col-md-8col-12 ">
                <button class="upload_btn" id="formFile">選擇檔案</button>

            </div>
        </div>*@

<div class="form-group row ">
    <label class="col-xl-4 col-lg-4 col-md-4 col-12  col-form-label">相關文件</label>
    <div class="col-xl-8 col-lg-8 col-md-8col-12 ">
        <div class="edit-button-area justify-content-start align-items-center mt-1 flex-wrap flex-lg-nowrap">
            <div class="d-lg-contents d-flex w-100" style="gap: 14px;">
                <label for="DesignDiagrams" type="button" class="btn upload_btn w-lg-auto w-100 h-100 mt-0 flex-shrink-0">
                    選擇檔案
                </label>
            </div>
            <div id="ImgPathGroup"
                 class="order-first order-lg-last d-flex align-items-center text-start text-light w-100 w-lg-auto d-none">
                <div id="ImgPathName" class="d-inline-block text-break me-2" style="margin: 0.375rem;"></div>
                <button type="button" class="btn-delete-item flex-shrink-0" id="ImgPathDelete"></button>
            </div>
        </div>
        <input id="DesignDiagrams" name="DesignDiagrams" type="file" class="form-file-input" required>
    </div>
    </div>
</form>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-submit" id="submit">新增</button>
</div>
<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/tool.js"></script>

<script>

    let sampleTr;

    $(async function () {
        addButtonEvent();
        sampleTr = new SampleTr();
    })

    function SampleTr() {
        this.count = 0;
        this.data = {};
        this.init = async function () {
            await pushSelect("PRUserName", '@Url.Action("AllMyName","DropDownList")');
            await pushSelect("Kind", '@Url.Action("StockType","DropDownList")');
            await pushSelect("Unit", '@Url.Action("Unit", "DropDownList")');

            $("#item-area").on("click", ".btn-delete-item", function (e) {
                $(this).parent().parent().remove();
            })

            this.sample = $("#sample-input-tr").clone();
            $("#sample-input-tr").remove();
            this.add();
        }
        this.add = function () {
            let item = this.sample.clone();
            item.attr('id', this.count);
            $("#item-area").append(item);
            this.data[this.count] = item;
            this.count++;
        }
        this.init();
        return this;
    }

    function save() {
        let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
        console.log("todo save():", isValidity)
        if (!isValidity) return;
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        });
        $("#create-item").click(function () {
            sampleTr.add();
        });
        $("#submit").click(function () {
            save();
        });
    }


</script>

<script>
    $(function () {
        addButtonEvent();
        pushSelect("ImgType", '@Url.Action("ImgType", "DropDownList")');
    });

    function save() {
        let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
        console.log("isValidity():", isValidity)
        if (!isValidity) return;

        var form = new FormData();
        form.append("ImgName", document.getElementById("ImgName").value);
        form.append("ImgType", document.getElementById("ImgType").value);
        var files = $("#DesignDiagrams").get(0).files;
        if (files.length > 0) {
            form.append("DesignDiagrams", files[0]);
        }
        console.log(Object.fromEntries(form.entries()));
        $.ajax({
            url: '@Url.Action("CreateDesignDiagrams", "DesignDiagrams")',
            data: form,
            type: "POST",
            contentType: false,
            processData: false,
            success: onSuccess,
            error: onError
        })
        function onSuccess(res) {
            console.log(res);
            createDialogModal({
                id: "DialogModal-Success", inner: "新增成功！",
                onHide: () => { window.location.href = "/DesignDiagrams/Management"; }
            });
        }
        function onError(res) {
            console.log(res);
            createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res.responseText}` })
        }
    }

    function addButtonEvent() {
        $("#DesignDiagrams").change(function (e) {
            console.log(this.files);
            if (this.files && this.files.length !== 0) {
                let file = this.files[0];
                $("#ImgPathName").text(file.name);
                $("#ImgPathGroup").removeClass('d-none');
            }
        })

        $("#ImgPathDelete").click(function () {
            $("#DesignDiagrams").val('');
            $("#ImgPathName").text('');
            $("#ImgPathGroup").addClass('d-none');
        })

        $("#submit").click(function () {
            save();
        })
    }
</script>
