@{
    ViewBag.Title = "請購審核";
}

<style>
    .datatable-input-area {
        display: flex;
        flex-direction: column;
        max-width: 1090px;
        margin: auto;
        max-height: calc(100vh - var(--navbar-height));
        max-height: calc(100dvh - var(--navbar-height));
        gap: 1rem;
    }

    .datatable-input-area .edit-area {
        max-height: 30rem;
        padding: 1rem;
        display: block;
    }

    .datatable-input-area .datatable,
    .datatable-input-area .datatable-body {
        max-height: 28rem;
        margin: 0;
    }

    @@media (max-width:991.98px) {
        .datatable-input-area .edit-area {
            max-height: calc(100vh - var(--navbar-height) - 5rem);
        }

        .datatable-input-area .datatable,
        .datatable-input-area .datatable-body {
            max-height: calc(100vh - var(--navbar-height) - 7rem);
        }
    }

    @@media (min-width: 992px) {
        .edit-area .form {
            align-items: flex-start;
        }
    }
</style>

<h2>@ViewBag.Title</h2>

<div class="edit-area bg-transparent flex-md-row" style="gap: 1rem 2rem;">
    <form class="form d-lg-contents">
        <div class="form-group w-lg-45 w-xl-250px required">
            <label for="PRUserName">請購人</label>
            <select class="form-select" name="PRUserName" id="PRUserName" required>
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group w-lg-45 w-xl-250px">
            <label for="PRDept">請購部門</label>
            <input class="form-control" id="PRDept" name="PRDept" type="text" maxlength="20" />
        </div>
    </form>
</div>

<section class="datatable-input-area mt-3">
    <button type="button" class="btn btn-search align-self-start" id="create-item">+ 新增</button>
    <form class="d-contents">
        <div class="edit-area m-0">
            <div class="datatable datatable-grid w-100 h-100">
                <div class="datatable-body h-100 overflow-auto">
                    <table class="datatable-table" style="width: max-content;">
                        <thead>
                            <tr>
                                <th class="datatable-header required" style="width:150px"><span>類別</span></th>
                                <th class="datatable-header required" style="width:250px"><span>品名</span></th>
                                <th class="datatable-header" style="width:150px"><span>尺寸</span></th>
                                <th class="datatable-header required" style="width:120px"><span>數量</span></th>
                                <th class="datatable-header required" style="width:150px"><span>單位</span></th>
                                <th class="datatable-header" style="width:200px"><span>申請用途</span></th>
                                <th class="datatable-header" style="width:36px"></th>
                            </tr>
                        </thead>
                        <tbody id="item-area">
                            <tr id="sample-input-tr">
                                <td id="d-Kind">
                                    <select class="form-select" id="Kind" name="Kind" required></select>
                                </td>
                                <td id="d-ItemName">
                                    <input class="form-control" type="text" id="ItemName" name="ItemName" maxlength="50"
                                        required />
                                </td>
                                <td id="d-Size">
                                    <input class="form-control" type="text" id="Size" name="Size" maxlength="50" />
                                </td>
                                <td id="d-PRAmount">
                                    <input class="form-control" type="number" id="PRAmount" name="PRAmount" min="1"
                                        value="1" required />
                                </td>
                                <td id="d-Unit">
                                    <select class="form-select" id="Unit" name="Unit" required></select>
                                </td>
                                <td id="d-ApplicationPurpose">
                                    <input class="form-control" type="text" id="ApplicationPurpose"
                                        name="ApplicationPurpose" maxlength="200" />
                                </td>
                                <td id="d-_delete" class="p-1 pt-2">
                                    <button type="button" class="btn-delete-item"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>

<div class="edit-area edit-area-small">
    <form class="form">
        <div class="form-group d-lg-contents">
            <label for="PRState">請購單狀態</label>
            <select id="PRState" name="PRState" class="form-select">
                <option value="wait">待送審</option>
                <option value="sent">已送審</option>
                <option value="done">審核完成</option>
            </select>
        </div>
        <div class="form-group d-lg-contents">
            <label for="AuditDate">審核日期</label>
            <input id="AuditDate" name="AuditDate" class="form-control" placeholder="請選擇日期" type="date">
        </div>
        <div class="form-group d-lg-contents">
            <label for="AuditResult">審核結果說明</label>
            <textarea class="w-100" name="AuditResult" id="AuditResult" rows="5" maxlength="256"></textarea>
        </div>
        <div id="FileUploader"></div>
    </form>
</div>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-submit" id="submit">新增</button>
</div>
<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/tool.js"></script>

<script>

    let sampleTr;
    let fileUploader;

    $(async function () {
        pushSelect("ImgType", '@Url.Action("ImgType", "DropDownList")');
        addButtonEvent();
        sampleTr = new SampleTr();
        fileUploader = new FileUploader({
            container: "#FileUploader",
            className: "form-group d-lg-contents",
            buttonAreaClassName: "edit-button-area position-relative justify-content-start align-items-start mt-1 flex-wrap",
            label: "相關文件",
            id: "File"
        })
    })

    function SampleTr() {
        this.count = 0;
        this.data = {};
        this.init = async function () {
            await pushSelect("PRUserName", '@Url.Action("AllMyName", "DropDownList")');
            await pushSelect("Kind", '@Url.Action("StockType", "DropDownList")');
            await pushSelect("Unit", '@Url.Action("Unit", "DropDownList")');

            $("#item-area").on("click", ".btn-delete-item", function (e) {
                $(this).parent().parent().remove();
            })

            this.sample = $("#sample-input-tr").clone();
            $("#sample-input-tr").remove();
            this.add();
        }
        this.add = function () {
            let item = this.sample.clone();
            item.attr('id', this.count);
            $("#item-area").append(item);
            this.data[this.count] = item;
            this.count++;
        }
        this.init();
        return this;
    }

    function save() {
        //重置自訂驗證錯誤訊息
        getAllParams().forEach((e) => {
            e.setCustomValidity('');
        })
        //自訂驗證錯誤
        if (!fileUploader.checkAllExtension()) {
            fileUploader.setCustomValidity("請上傳指定格式")
        }
        let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
        console.log("isValidity():", isValidity)
        if (!isValidity) return;

        var form = new FormData();
        form.append("PRState", document.getElementById("PRState").value);
        form.append("AuditDate", document.getElementById("AuditDate").value);
        form.append("AuditResult", document.getElementById("AuditResult").value);
        if (fileUploader.hasFile()) {
            form.append("AFile", fileUploader.getFile());
        }
        console.log(Object.fromEntries(form.entries()));

        return;
        $.ajax({
            url: '@Url.Action("EditPurchaseRequisition", "PurchaseRequisition_Management")',
            data: form,
            type: "POST",
            contentType: false,
            processData: false,
            success: onSuccess,
            error: onError
        })
        function onSuccess(res) {
            console.log(res);
            createDialogModal({
                id: "DialogModal-Success", inner: "修改成功！",
                onHide: () => { window.location.href = "/PurchaseRequisition_Management/Management"; }
            });
        }
        function onError(res) {
            console.log(res);
            createDialogModal({ id: "DialogModal-Error", inner: `修改失敗！` + `${res.responseText}` })
        }
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        });
        $("#create-item").click(function () {
            sampleTr.add();
        });
        $("#submit").click(function () {
            save();
        });
    }
</script>
