@{
    ViewBag.Title = "請購管理";
}

@section styles {
    @Html.Partial("DataGridScripts")

    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">請購申請</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="PRState">狀態</label>
            <select class="form-select" name="PRState" id="PRState">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PRN">單號</label>
            <input class="form-control" id="PRN" name="PRN" type="text" />
        </div>

        <div class="form-group">
            <label for="PRUserName">請購人</label>
            <select class="form-select" name="PRUserName" id="PRUserName">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PRDept">請購部門</label>
            <select class="form-select" name="PRDept" id="PRDept">
                <option value="">請選擇</option>
            </select>
        </div>
        <div class="form-group">
            <label for="DateFrom">日期(起)</label>
            <input class="form-control" id="DateFrom" name="DateFrom" type="date" max='@($"{DateTime.Now:yyyy-MM-dd}")' />
        </div>

        <div class="form-group">
            <label for="DateTo">日期(迄)</label>
            <input class="form-control" id="DateTo" name="DateTo" type="date" max='@($"{DateTime.Now:yyyy-MM-dd}")' />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        var getGridJSON = '@Url.Action("PurchaseRequisition_Management", "Datagrid")';
        var DataGrid;
        

        const fakeData = [
            {
                PRState: "待審核",
                PRN: "1120301001",
                PRDate: "2023/03/01",
                PRUserName: "王大明",
                PRDept: "機電維修部",
                EstimatedDate: "2023/04/01"
            }
        ]

        $(async function () {
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
            await pushSelect("PRState", '@Url.Action("FormPRState", "DropDownList")');
            await pushSelect("PRUserName", '@Url.Action("AllMyName", "DropDownList")');
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'PRN',
                //sortName: 'PRN',
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_read', (v, row, i) => dg.eventButton(i, "詳情", "read")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                ]],
                columns: [[
                    dg.column('PRState', '請購單狀態', 130),
                    dg.column('PRN', '單號', 130),
                    dg.column('PRDate', '請購申請日期', 200),
                    dg.column('PRUserName', '請購人', 110),
                    dg.column('PRDept', '請購部門', 150)
                ]]
            })
            dg.addEvent("read", function (row, i) {
                window.open(`${baseUrl}/Read/${row.PRN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.PRN}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}