@{
    ViewBag.Title = "ModelView";
}
@section styles{
    <style>
        .adsk-viewing-viewer {
            background: none !important;
        }

        .viewer3Dcontainer {
            position: absolute;
            inset: 0;
            width: 100vw;
            height: 100vh;
            margin: 0;
            background-color: #F0F8FF;
        }
    </style>
    <!-- Autodesk Forge -->
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.60"
        type="text/css">
    <script language="JavaScript"
        src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.60" defer></script>
    <script src="/Scripts/Forge/Viewer.Toolkit.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
}

<div class="viewer3Dcontainer">
    <div id="viewer3d"></div>
    <div class="d-flex gap-3 position-absolute top-0 start-0 p-4" style="z-index: 1030;">
        <div class="form-group required">
            <label for="ASN">棟別</label>
            <select class="form-select" name="ASN" id="ASN" required>
                <option value="">請選擇</option>
            </select>
        </div>
        <div class="form-group required">
            <label for="FSN">樓層</label>
            <select class="form-select" name="FSN" id="FSN" required>
                <option value="">請選擇</option>
            </select>
        </div>
        <button type="button" class="btn btn-search align-self-end" id="Submit">確定</button>
    </div>
</div>

<script>
    var viewer;
    var vid = '@ViewBag.id' == '' ? '進抽站B1F' : '@ViewBag.id';
    document.addEventListener("DOMContentLoaded", () => {
        $("nav").addClass("d-none");
    })
    window.addEventListener("load", () => {
        addAreaFloorEvent();
        $("#Submit").click(() => {
            let url = '@Url.Action("ReadBimPathDevices", "SamplePath_Management")' + "/" + $("#FSN").val();
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: (res) => {
                    if (viewer != null) {
                        viewer.tearDown()
                        viewer.finish()
                        viewer = null
                        $("#viewer3d").empty();
                    }
                    initializeViewer(res)
                }
            })
        })
    })
    async function addAreaFloorEvent() {
        await pushSelect("ASN", '@Url.Action("Area", "DropDownList")');
        let ASN = document.getElementById("ASN");
        ASN.addEventListener("change", async function () {
            await pushSelect("FSN", '@Url.Action("Floor", "DropDownList")' + `?ASN=${ASN.value}`);
        });
    }
    function initializeViewer({ BIMPath, BeaconPath }) {
        const clientContainer = document.getElementById('viewer3d')
        clientContainer.style.visibility = 'hidden'
        
        const profileSettings = {
            name: "customSettings",
            description: "My personal settings.",
            settings: {}, //API:https://aps.autodesk.com/en/docs/viewer/v7/reference/globals/TypeDefs/Settings/
            persistent: [],
            extensions: {
                load: ["Viewer.Toolkit"],
                unload: [/* "Autodesk.Section", "Autodesk.Measure", "Autodesk.Explode" */]
            }
        }
        const options = {
            keepCurrentModels: true,
            globalOffset: { x: 0, y: 0, z: 0 }
        };
        const urns = [BIMPath, BeaconPath];

        Autodesk.Viewing.Private.InitParametersSetting.alpha = true; //設定透明背景可用
        viewer = new Autodesk.Viewing.GuiViewer3D(clientContainer, { profileSettings });
        Autodesk.Viewing.Initializer({ env: "Local" }, async () => {
            viewer.start();
            //setting 3d view env
            viewer.setBackgroundOpacity(0);
            viewer.setBackgroundColor();
            viewer.setLightPreset(16); //設定環境光源 = 雪地

            await viewer.loadExtension("Viewer.Toolkit")


            //load urns
            const models = await Promise.all(urns.map((url) => {
                return new Promise(async (resolve) => {
                    if (url == null || url == undefined || url == "") return;
                    viewer.loadModel(window.location.origin + url, options,
                        async (model) => { await viewer.waitForLoadDone(); resolve(model); })
                })
            }))
            console.log(models)

            const ViewCubeUi = await viewer.loadExtension("Autodesk.ViewCubeUi")
            //ViewCubeUi.setVisible(false);
            let box = new THREE.Box3()
            models.forEach((model) => {
                let b = model.getBoundingBox()
                box.union(b)
            })

            let w = box.getCenter()
            viewer.navigation.setView(
                new THREE.Vector3(w.x, w.y, Math.abs(w.z * 2)),
                new THREE.Vector3(w.x, w.y, 0)
            )
            viewer.navigation.setCameraUpVector(new THREE.Vector3(0, 1, 0));

            viewer.clientContainer.style.visibility = 'visible'

            /*const Wireframes = await viewer.loadExtension("Autodesk.Viewing.Wireframes")
            Wireframes.activate();
            Wireframes.showSolidMaterial(false);
            Wireframes.setLinesMaterial(new THREE.LineBasicMaterial({ color: 0x000000, linewidth: 0.2 }));
            Wireframes.setLightPreset(16);
            console.log("wfExt run end");*/

        });

        async function onLoadDone(model) {
            console.log("Model LoadDone", model.loader.basePath.split("/").at(-1));

            if (model.loader.basePath.includes("Beacon")) {
                const newmat = new THREE.MeshPhongMaterial({
                    color: 0x1010ff,
                    emissive: 0x001061,
                    reflectivity: 0,
                    shininess: 0
                })
                await viewer.toolkit.changeMaterial(model, model.getRootId(), newmat)
                console.log("顏色變更完畢")
            }
        }
    }
</script>