@{
    ViewBag.Title = "報修單 審核";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/dataTable/InspectionPlanMaintain.js" defer></script>
    <script src="/Scripts/ImageDisplay.js" defer></script>
    <script src="/Scripts/dataTable/EquipmentInfoModal.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area edit-area-md">
        <div class="datatable">
            <div class="datatable-header">報修資料</div>
            <div class="datatable-body">
                <table class="datatable-table" id="ReportDetail"></table>
            </div>
        </div>

        <div class="datatable">
            <div class="datatable-header">維修資料</div>
            <div class="datatable-body">
                <table class="datatable-table" id="RepairDetail"></table>
            </div>
        </div>
        <hr class="hr-dashed">
        <div class="edit-area flex-wrap flex-md-row justify-content-lg-between" style="gap: 1rem 2rem;">
            <form class="form">
                <div class="form-group-zone">
                    <div class="form-group">
                        <label for="AuditId">審核者</label>
                        <input class="form-control" id="AuditId" name="AuditId" type="text" disabled />
                    </div>

                    <div class="form-group col-3fr required">
                        <label for="AuditReason">審核意見</label>
                        <textarea class="form-control" id="AuditReason" name="AuditReason" rows="3" cols="50" required></textarea>
                    </div>

                    <div class="form-group radio-group required">
                        <label for="AuditResult">審核結果</label>
                        <div class="d-flex gap-4">
                            <label class="" for="AuditResult_1">
                                <input type="radio" class="form-check-input" id="AuditResult_1" name="AuditResult" value="true">
                                通過
                            </label>
                            <label class="" for="AuditResult_2">
                                <input type="radio" class="form-check-input" id="AuditResult_2" name="AuditResult" value="false">
                                不通過
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">送出</button>
</div>


@section scripts {
    <script>
        @*const RSN = '@ViewBag.RSN';*@
        const UserName = '@ViewBag.MyName';
        const url = window.location.search;
        const RSN = new URLSearchParams(url).get('RSN');
        let apiUrl = '@Url.Action("Audit", "Repair_Management")?rsn=' + RSN;
        //let apiUrl = null;

        const fakeData = {
            ESN: "E00003",
            AuditId: "林佳霖",
            RSN: "E00003_000001_230107",
            ReportState: "待派工",
            ReportLevel: "最速件",
            ReportTime: "2022/01/01 11:09",
            ReportContent: "已完成螺旋機電池更換，經測試後可正常操作。",
            ReportImg: [
                "/Pictures/安妮雅.jfif"
            ],
            RepairUserName: "王曉明、任趙仁",
            Location: "生物處理機房 軸電器儀控室層",
            NO: "E00003",
            EName: "軸承潤滑",
            RepairResult: "完成",
            RepairtId: "任趙仁",
            RepairTime: "2024/12/18 12:10",
            RepairContent: "內容內容",
        }

        $(function () {
            addButtonEvent();
            readData(apiUrl);
        })

        const ReportDetailItem = [
            { text: "報修單號", value: "RSN" },
            { text: "報修單狀態", value: "ReportState" },
            { text: "報修等級", value: "ReportLevel" },
            { text: "報修時間", value: "ReportTime" },
            { text: "報修內容", value: "ReportContent" },
            { text: "報修照片", value: "ReportImg", type: "ImgPath" },
            { text: "執行人員", value: "RepairUserName" },
            { text: "所在地點", value: "Location" },
            { text: "設備編號", value: "NO" },
            { text: "設備名稱", value: "EName" },
            {
                text: "設備屬性", value: "ESN", formatter: (val) => {
                    return val ? `<button class="btn btn-search" onclick="window.open('/EquipmentInfo_Management/Detail?ESN=${val}', '_blank')">設備資料</button>` : "-"
                }
            },
        ]

        const RepairDetailItem = [
            { text: "維修結果", value: "RepairResult" },
            { text: "填報者", value: "RepairtId" },
            { text: "填報時間", value: "RepairTime" },
            { text: "維修填報", value: "RepairContent" },
            { text: "維修照片", value: "RepairImg", type: "ImgPath" },
        ]


        function readData(url = null) {

            url == null ? onSuccess(apiUrl) :
                $.ajax({
                    url: url,
                    type: "POST",
                    //data: RSN,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);
                document.getElementById('AuditId').value = UserName;
                $("#ReportDetail").append(createTableInner(res.Datas, ReportDetailItem));
                $("#RepairDetail").append(createTableInner(res.Datas, RepairDetailItem));

                ImageDisplay(".datatable-img-item>img");
            }
            function onError(res) {
                console.log(res);
            }
        }

        function save() {
            //重置自訂驗證錯誤訊息
            getAllParams().forEach((e) => {
                e.setCustomValidity('');
            })
            //自訂驗證錯誤
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            console.log("isValidity():", isValidity)
            if (!isValidity) return;

            var form = new FormData();
            const auditReason = document.querySelector('input[name="AuditResult"]:checked');
            const auditReasonValue = Boolean(auditReason.value);

            form.append("RSN", RSN);
            form.append("AuditReason", document.getElementById("AuditReason").value);
            form.append("AuditResult_Value", auditReasonValue);

            $.ajax({
                url: '@Url.Action("Audit", "Repair_Management")',
                data: form,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                const msg = res.State === 'Success' ? '新增成功!' : res.ErrorMessage;
                createDialogModal({
                    id: "DialogModal-Success", inner: msg,
                    onHide: () => { window.location.href = "/Repair_Management/Index"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        }
    </script>
}