@using Microsoft.AspNet.Identity;
@using System.Security.Claims;
@{
    string ControllerName = ViewContext.RouteData.Values["controller"] as string;
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 民生水資源再生中心資訊管理系統</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/Content/icomoon-v1.0/style.css" rel="stylesheet">
    <link href="/Content/redmond.datepick.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/share.js")
    @Scripts.Render("~/Content/bootstrap-5.2.3-dist/js/bootstrap.min.js")
    @RenderSection("styles", required: false)

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top vw-100">
        <div class="container-fluid d-flex">
            <div class="navbar-brand">
                <img src="/Content/img/logo.png" alt="" height="38" class="d-inline-block align-text-top">
                <span class="navbar-brand-title">民生水資源再生中心資訊管理系統</span>
            </div>

            <form id="logoutForm" method="post" action="/Home/LogOff" class="d-none d-lg-flex">
                @Html.AntiForgeryToken()
                <input type="text" id="NavbarUserID" value="@User.Identity.GetUserName()" hidden>
                <span class="navbar-user">您好 <span id="NavbarUserName">@Session["MyName"]</span> ！</span>
                <a class="navbar-logout" href="javascript:document.getElementById('logoutForm').submit()">登出</a>
            </form>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="d-flex vw-100 vh-100" style="padding-top: var(--navbar-height);">

        <div class="sidebar">
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header d-lg-none">
                    <div class="navbar-brand">
                        <img src="/Content/img/logo.png" alt="" height="38" class="d-inline-block align-text-top">
                    </div>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <span class="navbar-brand-title d-lg-none">民生水資源再生中心資訊管理系統</span>
                    <div class="navbar-end order-xl-last mt-3 mt-xl-0 d-lg-none">
                        <form id="logoutForm" method="post" action="/Home/LogOff">
                            @Html.AntiForgeryToken()
                            <input type="text" id="NavbarUserID" value="@User.Identity.GetUserName()" hidden>
                            <span class="navbar-user">您好 <span id="NavbarUserName">@Session["MyName"]</span> ！</span>
                            <a class="navbar-logout"
                               href="javascript:document.getElementById('logoutForm').submit()">登出</a>
                        </form>
                    </div>
                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3 pt-lg-0" id="nav-collapse">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#nav-collapse-insp" role="button"
                               data-bs-toggle="collapse" aria-expanded="false">
                                巡檢管理
                            </a>
                            <ul class="collapse" id="nav-collapse-insp" data-bs-parent="#nav-collapse">
                                <li><a class="dropdown-item" href="/PlanManagement/Index">工單管理</a></li>
                                <li><a class="dropdown-item" href="/SamplePath_Management/Index">巡檢路線模板管理</a></li>
                                <li><a class="dropdown-item" href="/SampleSchedule_Management/Index">每日巡檢時程模板</a></li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/InspectionPlan_Management/CurrentPosition">巡檢即時位置</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/InspectionPlan_Management/InformationManagement">巡檢資訊管理</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/Maintain_Management/Index">定期保養管理</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/Repair_Management/Index">報修管理</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#nav-collapse-equip" role="button"
                               data-bs-toggle="collapse" aria-expanded="false">
                                設備管理
                            </a>
                            <ul class="collapse" id="nav-collapse-equip" data-bs-parent="#nav-collapse">
                                <li><a class="dropdown-item" href="/EquipmentInfo_Management/Index">資產管理</a></li>
                                <li><a class="dropdown-item" href="/OneDeviceOneCard_Management/Index">一機一卡模板管理</a></li>
                                <li><a class="dropdown-item" href="/AsBuiltDrawing_Management/Index">竣工圖說管理</a></li>
                                <li><a class="dropdown-item" href="/DesignDiagrams/Index">設計圖說</a></li>
                                <li><a class="dropdown-item" href="/EquipmentOperatingManual/Index">操作手冊</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/Stock_Management/Index">庫存管理</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#nav-collapse-lab" role="button"
                               data-bs-toggle="collapse" aria-expanded="false">
                                實驗室管理
                            </a>
                            <ul class="collapse" id="nav-collapse-lab" data-bs-parent="#nav-collapse">
                                <li><a class="dropdown-item" href="/TestingAndAnalysisWorkflow/Index">採驗分析流程建立</a></li>
                                <li><a class="dropdown-item" href="/LaboratoryLabel_Management/Index">實驗室標籤管理</a></li>
                                <li>
                                    <a class="dropdown-item" href="/LaboratoryMaintenance_Management/Index">實驗室維護管理</a>
                                </li>
                                <li><a class="dropdown-item" href="/ExperimentData_Management/Index">實驗數據管理</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/WarningMessage_Management/Index" role="button">
                                警示訊息管理
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#nav-collapse-doc" role="button"
                               data-bs-toggle="collapse" aria-expanded="false">
                                文件管理
                            </a>
                            <ul class="collapse" id="nav-collapse-doc" data-bs-parent="#nav-collapse">
                                <li><a class="dropdown-item" href="/MonthlyReport_Management/Index">月報管理</a></li>
                                <li><a class="dropdown-item" href="/MeetingMinutes_Management/Index">會議紀錄管理</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#nav-collapse-system" role="button"
                               data-bs-toggle="collapse" aria-expanded="false">
                                系統管理
                            </a>
                            <ul class="collapse" id="nav-collapse-system" data-bs-parent="#nav-collapse">
                                <li><a class="dropdown-item" href="/Account_Management/Index">帳號管理</a></li>
                                <li><a class="dropdown-item" href="/Account_Management/ChangePassword">密碼變更</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid render-body">
            @RenderBody()
        </div>
    </div>
    <script>
        //根據 ControllerName 開啟對應 dropdown collapse
        switch ('@ControllerName') {
            //巡檢管理
            case 'PlanManagement':
            case 'SamplePath_Management':
            case 'SampleSchedule_Management':
            case 'InspectionPlan_Management':
                $("#nav-collapse-insp").addClass('show');
                break;
            //定期保養管理 --
            //報修管理 --
            //設備管理
            case 'EquipmentInfo_Management':
            case 'OneDeviceOneCard_Management':
            case 'AsBuiltDrawing_Management':
            case 'DesignDiagrams':
            case 'EquipmentOperatingManual':
                $("#nav-collapse-equip").addClass('show');
                break;
            //庫存管理 --
            //實驗室管理
            case 'TestingAndAnalysisWorkflow':
            case 'LaboratoryLabel_Management':
            case 'LaboratoryMaintenance_Management':
            case 'ExperimentData_Management':
                $("#nav-collapse-lab").addClass('show');
                break;
            //警示訊息管理 --
            //文件管理
            case 'MonthlyReport_Management':
            case 'MeetingMinutes_Management':
                $("#nav-collapse-doc").addClass('show');
                break;
            //系統管理
            case 'Account_Management':
                $("#nav-collapse-system").addClass('show');
                break;
        }
    </script>

    @*原使用jquery v1.3.2來套用 datepick.js(民國年日期選擇器)*@
    @*因套件老舊故使用jquery-migrate來協助升級套件過渡期*@
    @*詳見此處jquery-migrate說明 https://jquery.com/download/ *@
    <script src="~/Scripts/jquery-migrate-1.4.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.4.0.min.js"></script>
    <script src="~/Scripts/jquery.datepick.js"></script>
    <script src="~/Scripts/jquery.datepick.tw.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
