<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - BIM智慧管理系統</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Scripts/popper.min.js")
	@Scripts.Render("~/Content/bootstrap-5.2.3-dist/js/bootstrap.min.js")
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-xl fixed-top">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="/">
                <img src="/Content/img/logo.png" alt="" height="38" class="d-inline-block align-text-top">
                <span class="navbar-brand-title">BIM智慧管理系統</span>
            </a>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <a class="navbar-brand" href="/">
                        <img src="/Content/img/logo.png" alt="" height="38" class="d-inline-block align-text-top">
                    </a>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <span class="navbar-brand-title d-xl-none">BIM智慧管理系統</span>
                    <div class="navbar-end order-xl-last mt-3 mt-xl-0">
                        <span class="navbar-user">您好 <span>Admin</span> ！</span>
                        <a class="navbar-logout" href="/Home/Login">登出</a>
                    </div>
					<ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								巡檢管理
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="/InspectionPlan_Management/Management">巡檢計畫管理</a></li>
								<li><a class="dropdown-item" href="/SamplePath_Management/Management">巡檢路線模板管理</a></li>
								<li><a class="dropdown-item" href="#">巡檢即時位置</a></li>
								<li><a class="dropdown-item" href="#">巡檢資訊管理</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								定期保養管理
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="/MaintainForm_Management/Management">定期保養單管理</a></li>
								<li><a class="dropdown-item" href="/MaintainItem_Management/Management">保養項目管理</a></li>
								<li><a class="dropdown-item" href="/EquipmentMaintainPeriod_Management/Management">設備保養週期管理</a></li>
								<li><a class="dropdown-item" href="/MaintainRecord_Management/Management">巡檢保養紀錄管理</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								報修管理
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="/Report_Management/Management">報修管理</a></li>
								<li><a class="dropdown-item" href="/RepairRecord_Management/Management">巡檢維修紀錄管理</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								設備管理
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">竣工圖說管理</a></li>
								<li><a class="dropdown-item" href="#">以資查圖</a></li>
								<li><a class="dropdown-item" href="#">設計圖說</a></li>
								<li><a class="dropdown-item" href="#">操作手冊</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								庫存管理
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">入庫作業管理</a></li>
								<li><a class="dropdown-item" href="#">出庫作業管理</a></li>
								<li><a class="dropdown-item" href="#">庫存管理</a></li>
								<li><a class="dropdown-item" href="#">物料標籤管理</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								實驗室管理
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">實驗室操作手冊</a></li>
								<li><a class="dropdown-item" href="#">實驗數據紀錄</a></li>
								<li><a class="dropdown-item" href="#">實驗維護管理</a></li>
								<li><a class="dropdown-item" href="#">實驗標籤製作</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								文件管理
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">月報管理</a></li>
								<li><a class="dropdown-item" href="#">會議紀錄管理</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								系統管理
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">帳號管理</a></li>
								<li><a class="dropdown-item" href="#">密碼變更</a></li>
							</ul>
						</li>
					</ul>
                    
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container render-body">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>

</html>
