@{
    ViewBag.Title = "設備保養週期編輯";
}

@section styles {
    <script src="/Scripts/datatable.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<div class="datatable datatable-small mt-5">
    <input type="text" id="EMISN" name="EMISN" hidden>
    <div class="datatable-body">
        <table class="datatable-table" id="EquipemtMaintainItem"></table>
    </div>
</div>

<div class="edit-area edit-area-small">
    <form class="form" id="form">
        <div class="form-group d-lg-contents required">
            <label for="Unit">保養週期單位</label>
            <select class="form-select" name="Unit" id="Unit" required>
                <option value="日">日</option>
                <option value="月">月</option>
                <option value="年">年</option>
            </select>
        </div>
        <div class="form-group d-lg-contents required">
            <label for="Period">保養週期</label>
            <input class="form-control" type="number" name="Period" id="Period" max="365" min="1" value="1" required>
        </div>
        <div class="form-group d-lg-contents required">
            <label for="IsEnable">啟用狀態</label>
            <select class="form-select" name="IsEnable" id="IsEnable" required>
                <option value="0">停用</option>
                <option value="1">啟用</option>
            </select>
        </div>
    </form>
</div>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-submit" id="submit" form="form">儲存</button>
</div>

@section scripts {
    <script>
        var EMISN = '@ViewBag.id';
        //const apiUrl = null;
        var apiUrl = '@Url.Action("EditBody", "EquipmentMaintainPeriod_Management")' + `?EMISN=${EMISN}`
        const SerializedName = [
            { text: "棟別", value: "Area" },
            { text: "樓層", value: "Floor" },
            { text: "系統別", value: "System" },
            { text: "子系統別", value: "SubSystem" },
            { text: "設備編號", value: "ESN" },
            { text: "設備名稱", value: "EName" },
            { text: "項目名稱", value: "MIName" },
            { text: "上次保養日期", value: "LastTime" },
            { text: "最近應保養日期", value: "Date" },
        ]

        const fakeData = {
            EMISN: "E00001_000001",
            Area: "A",
            Floor: "1F",
            System: "處理",
            SubSystem: "前處理",
            ESN: "E00001",
            EName: "除物皮帶輸送機",
            MIName: "軸承潤滑",
            LastTime: "2022/12/01",
            Date: "2023/01/01",
            Unit: "月",
            Period: "1",
            IsEnable: 1,
        }

        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);
                $("#EMISN").val(res.EMISN);
                $("#EquipemtMaintainItem").append(createTableInner(res, SerializedName));
                $("#Unit").val(res.Unit);
                $("#Period").val(res.Period);
                $("#IsEnable").val(res.IsEnable);
            }
            function onError(res) {
                console.log(res);
            }
        }

        function addButtonEvent() {
            $("#back").click(function () {
                history.back();
            });

            $("#submit").click(save);
        }

        function save(e) {
            let isValidity = $("form").toArray().map(e => e.reportValidity()).every(e => e);
            console.log("isValidity:", isValidity);

            let jsonData = {
                EMISN: $("#EMISN").val(),
                Unit: $("#Unit").val(),
                Period: $("#Period").val(),
                IsEnable: $("#IsEnable").val(),
            }

            console.log("jsonData:", jsonData);
            console.log("A", JSON.stringify(jsonData))
            if (!isValidity) { return }
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("EditBodySave", "EquipmentMaintainPeriod_Management")',
                data: JSON.stringify(jsonData),
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: onSuccess,
                error: onError
            })
            function onSuccess(res) {
                console.log(res);
                window.open('@Url.Action("Management", "EquipmentMaintainPeriod_Management")', "_self")
            }
            function onError(res) {
                console.log(res);
            }
        }

        window.onload = function () {
            readData(apiUrl);
            addButtonEvent();
        }
    </script>
}