@{
    ViewBag.Title = "新增 設備";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <link rel="stylesheet" href="/Content/EquipmentInfoManagement.css">
    <script src="/Scripts/dataTable/RepairRecord.js" defer></script>
    <script src="/Scripts/dataTable/RFIDInfoModal.js" defer></script>
}

<style>
    .edit-item-init {
        grid-template-columns: 2fr 1fr 1fr;
        background: rgb(255, 255, 255, 0.5) !important;
    }
</style>

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-lg flex-wrap flex-md-row justify-content-lg-between">
        <form class="form d-lg-contents">
            <div class="group-title">基本資料</div>
            <div class="form-group-zone" id="basicZone">
                <div id="FileUploader"></div>
                <div class="form-group required">
                    <label for="EName">設備名稱</label>
                    <input class="form-control" id="EName" name="EName" type="text" required />
                </div>
                <div class="form-group required">
                    <label for="NO">設備編號</label>
                    <input class="form-control" id="NO" name="NO" type="text" required />
                </div>
                <div class="form-group">
                    <label for="InstallDate">安裝日期</label>
                    <input class="form-control" id="InstallDate" name="InstallDate" type="date" />
                </div>
                <div class="form-group required">
                    <label for="ASN">棟別</label>
                    <select class="form-select" name="ASN" id="ASN" required>
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label for="FSN">樓層</label>
                    <select class="form-select" name="FSN" id="FSN" required>
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Brand">設備廠牌</label>
                    <input class="form-control" id="Brand" name="Brand" type="text" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="Model">設備型號</label>
                    <input class="form-control" id="Model" name="Model" type="text" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="Vendor">設備廠商</label>
                    <input class="form-control" id="Vendor" name="Vendor" type="text" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="ContactPhone">連絡電話</label>
                    <input class="form-control" id="ContactPhone" name="ContactPhone" type="text" />
                </div>
                <div class="form-group">
                    <label for="OperatingVoltage">使用電壓</label>
                    <input class="form-control" id="OperatingVoltage" name="OperatingVoltage" type="text" />
                </div>
                <div class="form-group">
                    <label for="OtherInfo">其他耗材資料</label>
                    <input class="form-control" id="OtherInfo" name="OtherInfo" type="text" />
                </div>
                <div class="form-group col-3fr">
                    <label for="Memo">備註</label>
                    <textarea class="form-control" id="Memo" name="Memo" rows="3" cols="50"></textarea>
                </div>
                <div class="form-group">
                    <label for="Other" class="d-flex gap-1">
                        <span class="form-tooltip-toggle" data-bs-placement="top-start"
                              title="請將RFID標籤放至讀取器上後，點選「掃描」"></span>
                        RFID
                    </label>
                    <button type="button"
                            class="btn btn-search w-100 d-flex justify-content-center align-items-center gap-1">
                        掃描<i class="scan-icon"></i>
                    </button>
                </div>
                @* <div class="datatable datatable-grid w-100 mt-2 form-group col-3fr" style="display: none;" id="RFIDZone">*@
                <div class="datatable datatable-grid w-100 mt-2 form-group col-3fr" id="RFIDZone" style="display: none;">
                    <div class="datatable-body overflow-auto">
                        <table class="datatable-table">
                            <thead>
                                <tr>
                                    <th class="datatable-header" style="width:130px"></th>
                                    <th class="datatable-header" style="width:130px"></th>
                                    <th class="datatable-header" style="width:130px"><span>RFID內碼</span></th>
                                    <th class="datatable-header" style="width:130px"><span>RFID外碼</span></th>
                                    <th class="datatable-header" style="width:250px"><span>名稱</span></th>
                                    <th class="datatable-header" style="width:120px"><span>棟別</span></th>
                                    <th class="datatable-header" style="width:120px"><span>樓層</span></th>
                                    <th class="datatable-header" style="width:120px"><span>備註</span></th>
                                    <th class="datatable-header" style="width:48px"></th>
                                </tr>
                            </thead>
                            <tbody id="item-area">
                                <tr id="sample-input-tr">
                                    <td id="d-_delete" class="p-2 d-flex justify-content-center gap-2">
                                        @*<button type="button" class="btn btn-datagrid" onclick="RFIDLocationModal('@Url.Action("ReadEquipment", "EquipmentInfo_Management")'+'/${val}')">編輯</button>*@
                                        <button type="button" class="btn btn-datagrid" data-bs-toggle="modal"
                                                data-bs-target="#RFIDEquipmentInfo">
                                            編輯
                                        </button>
                                        <button type="button" class="btn btn-location"
                                                onclick="RFIDLocationModal(fakeData_url)">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </button>
                                    </td>
                                    <td id="InterCode">XSCXCZS</td>
                                    <td id="ExterCode">XSCXCZS</td>
                                    <td id="RFIDName">前處理機房巡檢</td>
                                    <td id="ASN">前處理區</td>
                                    <td id="FSN">1F</td>
                                    <td id="Memo">備註備註備註</td>
                                    <td id="d-_delete" class="p-1 pt-2">
                                        <button type="button" class="btn-delete-item"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="datatable datatable-grid w-100 h-100" id="RFIDZone" style="display: none;">
                <div class="datatable-body h-100 overflow-auto">
                    <table class="datatable-table">
                        <thead>
                            <tr>
                                <th class="datatable-header" style="width:130px"></th>
                                <th class="datatable-header" style="width:130px"><span>RFID內碼</span></th>
                                <th class="datatable-header" style="width:130px"><span>RFID外碼</span></th>
                                <th class="datatable-header" style="width:250px"><span>名稱</span></th>
                                <th class="datatable-header" style="width:120px"><span>棟別</span></th>
                                <th class="datatable-header" style="width:120px"><span>樓層</span></th>
                                <th class="datatable-header" style="width:120px"><span>備註</span></th>
                                <th class="datatable-header" style="width:48px"></th>
                            </tr>
                        </thead>
                        <tbody id="item-area">
                            <tr id="sample-input-tr">
                                <td id="d-_delete" class="p-2 d-flex justify-content-center gap-2">
                                    @*<button type="button" class="btn btn-datagrid" onclick="RFIDLocationModal('@Url.Action("ReadEquipment", "EquipmentInfo_Management")'+'/${val}')">編輯</button>*@
                                    <button type="button" class="btn btn-datagrid" data-bs-toggle="modal"
                                        data-bs-target="#RFIDEquipmentInfo">編輯</button>
                                    <button type="button" class="btn btn-location"
                                        onclick="RFIDLocationModal(fakeData_url)"><i
                                            class="fa-solid fa-location-dot"></i></button>
                                </td>
                                <td id="InterCode">XSCXCZS</td>
                                <td id="ExterCode">XSCXCZS</td>
                                <td id="RFIDName">前處理機房巡檢</td>
                                <td id="ASN">前處理區</td>
                                <td id="FSN">1F</td>
                                <td id="Memo">備註備註備註</td>
                                <td id="d-_delete" class="p-1 pt-2">
                                    <button type="button" class="btn-delete-item"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="hr-default">
            <div class="group-title">一機一卡模板資訊</div>
            <div class="d-flex flex-column gap-4">
                <div class="form-group w-100">
                    <label for="SampleName">模板名稱</label>
                    <select class="form-select" name="SampleName" id="SampleName">
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div id="sampleContent" class="flex-column gap-3" style="display: none;">
                    <div>
                        <div class="group-sb-title">
                            <i class="fa-solid fa-map-pin"></i>
                            <div>增設基本資料欄位</div>
                        </div>
                        <div id="addItemZone" class="form-group-zone"></div>
                    </div>
                    <div>
                        <div class="group-sb-title">
                            <i class="fa-solid fa-map-pin"></i>
                            <div>保養項目/週期/下次保養日期</div>
                        </div>
                        <div id="MaintainZone" class="d-flex flex-column gap-2"></div>
                    </div>
                    <div>
                        <div class="group-sb-title">
                            <i class="fa-solid fa-map-pin"></i>
                            <div>巡檢資訊</div>
                        </div>
                        <section id="InspectionRecord"></section>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@*RFID 設備資訊POP UP*@
@*<div class="modal fade datagrid-modal" tabindex="-1" id="RFIDEquipmentInfo">
    <div class="modal-dialog modal-screen-md modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>RFID 設備資訊</h2>
                <form class="form w-100 p-0">
                    <div class="form-group-zone">
                        <div class="form-group">
                            <label for="InterCode">RFID內碼</label>
                            <input type="text" class="form-control" name="InterCode" id="InterCode" maxlength="20"
                                disabled>
                        </div>
                        <div class="form-group required">
                            <label for="ExterCode">RFID外碼</label>
                            <input type="text" class="form-control" name="ExterCode" id="ExterCode" maxlength="20"
                                required>
                        </div>
                        <div class="form-group required">
                            <label for="RFIDName">名稱</label>
                            <input type="text" class="form-control" name="RFIDName" id="RFIDName" maxlength="20"
                                required>
                        </div>
                        <div class="form-group required">
                            <label for="ASN">棟別</label>
                            <select class="form-select" name="ASN" id="ASN" required></select>
                        </div>
                        <div class="form-group required">
                            <label for="FSN">樓層</label>
                            <select class="form-select" name="FSN" id="FSN" required></select>
                        </div>
                        <div class="form-group col-3fr d-flex flex-column gap-2 bg-white p-4 align-items-end">
                            <button type="button" class="btn btn-location">
                                新增定位
                                <i class="fa-solid fa-location-dot"></i>
                            </button>
                            <img src="~/Content/img/inner-map.jpg" class="align-items-end w-100"
                                style="height: 400px; object-fit: contain;" />
                        </div>
                        <div class="form-group col-3fr">
                            <label for="Memo">備註</label>
                            <textarea class="form-control" id="Memo" name="Memo" rows="3" cols="50" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" id="add-row">確定</button>
            </div>
        </div>
    </div>
</div>*@


<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

@section scripts {
    <script>
        var fileUploader;
        let apiUrl = null;

        $(async function () {
            await formDropdown.ASN();
            await pushSelect("SampleName", "/DropDownList/OneDeviceOneCardTemplates");

            fileUploader = new FileUploader({
                container: "#FileUploader",
                className: "form-group col-3fr required",
                icon: "plus",
                buttonText: "上傳照片",
                label: "照片",
                id: "File"
            })

            //監聽 模板名稱，有選擇就顯示模板資訊內容
            document.getElementById('SampleName').addEventListener('change', function () {
                //先清空，防止舊資料疊加
                document.getElementById("addItemZone").innerHTML = "";
                document.getElementById("MaintainZone").innerHTML = "";
                document.getElementById("InspectionRecord").innerHTML = "";

                const selectedValue = this.value;

                if (selectedValue !== "") {
                    $.ajax({
                        url: "@Url.Action("ReadBody", "OneDeviceOneCard_Management")" + `/${selectedValue}`,
                        type: "GET",
                        contentType: "application/json",
                        processData: false,
                        success: onSuccess,
                        error: onError
                    })
                }

                function onSuccess(res) {
                    console.log("Datas", res.Datas);
                    createAddItem(res.Datas);
                    createMaintainItem(res.Datas.MaintainItemList, "MaintainZone");
                    InspectionRecord("#InspectionRecord", res.Datas);
                }
                function onError(res) {
                    console.log("拿取模板名稱失敗");
                }

                //新增 增設基本資訊欄位
                function createAddItem(data) {
                    const addItemZone = document.getElementById("addItemZone");
                    data.AddItemList.forEach((field, index) => {
                        const div = document.createElement("div");
                        div.className = "form-group";

                        const label = document.createElement("label");
                        label.setAttribute("for", `addField-${index + 1}`);
                        label.textContent = field.Value;

                        const input_SN = document.createElement("input");
                        input_SN.type = "text";
                        input_SN.id = `addField_SN-${index + 1}`;
                        input_SN.name = `addField_SN-${index + 1}`;
                        input_SN.value = field.AFSN;
                        input_SN.hidden = true;


                        const input_value = document.createElement("input");
                        input_value.className = "form-control";
                        input_value.type = "text";
                        input_value.id = `addField_value-${index + 1}`;
                        input_value.name = `addField_value-${index + 1}`;

                        div.appendChild(label);
                        div.appendChild(input_SN);
                        div.appendChild(input_value);
                        addItemZone.appendChild(div);
                    });
                }
            });

            addButtonEvent();
        });

        const fakeData_url = {
            RFIDName: "軸承潤滑劑",
            ASN: "A棟",
            FSN: "5F",
            Location: "",
        }

        const fakeData_Sample = {
            PSN: "P336448226",
            AddField: [
                {
                    SN: "F0001",
                    Text: "馬力數",
                },
                {
                    SN: "F0002",
                    Text: "起動方式",
                },
                {
                    SN: "F0003",
                    Text: "額定電流",
                },
                {
                    SN: "F0004",
                    Text: "油料編號",
                },
            ],
            MaintainItems: [
                {
                    SN: "I0001",
                    Text: "外部清潔與保養",
                },
                {
                    SN: "I0002",
                    Text: "各部螺絲鎖定",
                },
                {
                    SN: "I0003",
                    Text: "檢查管路是否通暢",
                },
                {
                    SN: "I0004",
                    Text: "軸承潤滑油添加",
                },
            ],
            InspectionRecord: {
                Ifrequency: "1小時",
                InspectItems: [
                    {
                        SN: "000123",
                        value: "馬達是否正常運轉"
                    },
                    {
                        SN: "000124",
                        value: "管線是否正常無漏液"
                    },
                    {
                        SN: "000125",
                        value: "出口端是否正常出藥"
                    },
                    {
                        SN: "000126",
                        value: "設備是否正常無漏水"
                    },
                ],
                ReportItems: [
                    {
                        SN: "I0001",
                        Item: "馬達電壓",
                        Value: "v",
                    },
                    {
                        SN: "I0002",
                        Item: "電流",
                        Value: "A",
                    },
                    {
                        SN: "I0003",
                        Item: "水壓",
                        Value: "Pa",
                    },
                    {
                        SN: "I0004",
                        Item: "流量",
                        Value: "CMH",
                    },
                ]
            }
        }

        document.getElementById('SampleName').addEventListener('change', function () {
            const sampleContent = document.getElementById('sampleContent');
            if (this.value) {
                sampleContent.style.display = 'flex';
            } else {
                sampleContent.style.display = 'none';
            }
        })

        function save() {
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            console.log("todo save():", isValidity)
            if (!isValidity) {
                console.log("驗證不通過");
                return;
            }
            //if (!$("#LocationX").val() || !$("#LocationX").val()) return;


            const TSN = document.getElementById('SampleName').value;
            const SampleData = IntegrateSampleData(TSN);
            const fd = new FormData();

            //有選模板的話，才傳送模板資訊
            if (TSN) {
                fd.append("TSN", TSN);
                SampleData.AddFieldList.forEach((item, i) => {
                    for (const key in item) {
                        fd.append(`AddFieldList[${i}][${key}]`, item[key]);
                    }
                })
                SampleData.MaintainItemList.forEach((item, i) => {
                    for (const key in item) {
                        fd.append(`MaintainItemList[${i}][${key}]`, item[key]);
                    }
                })
            }

            if (fileUploader.hasFile()) {
                fd.append("EPhoto", fileUploader.getFile());
            }
            document.querySelectorAll("#basicZone input, #basicZone select, #basicZone textarea").forEach(el => {
                if (el.id && el.type !== "file" && el.type !== "checkbox" && el.id !== "ASN") {
                    fd.append(el.id, el.value);
                }
            })

            console.log("最後傳出的資料為", fd);

            $.ajax({
                url: "/EquipmentInfo_Management/CreateEquipment",
                data: fd,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "新增成功！",
                    onHide: () => { window.location.href = "/EquipmentInfo_Management/Index"; }
                });

                InspectionRecord("#InspectionRecord", res);
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }

            function IntegrateSampleData(TSN) {
                if (TSN) {
                    //整理 增設基本資料欄位
                    const addItems = $('#addItemZone').children().toArray().map(e => ({
                        AFSN: $(e).find("input[name^='addField_SN']").val(),
                        Value: $(e).find("input[name^='addField_value']").val(),
                    }));

                    //整理 保養項目/週期/下次保養日期
                    const maintainItems = $('#MaintainZone').children().toArray().map(e => ({
                        MISSN: $(e).find("input[name^='addField_SN']").val(),
                        Period: $(e).find("select[name^='period']").val(),
                        NextMaintainDate: $(e).find("input[name^='nextMaintainDate']").val(),
                    }));

                    return {
                        AddFieldList:addItems,
                        MaintainItemList: maintainItems,
                    }
                }
            }
        }
    </script>
}