@{
    ViewBag.Title = "設備 刪除";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/dataTable/RepairRecord.js" defer></script>
    <script src="/Scripts/ImageDisplay.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area edit-area-md">
        <div class="d-flex flex-column gap-2 w-100">
            <div class="zone-title">基本資訊</div>
            <div class="datatable">
                <div class="datatable-body">
                    <table class="datatable-table" id="OriginalInfo"></table>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column w-100">
            <div class="group-sb-title">
                <i class="fa-solid fa-map-pin"></i>
                <div>RFID</div>
            </div>
            <section id="EquipmentRFID"></section>
        </div>
        <hr class="hr-default">
        <div class="d-flex flex-column gap-2 w-100">
            <div class="zone-title">一機一卡模板資訊</div>
            <div class="datatable">
                <div class="datatable-body">
                    <table class="datatable-table" id="SampleInfo"></table>
                </div>
            </div>
            <div class="d-flex flex-column w-100">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>增設基本資料欄位</div>
                </div>
                <div class="datatable">
                    <div class="datatable-body">
                        <table class="datatable-table" id="AddField"></table>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column w-100">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>保養資訊</div>
                </div>
                <div class="datatable">
                    <div class="datatable-body">
                        <table class="datatable-table" id="MaintainInfo"></table>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column w-100">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>巡檢資訊</div>
                </div>
                <div class="datatable">
                    <div class="datatable-body">
                        <table class="datatable-table" id="InspectionInfo"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>
            



@section scripts {
    <script>
        const IPRSN = '@ViewBag.id';
        //let apiUrl = '@Url.Action("ReadBody", "RepairRecord_Management")' + `/${IPRSN}`;
        let apiUrl = null;

        $(async function () {
            addButtonEvent();
            readData(apiUrl);
        })

        const SerializedName = [
            { text: "設備圖片", value: "Pic" },
            { text: "設備名稱", value: "EName" },
            { text: "設備編號", value: "ESN" },
            { text: "棟別", value: "Area" },
            { text: "樓層", value: "Floor" },
            { text: "設備廠牌", value: "Brand" },
            { text: "設備型號", value: "Model" },
            { text: "設備廠商", value: "Company" },
            { text: "聯絡電話", value: "Tel" },
            { text: "安裝日期", value: "InstallDate" },
            { text: "使用電壓", value: "Voltage" },
            { text: "其他耗材資料", value: "Other" },
            { text: "備註", value: "Memo" },
        ]

        const SampleName = [
            { text: "模板名稱", value: "SampleName" },
        ]

        const fakeData = {
            Pic: "P336448226",
            EName: "名稱名稱",
            ESN: "365541",
            Area: "進流抽水站",
            Floor: "B1F",
            Brand: "廠牌名稱",
            Model: "op1002",
            Company: "郝繽紛公司",
            Tel: "0909111222",
            InstallDate: "2024/08/10",
            Voltage: "20V",
            Other: "資料資料",
            Memo: "",
            RFID: [
                {
                    IName: "軸承潤滑劑一",
                    InterCode: "A101",
                    ExterCode: "125533FFFF",
                    Area: "A棟",
                    Floor: "5F",
                    Location: "-",
                    Memo: "備註備註",
                },
                {
                    IName: "軸承潤滑劑二",
                    InterCode: "A102",
                    ExterCode: "225533FFFF",
                    Area: "A棟",
                    Floor: "5F",
                    Location: "-",
                    Memo: "備註備註",
                },
                {
                    IName: "軸承潤滑劑三",
                    InterCode: "A103",
                    ExterCode: "325533FFFF",
                    Area: "A棟",
                    Floor: "5F",
                    Location: "-",
                    Memo: "備註備註",
                },
            ],
            SampleInfo: {
                SampleName: "攪拌機模板",
                AddField: [
                    {
                        SN: "F0001",
                        text: "馬力數",
                        value: "馬力數內容內容"
                    },
                    {
                        SN: "F0002",
                        text: "起動方式",
                        value: "起動方式內容內容"
                    },
                    {
                        SN: "F0003",
                        text: "額定電流",
                        value: "額定電流內容內容"
                    },
                    {
                        SN: "F0004",
                        text: "油料編號",
                        value: "油料編號內容內容"
                    },
                ],
                MaintainItems: [
                    {
                        SN: "I0001",
                        Item: "外部清潔與保養",
                        Value: "每月"
                    },
                    {
                        SN: "I0002",
                        Item: "各部螺絲鎖定",
                        Value: "每週"
                    },
                    {
                        SN: "I0003",
                        Item: "檢查管路是否通暢",
                        Value: "每日"
                    },
                    {
                        SN: "I0004",
                        Item: "軸承潤滑油添加",
                        Value: "每月"
                    },
                ],
                InspectionItems: {
                    Ifrequency: "1小時",
                    InspectItems: [
                        {
                            SN: "000123",
                            value: "馬達是否正常運轉"
                        },
                        {
                            SN: "000124",
                            value: "管線是否正常無漏液"
                        },
                        {
                            SN: "000125",
                            value: "出口端是否正常出藥"
                        },
                        {
                            SN: "000126",
                            value: "設備是否正常無漏水"
                        },
                    ],
                    ReportItems: [
                        {
                            SN: "I0001",
                            Item: "馬達電壓",
                            Value: "v"
                        },
                        {
                            SN: "I0002",
                            Item: "電流",
                            Value: "A"
                        },
                        {
                            SN: "I0003",
                            Item: "水壓",
                            Value: "Pa"
                        },
                        {
                            SN: "I0004",
                            Item: "流量",
                            Value: "CMH"
                        },
                    ]
                }
            }
        }

        // 預處理函式：將陣列轉為物件結構
        function preprocessData(array) {
            const result = {};
            array.forEach((item) => {
                result[item.value] = item.value;
                result[item.text] = item.text;
            });
            return result;
        }

        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);
                const preprocessedData = preprocessData(fakeData.SampleInfo.AddField);

                $("#OriginalInfo").append(createTableInner(res, SerializedName));
                $("#SampleInfo").append(createTableInner(res.SampleInfo, SampleName));
                $("#AddField").append(createTableInner(preprocessedData, fakeData.SampleInfo.AddField));


                EquipmentRFID("#EquipmentRFID", res);
                MaintainInfo("#MaintainInfo", res);
                InspectionInfo("#InspectionInfo", res);
                ImageDisplay(".datatable-img-item>img");
            }
            function onError(res) {
                console.log(res);
            }
        }

        function addButtonEvent() {
            $("#back").click(function () {
                history.back();
            });
            $("#delete").click(function () {
                let PSSN = $("#PSSN").val();
                createDeleteDialog({
                    url: '@Url.Action("DeleteSampleSchedule", "SampleSchedule_Management")?PSSN=' + PSSN,
                    data: PSSN,
                    onSuccess() {
                        let url = '@Url.Action("Index", "SampleSchedule_Management")';
                        window.location.href = url;
                    }
                })
            });
        }


    </script>
}