@{
    ViewBag.Title = "設備 詳情";
}
@section styles {
    @Html.Partial("MapScripts")
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/dataTable/RepairRecord.js" defer></script>
    <script src="/Scripts/ImageDisplay.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area edit-area-md">
        <div class="d-flex flex-column gap-2 w-100">
            <div class="zone-title">基本資訊</div>
            <div class="datatable">
                <div class="datatable-body">
                    <table class="datatable-table" id="OriginalInfo"></table>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column w-100">
            <div class="group-sb-title">
                <i class="fa-solid fa-map-pin"></i>
                <div>RFID</div>
            </div>
            <section id="EquipmentRFID"></section>
        </div>
        <hr class="hr-default" style="display: none;">
        <div class="flex-column gap-2 w-100" style="display: none;" id="SampleZone">
            <div class="zone-title">一機一卡模板資訊</div>
            <div class="datatable">
                <div class="datatable-body">
                    <table class="datatable-table" id="SampleInfo"></table>
                </div>
            </div>
            <div class="flex-column w-100" id="addFieldSection">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>增設基本資料欄位</div>
                </div>
                <div class="datatable">
                    <div class="datatable-body">
                        <table class="datatable-table" id="AddField"></table>
                    </div>
                </div>
            </div>
            <div class="flex-column w-100" id="maintainSection">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>保養資訊</div>
                </div>
                <div class="datatable">
                    <div class="datatable-body">
                        <table class="datatable-table" id="MaintainInfo"></table>
                    </div>
                </div>
            </div>
            <div class="flex-column w-100" id="inspectionInfoSection">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>巡檢資訊</div>
                </div>
                <div class="datatable">
                    <div class="datatable-body">
                        <table class="datatable-table" id="InspectionInfo"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section scripts {
    <script>
        const ESN = '@ViewBag.id';
        let apiUrl = '@Url.Action("ReadBody", "EquipmentInfo_Management")' + `/${ESN}`;
        //let apiUrl = null;
        let allData = {};
        $(async function () {
            readData(apiUrl);
        })

        //基本資料欄位
        const SerializedName = [
            {
                text: "設備圖片", value: "FilePath", type: "ImgPath" },
            { text: "設備名稱", value: "EName" },
            { text: "設備狀態", value: "EState" },
            { text: "設備編號", value: "NO" },
            { text: "棟別", value: "AreaName" },
            { text: "樓層", value: "FloorName" },
            { text: "設備廠牌", value: "Brand" },
            { text: "設備型號", value: "Model" },
            { text: "設備廠商", value: "Vendor" },
            { text: "聯絡電話", value: "ContactPhone" },
            { text: "安裝日期", value: "InstallDate" },
            { text: "使用電壓", value: "OperatingVoltage" },
            { text: "其他耗材資料", value: "OtherInfo" },
            { text: "備註", value: "Memo" },
        ]

        const SampleName = [
            { text: "模板名稱", value: "SampleName" },
        ]

        const fakeData = {
            Datas: {
                ESN: "000123",
                EPhoto: "/Files/EquipmentInfo/E24122400001.png",
                EName: "名稱名稱",
                NO: "365541",
                AreaName: "進流抽水站",
                FloorName: "B1F",
                Brand: "廠牌名稱",
                Model: "op1002",
                Vendor: "郝繽紛公司",
                ContactPhone: "0909111222",
                InstallDate: "2024/08/10",
                OperatingVoltage: "20V",
                OtherInfo: "資料資料",
                Memo: "這是一段備註",
                RFIDList: [
                    {
                        Name: "軸承潤滑劑一",
                        InternalCode: "A101",
                        ExternalCode: "125533FFFF",
                        AreaName: "A棟",
                        FloorName: "5F",
                        Location_X: "",
                        Location_Y: "",
                        Memo: "備註備註",
                    },
                    {
                        Name: "軸承潤滑劑二",
                        InternalCode: "A102",
                        ExternalCode: "225533FFFF",
                        AreaName: "A棟",
                        FloorName: "5F",
                        Location_X: "",
                        Location_Y: "",
                        Memo: "備註備註",
                    },
                    {
                        Name: "軸承潤滑劑三",
                        InternalCode: "A103",
                        ExternalCode: "325533FFFF",
                        AreaName: "A棟",
                        FloorName: "5F",
                        Location_X: "",
                        Location_Y: "",
                        Memo: "備註備註",
                    },
                ],
                SampleName: "攪拌機模板",
                AddFieldList: [
                    {
                        AFSN: "F0001",
                        Text: "馬力數",
                        Value: "馬力數內容內容"
                    },
                    {
                        AFSN: "F0002",
                        Text: "起動方式",
                        Value: "起動方式內容內容"
                    },
                    {
                        AFSN: "F0003",
                        Text: "額定電流",
                        Value: "額定電流內容內容"
                    },
                    {
                        AFSN: "F0004",
                        Text: "油料編號",
                        Value: "油料編號內容內容"
                    },
                ],
                MaintainItemList: [
                    {
                        MISSN: "I0001",
                        Value: "外部清潔與保養",
                        Period: "每月",
                        NextMaintainDate: "2024/12/25"
                    },
                    {
                        MISSN: "I0002",
                        Value: "各部螺絲鎖定",
                        Period: "每週",
                        NextMaintainDate: "2024/12/25"
                    },
                    {
                        MISSN: "I0003",
                        Value: "檢查管路是否通暢",
                        Period: "每日",
                        NextMaintainDate: "2024/12/25"
                    },
                    {
                        MISSN: "I0004",
                        Value: "軸承潤滑油添加",
                        Period: "每月",
                        NextMaintainDate: "2024/12/25"
                    },
                ],
                Frequency: "1小時",
                CheckItemList: [
                    {
                        CISN: "000123",
                        Value: "馬達是否正常運轉"
                    },
                    {
                        CISN: "000124",
                        Value: "管線是否正常無漏液"
                    },
                    {
                        CISN: "000125",
                        Value: "出口端是否正常出藥"
                    },
                    {
                        CISN: "000126",
                        Value: "設備是否正常無漏水"
                    },
                ],
                ReportItemList: [
                    {
                        RISN: "I0001",
                        Value: "馬達電壓",
                        Unit: "v"
                    },
                    {
                        RISN: "I0002",
                        Value: "電流",
                        Unit: "A"
                    },
                    {
                        RISN: "I0003",
                        Value: "水壓",
                        Unit: "Pa"
                    },
                    {
                        RISN: "I0004",
                        Value: "流量",
                        Unit: "CMH"
                    },
                ]
            },
            ErrorMessage: "",
            State: ""
        }

        //處理傳進來的AddFieldList格式
        function preprocessAddItemsData(array) {
            return array.map((item) => ({
                text: item.Text,
                value: item.Value,
                type: "Variable"
            }))
        }

        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);
                const data = res.Datas
                const AddItemsData = preprocessAddItemsData(data.AddFieldList);

                $("#OriginalInfo").append(createTableInner(data, SerializedName));
                ImageDisplay(".datatable-img-item>img");
                EquipmentRFID("#EquipmentRFID", data);

                //判斷是否有模板
                if (data.SampleName) {
                    document.querySelector(".hr-default").style.display = "block";
                    document.getElementById("SampleZone").style.display = "flex";

                    if (data.AddFieldList && data.AddFieldList.length > 0) {
                        document.getElementById("addFieldSection").style.display = "flex";
                    } else {
                        document.getElementById("addFieldSection").style.display = "none";
                    }

                    if (data.MaintainItemList && data.MaintainItemList.length > 0) {
                        document.getElementById("maintainSection").style.display = "flex";
                    } else {
                        document.getElementById("maintainSection").style.display = "none";
                    }

                    if (data.Frequency) {
                        document.getElementById("inspectionInfoSection").style.display = "flex";
                    } else {
                        document.getElementById("inspectionInfoSection").style.display = "none";
                    }

                    $("#SampleInfo").append(createTableInner(data, SampleName));
                    $("#AddField").append(createTableInner(data, AddItemsData));
                    MaintainInfo("#MaintainInfo", data);
                    InspectionInfo("#InspectionInfo", data);
                }


            }
            function onError(res) {
                console.log(res);
            }
        }



    </script>
}