@model MinSheng_MIS.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "變更密碼";
}
@section styles {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/datatable.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-xs flex-lg-row">
        @using (Html.BeginForm("ChangePassword", "Account_Management", FormMethod.Post, new
        {
            @class = "form pb-0",
            id = "ChangePassword",
            role = "form"
        }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group d-lg-contents required">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div class="form-group d-lg-contents required">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

            </div>
            <div class="form-group d-lg-contents required">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="form-group d-lg-contents">
                <div></div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        }
    </div>
</section>

    <div class="edit-button-area">
        <button class="btn btn-submit" type="submit" form="ChangePassword" id="submit">變更密碼</button>
    </div>
    @section Scripts {

        <script>
        window.onload = function () {
            var message = '@ViewBag.Message';
            if (message != '') {
                createDialogModal({
                    id: "DialogModal-Error", inner: message,
                    onHide: () => {
                        // window.location.href = "/AsBuiltDrawing_Management/Management"
                    }
                });
            }
        }
        </script>
    }
