@model  MinSheng_MIS.Models.ViewModels.ReviewEqMaintainItemViewModel

@{
    ViewBag.Title = "保養項目刪除";
}

<h2>@ViewBag.Title</h2>

<input type="text" id="MISN" name="MISN" hidden>

<div class="datatable datatable-small mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="MaintainItemInfo"></table>
    </div>
</div>

<div class="datatable datatable-small-grid mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="EquipmentMaintainItem">
        </table>
    </div>
</div>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>

<script src="/Scripts/datatable.js"></script>
<script>
    var eqList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.JsonStr));
    eqList = eqList.replace("\r", "").replace("\n", "");
    var equipmentList = JSON.parse(eqList);

    const apiUrl = null;

    const SerializedName = [
        { text: "系統別", value: "System" },
        { text: "子系統別", value: "SubSystem" },
        { text: "設備名稱", value: "EName" },
        { text: "項目名稱", value: "MIName" },
        { text: "保養週期單位", value: "Unit" },
        { text: "保養週期", value: "Period" },
    ]

    const GridOptions = {
        thead: true,
        columns: [
            { id: "ESN", title: "設備編號", width: "36%" },
            { id: "Unit", title: "保養週期單位", width: "36%" },
            { id: "Period", title: "保養週期", width: "28%" },
        ]
    }

    const fakeData = {
        MISN: "000001",
        System: "前處理",
        SubSystem: "前處理",
        EName: "除物皮帶輸送機",
        MIName: "軸承潤滑",
        Unit: "月",
        Period: "1",
        EquipmentMaintainItem: [
            {
                ESN: "E00001",
                Unit: "月",
                Period: "1",
            },
            {
                ESN: "E00002",
                Unit: "天",
                Period: "7",
            },
            {
                ESN: "E00003",
                Unit: "月",
                Period: "2",
            },
            {
                ESN: "E00004",
                Unit: "月",
                Period: "2",
            },
        ]
    }

    function readData(url = null) {

        url == null ? onSuccess(equipmentList) :
            $.ajax({
                url: url,
                data: JSON.stringify(jsonData),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#MISN").val(res.MISN);
            $("#MaintainItemInfo").append(createTableInner(res, SerializedName));
            if (res.EquipmentMaintainItem) {
                $("#EquipmentMaintainItem").append(createTableGrid(res.EquipmentMaintainItem, GridOptions))
            }
            else {
                $("#EquipmentMaintainItem").parents(".datatable").remove();
            }
        }
        function onError(res) {
            console.log(res);
        }
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        });

        $("#delete").click(function () {
            let modal = $(`
            <div class="modal fade modal-delete" id="DeleteModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            確認是否刪除？
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-delete" id="delete-2">確定刪除</button>
                        </div>
                    </div>
                </div>
            </div>
            `);
            let myModal = bootstrap.Modal.getOrCreateInstance(modal[0]);
            myModal.show();
            modal[0].addEventListener("hidden.bs.modal", () => {
                myModal.dispose();
                modal.remove();
            })

            modal.find("#delete-2").click(function () {
                let misn = $("#MISN").val();
                console.log(misn);
                let spinner = ` <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`;
                modal.find("#delete").append(spinner);

                //setTimeout(onSuccess, 1000);

                $.ajax({
                url: '@Url.Action("DeleteMaintainItem", "MaintainItem_Management")?MISN=' + misn,
                data: JSON.stringify(misn),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
                })

            });

            function onSuccess(res) {
                console.log("Success");
                console.log(res);

                if (res.ResponseCode == 0) {
                    myModal.hide();
                    let modal_success = $(`
                    <div class="modal fade modal-delete" id="DeleteModal-success" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    刪除成功！
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-delete" data-bs-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `);
                    $(document.body).append(modal_success);
                    let myModal_success = bootstrap.Modal.getOrCreateInstance(modal_success[0]);
                    myModal_success.show();
                    modal_success[0].addEventListener("hidden.bs.modal", () => {
                        myModal_success.dispose();
                        console.log("刪除囉")
                        var url = '@Url.Action("Management", "MaintainItem_Management")';
                        window.location.href = url;
                        //history.back();
                    })
                }
            }
            function onError(res) {
                console.log("error");
                console.log(res);
                let modal_error = $(`
                    <div class="modal fade modal-delete" id="DeleteModal-error" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    刪除失敗！
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-delete" data-bs-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `);
                $(document.body).append(modal_error);
                let myModal_error = bootstrap.Modal.getOrCreateInstance(modal_error[0]);
                myModal_error.show();
                modal_error[0].addEventListener("hidden.bs.modal", () => {
                    myModal_error.dispose();
                    modal_error.remove();
                })
            }
        });

    }

    window.onload = function () {
        readData(apiUrl);
        addButtonEvent();
    }
</script>

