@{
    ViewBag.Title = "保養項目管理";
}
@section styles {
    @Html.Partial("DataGridScripts", true)

    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <script src="/Scripts/AreaFloorEvent.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增保養項目</button>

<div class="search-area">
    <form id="Searchform" class="form">
        <div class="form-group">
            <label for="System">系統別</label>
            <select class="form-select" name="System" id="System">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="SubSystem">子系統別</label>
            <select class="form-select" name="SubSystem" id="SubSystem">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="EName">設備名稱</label>
            <input class="form-control" name="EName" id="EName" type="text" />
        </div>

        <div class="form-group">
            <label for="MIName">保養項目名稱</label>
            <input class="form-control" name="MIName" id="MIName" type="text" />
        </div>

        <div class="form-group">
            <label for="Unit">保養週期單位</label>
            <input class="form-control" name="Unit" id="Unit" type="text" />
        </div>

        <div class="form-group">
            <label for="Period">保養週期</label>
            <input class="form-control" name="Period" id="Period" type="text" />
        </div>

        <div class="button-group">
            <button id="search" type="button" class="btn btn-search">查詢</button>
            <button id="clear" type="button" class="btn btn-clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        var getGridJSON = '@Url.Action("MaintainItem_Management", "Datagrid")';
        var DataGrid;
        var baseUrl = '/' + window.location.pathname.split('/')[1];

        const fakeData = [
            {
                MISN: "000001",
                System: "處理",
                SubSystem: "前處理",
                EName: "除物皮帶輸送機",
                MIName: "軸承潤滑",
                Unit: "月",
                Period: "1",
            }
        ]

        $(async function () {
            await pushSelect("System", '@Url.Action("System", "DropDownList")');
            const Systems = document.getElementById('System')
            Systems.addEventListener("change", function () {
                pushSelect("SubSystem", `@Url.Action("SubSystem", "DropDownList")?System=${$('#System').val()}`);
            });

            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'PSSN',
                //sortName: 'PSSN',
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { className: "btn btn-datagrid btn-delete" })),
                ]],
                columns: [[
                    dg.column('MISN', '保養項目編號', 160),
                    dg.column('System', '系統別', 200),
                    dg.column('SubSystem', '子系統別', 250),
                    dg.column('EName', '設備名稱', 350),
                    dg.column('MIName', '保養項目名稱', 270),
                    dg.column('Unit', '保養週期單位', 150),
                    dg.column('Period', '保養週期', 110)
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Read/${row.MISN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.MISN}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.MISN}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
                pushSelect("SubSystem", '@Url.Action("SubSystem", "DropDownList")');
            });

            //檢索按鍵
            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}