@model MinSheng_MIS.Models.MaintainItemViewModel

@{
    ViewBag.Title = "保養項目管理";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/easyui-datagrid-client-paging.js"></script>

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增保養項目</button>

<div class="search-area">
    <form id="Searchform"class="form">

        <div class="form-group">
            <label for="System">系統別</label>
            <select class="form-select" name="System" id="SystemOption">
                <option value=""> -- 請選擇 -- </option>
                @{
                    for (var i = 0; i < @Model.SystemItemList.Count(); i++)
                    {
                        <option value=@Model.SystemItemList[i].SystemName>
                            @Model.SystemItemList[i].SystemName
                        </option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="SubSystem">子系統別</label>
            <select class="form-select" name="SubSystem" id="SubSystemOption">
                <option value=""> -- 請選擇 -- </option>
            </select>
        </div>

        <div class="form-group">
            <label for="EName">設備名稱</label>
            <select class="form-select" name="EName" id="ENameOption">
                <option value=""> -- 請選擇 -- </option>
            </select>
        </div>

        <div class="form-group">
            <label for="MIName">保養項目名稱</label>
            <input class="form-control" name="MIName" id="MINameOption" type="text" />
        </div>

        <div class="form-group">
            <label for="Unit">保養週期單位</label>
            <input class="form-control" name="Unit" id="UnitOption" type="text" />
        </div>

        <div class="form-group">
            <label for="Period">保養週期</label>
            <input class="form-control" name="Period" id="PeriodOption" type="text" />
        </div>

        <div class="button-group">
            <button id="SearchBtn" type="button" class="btn btn-search">查詢</button>
            <button type="button" class="btn btn-clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

<script type="text/javascript">
    var eqList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.EquipmentInfoList));
    eqList = eqList.replace("\r", "").replace("\n", "");
    var equipmentList = JSON.parse(eqList);
    //console.log(`所有設備清單`);
    //console.log(equipmentList);
    CreateAllENameOptions(equipmentList.EquipmentInfo);

    //#region Searchform - Auto generate the select options

    //Change event listener of SystemOption element
    const selectSystemElement = document.querySelector('#SystemOption');
    selectSystemElement.addEventListener('change', (event) => {
        var chooseSystem = document.getElementById('SystemOption').value;
        console.log(`Choose System: ${event.target.value}`);

        //When user didn't choose system option
        if (chooseSystem == "none") {
            ClearOptions("SubSystemOption");
            $("#SubSystemOption").append(`<option value=""> -- 請選擇 -- </option>`);

            CreateAllENameOptions(equipmentList.EquipmentInfo);
            //ClearOptions("ENameOption");
            //$("#ENameOption").append(`<option value="none"> -- 請選擇 -- </option>`);
        }
        //When user choose system option
        else {
            ClearOptions("SubSystemOption");
            $("#SubSystemOption").append(`<option value=""> -- 請選擇 -- </option>`);
            CreateSubSystemOptions(chooseSystem, equipmentList.EquipmentInfo);

            ClearOptions("ENameOption");
            $("#ENameOption").append(`<option value=""> -- 請選擇 -- </option>`);
            CreateENameOptionsWithSystem(chooseSystem, equipmentList.EquipmentInfo);
        }
    });

    const selectSubSystemElement = document.querySelector('#SubSystemOption');
    selectSubSystemElement.addEventListener('change', (event) => {
        var chooseSystem = document.getElementById('SystemOption').value;
        var chooseSubSystem = document.getElementById('SubSystemOption').value;
        console.log(`Choose SubSystem: ${event.target.value}`);

        //When user didn't choose subsystem option
        if (chooseSystem == "none") {
            ClearOptions("ENameOption");
            CreateAllENameOptions(equipmentList.EquipmentInfo);
        //    ClearOptions("ENameOption");
        //    $("#ENameOption").append(`<option value="none"> -- 請選擇 -- </option>`);
        }
        //When user choose subsystem option
        else {
            ClearOptions("ENameOption");
            $("#ENameOption").append(`<option value=""> -- 請選擇 -- </option>`);
            CreateENameOptions(chooseSystem,chooseSubSystem, equipmentList.EquipmentInfo);
        }
    });

    //Clear all options in select
    function ClearOptions(id) {
        document.getElementById(id).options.length = 0;
    }

    function CreateSubSystemOptions(optionvalue, data) {
        var systemOption = optionvalue;
        var tempArray = [];
        //console.log(data);
        //列出不重複的子系統別類型
        data.forEach(function (item, i) {
            var arrLength = tempArray.length;
            //console.log(item);
            if (item.System == systemOption) {
                var tempSubSystem = item.SubSystem;
                var isRepeat = false;
                for (var i = 0; i < arrLength; i++) {
                    if (tempSubSystem == tempArray[i]) {
                        isRepeat = true;
                        break;
                    }
                }

                if (!isRepeat) {
                    tempArray.push(item.SubSystem);
                    $("#SubSystemOption").append(`<option value="${item.SubSystem}">${item.SubSystem}</option>`);
                }
            }
        });
        //console.log(tempArray);
    }

    //創建所有EName element
    function CreateAllENameOptions(data) {
        var tempArray = [];
        //console.log(`system:${systemOption},subSystem ${subSystemOption}`);

        //列出不重複的設備名稱
        data.forEach(function (item, i) {
            var arrLength = tempArray.length;
            var tempSubSystem = item.SubSystem;
            var isRepeat = false;
            for (var i = 0; i < arrLength; i++) {
                if (item.EName == tempArray[i]) {
                    isRepeat = true;
                    break;
                }
            }

            if (!isRepeat) {
                tempArray.push(item.EName);
                $("#ENameOption").append(`<option value="${item.EName}">${item.EName}</option>`);
            }
        });
    }

    //依據所選系統，創建相關的EName element
    function CreateENameOptionsWithSystem(systemVal, data) {
        var systemOption = systemVal;
        //var subSystemOption = subSystemVal;
        var tempArray = [];
        //console.log(`system:${systemOption},subSystem ${subSystemOption}`);

        //列出不重複的設備名稱
        data.forEach(function (item, i) {
            var arrLength = tempArray.length;
            //console.log(item);
            if (item.System == systemOption) {
                var tempEName = item.EName;
                var isRepeat = false;
                for (var i = 0; i < arrLength; i++) {
                    if (tempEName == tempArray[i]) {
                        isRepeat = true;
                        break;
                    }
                }

                if (!isRepeat) {
                    tempArray.push(item.EName);
                    $("#ENameOption").append(`<option value="${item.EName}">${item.EName}</option>`);
                }
            }
        });


    }
    //依據所選系統與子系統，創建相關的EName element
    function CreateENameOptions(systemVal, subSystemVal, data) {
        var systemOption = systemVal;
        var subSystemOption = subSystemVal;
        var tempArray = [];
        //console.log(`system:${systemOption},subSystem ${subSystemOption}`);

        //列出不重複的設備名稱
        data.forEach(function (item, i) {
            var arrLength = tempArray.length;
            //console.log(item);
            if (item.System == systemOption && item.SubSystem == subSystemOption) {
                //var tempSubSystem = item.SubSystem;
                var isRepeat = false;
                for (var i = 0; i < arrLength; i++) {
                    if (item.EName == tempArray[i]) {
                        isRepeat = true;
                        break;
                    }
                }

                if (!isRepeat) {
                    tempArray.push(item.EName);
                    $("#ENameOption").append(`<option value="${item.EName}">${item.EName}</option>`);
                }
            }
        });
    }

    //#endregion

    var baseUrl = "/MaintainItem_Management/";

    //const fakeData = [
    //    {
    //        MISN: "000001",
    //        System: "處理",
    //        SubSystem: "前處理",
    //        EName: "除物皮帶輸送機",
    //        MIName: "軸承潤滑",
    //        Unit: "月",
    //        Period: "1",
    //    }
    //]

    $(function () {
        let getGridJSON = '@Url.Action("GetGridJson", "MaintainItem_Management")';
        var QueryStr = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.QueryStr));

        //console.log(QueryStr);
        Initialize_DataGrid(getGridJSON, QueryStr);
        addSearchAreaClickEvent();
    });

    function Initialize_DataGrid(getGridJSON, searchQuery) {

        $('#DataGrid').datagrid({

            url: getGridJSON,
            //method: 'POST',
            //data: fakeData,
            queryParams: {
                Query: searchQuery
            },
            rownumbers: true,
            idField: 'MISN',
            sortName: 'MISN',
            remoteSort: false,
            //sortOrder: 'desc',
            fit: true,
            frozenColumns: [[
                //{ field: '_detail', title: '詳情', align: 'center', width: 70, formatter: (value, row, index) => { return generateFunctionButton(index, 'detail', '詳情') } },
                //{ field: '_edit', title: '編輯', align: 'center', width: 70, formatter: (value, row, index) => { return generateFunctionButton(index, 'edit', '編輯') } },
                //{ field: '_delete', title: '刪除', align: 'center', width: 70, formatter: (value, row, index) => { return generateFunctionButton(index, 'delete', '刪除') } },

                {
                    field: '_detail', align: 'center',
                    formatter: (value, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDetail(${index})">詳情</button>`;
                    }
                },
                {
                    field: '_edit', align: 'center',
                    formatter: (value, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onEdit(${index})">編輯</button>`;
                    }
                },
                {
                    field: '_delete', align: 'center',
                    formatter: (value, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDelete(${index})">刪除</button>`;
                    }
                }
            ]],
            columns: [[
                { field: 'MISN', title: '保養項目編號', align: 'center', width: 150, sortable: true },
                { field: 'System', title: '系統別', align: 'center', width: 150, sortable: true },
                { field: 'SubSystem', title: '子系統別', align: 'center', width: 150, sortable: true },
                { field: 'EName', title: '設備名稱', align: 'center', width: 250, sortable: true },
                { field: 'MIName', title: '保養項目名稱', align: 'center', width: 200, sortable: true },
                { field: 'Unit', title: '保養週期單位', align: 'center', width: 150, sortable: true },
                { field: 'Period', title: '保養週期', align: 'center', width: 110, sortable: true },
                { field: 'MaintainItemIsEnable', title: '啟停狀態', align: 'center', width: 110, sortable: true, formatter: (value, row, index) => { return formattedEnable(value); } }
            ]],
            singleSelect: true,
            selectOnCheck: true,
            checkOnSelect: false,

            pagination: true,
            pagePosition: 'bottom',
            pageSize: 10
        });
        //------------Pager --------------------------------------------------
        var pager = $('#DataGrid').datagrid('getPager');
        $(pager).pagination({
            pageSize: 10,
            showPageList: true,
            pageList: [10, 20, 50],
            beforePageText: '第',
            afterPageText: '頁，共 {pages} 頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料，共 {total} 筆資料'
        });
    }

    function formattedEnable(value) {
        if (value == 1)
            return "啟用";
        else if (value == 2)
            return "永久停用";

    }

    function generateFunctionButton(index, type, text) {
        let btn = $(`<button class="btn btn-datagrid" onclick="goToPage(${index}, '${type}')">${text}</button>`)
        return btn.prop('outerHTML');
    }

    function goToPage(index, type) {
        let url;
        let row = $('#DataGrid').datagrid('getRows')[index];
        switch (type) {
            case 'detail':
                @*url = '@Url.Action("Read", "MaintainItem_Management")?MISN=' + id;*@
                url = baseUrl + 'Read?MISN=' + row.MISN;
                console.log(`goToPage url: ${url}`);
                break;
            case 'edit':
                url = baseUrl + 'Edit?MISN=' + row.MISN;
                console.log(`goToPage url: ${url}`);
                break;
            case 'delete':
                url = baseUrl + 'Delete?MISN=' + row.MISN;
                console.log(`goToPage url: ${url}`);
                break;
        }
        window.open(url, "_blank");
    }

    // datagrid onClick Function
    function onDetail(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Read?MISN=' + row.MISN;
        window.open(url, "_blank");
    }

    function onEdit(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Edit?MISN=' + row.MISN;
        window.open(url, "_blank"); //_self
    }

    function onDelete(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Delete?MISN=' + row.MISN;
        window.open(url, "_blank"); //_self
    }

    //search area onClick Function
    function addSearchAreaClickEvent() {
        $(".btn-clear").click(function () {
            document.getElementById("Searchform").reset();

        });

        //檢索按鍵
        $(".btn-search").click(function () {
            //宣告FormData
            var formData = new FormData();
            //將欄位append到FormData內
            formData.append('System', $("#SystemOption").val());
            formData.append('SubSystem', $("#SubSystemOption").val());
            formData.append('EName', $("#ENameOption").val());
            formData.append('MIName', $("#MINameOption").val());
            formData.append('Unit', $("#UnitOption").val());
            formData.append('Period', $("#PeriodOption").val());

            $.ajax({
                contentType: false,
                processData: false,
                cache: false,
                type: 'POST',
                url: '@Url.Action("VerifyField", "MaintainItem_Management")',
                data: formData,
                success: function (response) {
                    //console.log('response.QueryStr');
                    //console.log(response.QueryStr);
                    if (response.ResponseCode == 0) {
                        var getGridJSON = '@Url.Action("GetGridJson", "MaintainItem_Management")';
                        var originalQuery = response.QueryStr;
                        Initialize_DataGrid(getGridJSON, originalQuery);
                        alert(response.ResponseMessage);
                    }
                    else {
                        alert(response.ResponseMessage);
                    }
                },
                error: function () {
                    alert("Something went wrong please contact admin.");
                }

            });
        });

        $("#create").click(function () {
            let url = baseUrl + 'Create';
            window.open(url, "_self");
        });
    }


</script>
