@{
    ViewBag.Title = "工單 刪除";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/ImageDisplay.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area">
        <div class="datatable datatable-small">
            <div class="datatable-body">
                <table class="datatable-table" id="PlanDetail"></table>
            </div>
        </div>

        <section id="RepairRecord" class="info-zone">
            <div class="zone-title">巡檢紀錄</div>
            <div class="datatable border-0">
                <div class="datatable-body" id="PlanRecord"></div>
            </div>
        </section>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>


@section scripts {
    <script>
        const IPSN = '@ViewBag.id';
        let apiUrl = '@Url.Action("ReadBody", "PlanManagement")?id=' + IPSN;

        $(async function () {
            addButtonEvent();
            readData(apiUrl);
        })

        const fakeData = {
            PSN: "P336448226",
            State: "完成",
            PName: "巡檢工單名稱",
            PTime: "2024/10/02",
            InspectionRecord: [
                {
                    IName: "第一個巡檢前處理機房巡檢",
                    ITime: "00:00～01:00",
                    IState: "完成",
                    Ifrequency: "每3小時",
                    INum: "10",
                    EquipmentItem: [
                        {
                            IName: "設備1 - 螺旋發送機",
                            Model: "SP-0202A",
                            Location: "生物處理機房 電器儀控室層1",
                            InspectItems: [
                                {
                                    Item: "檢查項目1",
                                    State: "異常"
                                },
                                {
                                    Item: "檢查項目2",
                                    State: "正常"
                                },
                            ],
                            ReportItems: [
                                {
                                    Item: "填報列表1",
                                    Value: "44",
                                    Init: "PA"
                                },
                                {
                                    Item: "填報列表2",
                                    Value: "85",
                                    Init: "%"
                                },
                                {
                                    Item: "填報列表3",
                                    Value: "30",
                                    Init: "˚C"
                                },
                            ],
                        },
                        {
                            IName: "設備2 - 螺旋發送機",
                            Model: "SP-0202A",
                            Location: "生物處理機房 電器儀控室層2",
                            InspectItems: [
                                {
                                    Item: "螺絲是否正常轉緊",
                                    State: "正常"
                                },
                                {
                                    Item: "電壓是否正常(有無漏電狀況發生)",
                                    State: "正常"
                                },
                                {
                                    Item: "出口端是否正常出藥",
                                    State: "異常"
                                },
                                {
                                    Item: "設備是否正常無漏水333",
                                    State: "正常"
                                },
                            ],
                            ReportItems: [
                                {
                                    Item: "螺絲是否正常轉緊測試11",
                                    Value: "20",
                                    Init: "PA"
                                },
                                {
                                    Item: "氧氣濃度測試22",
                                    Value: "96",
                                    Init: "%"
                                },
                                {
                                    Item: "溫度測試33",
                                    Value: "28",
                                    Init: "˚C"
                                },
                            ],
                        },
                    ],
                },
                {
                    IName: "第二個巡檢前處理機房巡檢",
                    ITime: "01:00～02:00",
                    IState: "進行中",
                    Ifrequency: "每2小時",
                    INum: "30",
                    EquipmentItem: [
                        {
                            IName: "螺旋發送機2-1",
                            Model: "SP-0202A",
                            Location: "生物處理機房 電器儀控室層3",
                            InspectItems: [
                                {
                                    Item: "螺絲是否正常轉緊測試1",
                                    State: "正常"
                                },
                                {
                                    Item: "電壓是否正常(有無漏電狀況發生)測試2",
                                    State: "正常"
                                },
                                {
                                    Item: "出口端是否正常出藥測試3",
                                    State: "異常"
                                },
                                {
                                    Item: "設備是否正常無漏水測試4",
                                    State: "正常"
                                },
                            ],
                            ReportItems: [
                                {
                                    Item: "螺絲是否正常轉緊",
                                    Value: "20",
                                    Init: "PA"
                                },
                                {
                                    Item: "氧氣濃度",
                                    Value: "96",
                                    Init: "%"
                                },
                                {
                                    Item: "溫度",
                                    Value: "28",
                                    Init: "˚C"
                                },
                            ],
                        },
                        {
                            IName: "螺旋發送機2-2",
                            Model: "SP-0202A",
                            Location: "生物處理機房 電器儀控室層4",
                            InspectItems: [
                                {
                                    Item: "螺絲是否正常轉緊",
                                    State: "正常"
                                },
                                {
                                    Item: "電壓是否正常(有無漏電狀況發生)",
                                    State: "正常"
                                },
                                {
                                    Item: "出口端是否正常出藥",
                                    State: "異常"
                                },
                                {
                                    Item: "設備是否正常無漏水",
                                    State: "正常"
                                },
                            ],
                            ReportItems: [
                                {
                                    Item: "螺絲是否正常轉緊",
                                    Value: "20",
                                    Init: "PA"
                                },
                                {
                                    Item: "氧氣濃度",
                                    Value: "96",
                                    Init: "%"
                                },
                                {
                                    Item: "溫度",
                                    Value: "28",
                                    Init: "˚C"
                                },
                            ],
                        },
                        {
                            IName: "螺旋發送機2-3",
                            Model: "SP-0202A",
                            Location: "生物處理機房 電器儀控室層5",
                            InspectItems: [
                                {
                                    Item: "螺絲是否正常轉緊",
                                    State: "正常"
                                },
                                {
                                    Item: "電壓是否正常(有無漏電狀況發生)",
                                    State: "正常"
                                },
                                {
                                    Item: "出口端是否正常出藥",
                                    State: "異常"
                                },
                                {
                                    Item: "設備是否正常無漏水",
                                    State: "正常"
                                },
                            ],
                            ReportItems: [
                                {
                                    Item: "螺絲是否正常轉緊",
                                    Value: "20",
                                    Init: "PA"
                                },
                                {
                                    Item: "氧氣濃度",
                                    Value: "96",
                                    Init: "%"
                                },
                                {
                                    Item: "溫度",
                                    Value: "28",
                                    Init: "˚C"
                                },
                            ],
                        },
                    ],
                },
            ],
        }

        function readData(url = null) {

            url == null ? onSuccess(apiUrl) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                const data = res.Datas;
                console.log(data);
                DT.createTableInner("#PlanDetail", data, [
                    { title: "工單編號", id: "IPSN" },
                    { title: "工單狀態", id: "PlanState" },
                    { title: "工單名稱", id: "IPName" },
                    { title: "工單日期", id: "PlanDate", type: "date" },
                ])

                DT.createAccordion("#PlanRecord", data.Inspections, {
                    id: "Inspections",
                    title(data) {
                        return `${data.PathName} (${data.StartTime}~${data.EndTime})`
                    },
                    icon: 'clipboard-list',
                    iconStyle: 'color: #2C5984',
                    iconClass: 'me-2',
                    items: [
                        { title: "巡檢狀態", id: "InspectionState" },
                        { title: "巡檢頻率", id: "Frequency" },
                        { title: "巡檢數量", id: "EquipmentCount" },
                        {
                            type: "accordion", id: "Equipments", options: {
                                id: "Equipments",
                                title(data) {
                                    return `${data.EName} ${data.NO}`
                                },
                                className: 'subDatatable',
                                items: [
                                    { title: "所在位置", id: "Location" },
                                    { title: "最新填報者", id: "ReportUserName" },
                                    { title: "最新填報時間", id: "FillinTime", type: "date" },
                                    {
                                        type: "items", title: "檢查項目", id: "CheckItems", items: [
                                            { id: "Item" },
                                            {
                                                id: "Result",
                                                style(v, row, i) {
                                                    if (v === '異常') return 'color: red;'
                                                    return ''
                                                }
                                            },
                                        ]
                                    },
                                    {
                                        type: "items", title: "填報列表", id: "RportItems", items: [
                                            { id: "Item" },
                                            {
                                                id: "Value",
                                                formatter(v, row, i) {
                                                    return `${v} ${row.Unit}`
                                                },
                                            },
                                        ]
                                    },
                                ],
                            }
                        },
                    ]
                })
            }
            function onError(res) {
                console.log(res);
            }
        }

        function addButtonEvent() {
            $("#back").click(function () {
                history.back();
            });
            $("#delete").click(function () {
                DT.createDeleteDialog({
                    url: '@Url.Action("DeleteInspectionPlan")?IPSN=' + IPSN,
                    onSuccess(res) {
                        console.log(res);
                        if (!res.ErrorMessage) {
                            window.location.href = '@Url.Action("Index")';
                        } else {
                            DT.createDialogModal(`刪除失敗！` + `${res?.ErrorMessage || ""}`)
                        }
                    },
                    onError(ex) {
                        DT.createDialogModal("刪除失敗！")
                    }
                })
            });
        }
    </script>
}