@{
    ViewBag.Title = "工單管理";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <button class="btn btn-create" id="create">新增工單</button>
    <div class="search-area">
        <form class="form" method="post" action="">
            <div class="form-group">
                <label for="IPSN">工單編號</label>
                <input class="form-control" id="IPSN" name="IPSN" type="text" />
            </div>

            <div class="form-group">
                <label for="PlanState">工單狀態</label>
                <select class="form-select" name="PlanState" id="PlanState"></select>
            </div>

            <div class="form-group">
                <label for="IPName">工單名稱</label>
                <input class="form-control" id="IPName" name="IPName" type="text" />
            </div>

            <div class="form-group">
                <label for="PlanDateFrom">工單日期(起)</label>
                <input class="form-control" id="PlanDateFrom" name="PlanDateFrom" type="date" />
            </div>

            <div class="form-group">
                <label for="PlanDateTo">工單日期(迄)</label>
                <input class="form-control" id="PlanDateTo" name="PlanDateTo" type="date" />
            </div>

            <div class="form-group">
                <label for="Member">執行人員</label>
                <select type="text" class="form-select" name="Member" id="Member"></select>
            </div>

            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="reset" class="btn btn-clear" id="clear">清除</button>
            </div>

        </form>
    </div>
</div>


<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        //const baseUrl = '/PlanManagement/';
        var getGridJSON = '@Url.Action("InspectionPlan_Management", "Datagrid")';
        var DataGrid;

        const fakeData = [
            {
                IPSN: "P23010401",
                PlanState: '待執行',
                PlanDate: "2023/01/04",
                IPName: "A區巡檢計畫",
                MyName: "王大明、李泰順",
            },
            {
                IPSN: "P23010401",
                PlanState: '執行中',
                PlanDate: "2023/01/04",
                IPName: "A區巡檢計畫",
                MyName: "王大明、李泰順",
            },
            {
                IPSN: "P23010401",
                PlanState: '完成',
                PlanDate: "2023/01/04",
                IPName: "A區巡檢計畫",
                MyName: "王曉明、林陵",
            },
        ]
        let authority;
        $(async function () {
            //取得權限
            (async () => {
                try {
                    authority = await checkAuthority('@Url.Action("UserAuthority", "Account")');
                    console.log("權限", authority);
                } catch (error) {
                    console.error("權限回傳失敗", error);
                }
            })();
            await pushSelect("PlanState", '@Url.Action("PlanState", "DropDownList")');
            await pushSelect("Member", '@Url.Action("InspectionMember", "DropDownList")');
            Initialize_DataGrid(getGridJSON, authority);
            addSearchAreaClickEvent();
            if (authority === "3") {
                document.getElementById('create').classList.add('d-none');
            }
        });

        function Initialize_DataGrid(getGridJSON, authority) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'IPSN',
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit", { disabled: row.PlanState != "待執行" || authority === "3" })),
                    dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { className: "btn btn-datagrid btn-delete", disabled: row.PlanState != "待執行" || authority != "1" })),
                ]],
                columns: [[
                    dg.column('IPSN', '工單編號', 200),
                    dg.column('PlanState', '工單狀態', 200),
                    dg.column('PlanDate', '工單日期', 200),
                    dg.column('IPName', '工單名稱', 300),
                    dg.column('Member', '巡檢人員', 600),
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Detail/${row.IPSN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.IPSN}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.IPSN}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {


            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}