@{
    ViewBag.Title = "刪除會議記錄";
}

<style>
    .datatable-table .datatable-table-th {
        background: var(--datatable-header-bg);
    }
</style>
<h2>@ViewBag.Title</h2>

<div class="datatable mt-5">
    @*<div class="datatable-header">保養項目資料</div>*@
    <div class="datatable-body">
        <table class="datatable-table" id="FormDetail"></table>
    </div>
</div>

@*<section id="InspectionPlanMaintainList"></section>*@
<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>
<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/dataTable/InspectionPlanMaintain.js"></script>
<script src="/Scripts/ImageDisplay.js"></script>
<script src="/Scripts/dataTable/EquipmentInfoModal.js"></script>
<script>
    const EMFISN = '@ViewBag.EMFISN';
    @*let apiUrl = '@Url.Action("ReadBody", "MaintainForm_Management")' + `/${EMFISN}`;*@
    let apiUrl = null;

    const SerializedName = [
        { text: "會議主題", value: "MeetingTopic" },
        { text: "會議日期", value: "MeetingDate" },
        { text: "會議時間", value: "MeetingTime" },
        { text: "會議地點", value: "MeetingVenue" },
        { text: "會議主席", value: "Chairperson" },
        { text: "興會者", value: "Participant" },
        { text: "出席狀況", value: "ExpectedAttendence" },
        { text: "會議記錄負責人", value: "TakeTheMinutes" },
        { text: "議題順序", value: "Agenda" },
        { text: "會議內容", value: "MeetingContent" },
        { text: "會議資料", value: "FilePath" }
    ]

    const fakeData = {
        MeetingTopic: "修改日期指定",
        MeetingDate: "2024/01/01",
        MeetingTime: "10:00-11:00",
        MeetingVenue: "會議室3B",
        Chairperson: "李助理",
        Participant: "全體人員",
        ExpectedAttendence: "應到:53位  出席:53位  缺席:0位",
        TakeTheMinutes: "助理",
        Agenda: "文字內容",
        MeetingContent: "電腦筆記",
        FilePath: "5月主題.pdf",
        //InspectionPlanList: [
        //    {
        //        "InspectionPlan": {
        //            "IPSN": "P23022203",
        //            "IPName": "維修設備E00003",
        //            "PlanDate": "2023/2/22",
        //            "PlanState": "巡檢完成",
        //            "Shift": "2",
        //            "MyName": "賈皓麟、羅紹齊"
        //        },
        //        "InspectionPlanMaintain": {
        //            "MaintainState": "審核未過",
        //            "MaintainContent": "好了",
        //            "MyName": "賈皓麟",
        //            "MaintainDate": "2023/2/22",
        //            "ImgPath": []
        //        },
        //        "RepairSupplementaryInfo": [
        //            {
        //                "MyName": "王大明",
        //                "SupplementaryDate": "2023/1/15",
        //                "SupplementaryContent": "OOXX",
        //                "FilePath": ["/file/電燈故障.pdf", "/file/電燈故障2.pdf"],
        //            }
        //        ],
        //        "RepairAuditInfo": [
        //            {
        //                "MyName": "陳進國",
        //                "AuditDate": "2023/2/22",
        //                "AuditResult": "審核未過",
        //                "AuditMemo": "沒修好",
        //                "ImgPath": []
        //            }
        //        ]
        //    },
        //]
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#FormDetail").append(createTableInner(res, SerializedName));
            InspectionPlanMaintain("#InspectionPlanMaintainList", res.InspectionPlanList);

            ImageDisplay(".datatable-img-item>img");
        }
        function onError(res) {
            console.log(res);
        }
    }
    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        });

        $("#delete").click(function () {
            let modal = $(`
            <div class="modal fade modal-delete" id="DeleteModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            確認是否刪除？
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-delete" id="delete-2">確定刪除</button>
                        </div>
                    </div>
                </div>
            </div>
            `);
            let myModal = bootstrap.Modal.getOrCreateInstance(modal[0]);
            myModal.show();
            modal[0].addEventListener("hidden.bs.modal", () => {
                myModal.dispose();
                modal.remove();
            })

            modal.find("#delete-2").click(function () {
                let misn = $("#MISN").val();
                console.log(misn);
                let spinner = ` <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`;
                modal.find("#delete").append(spinner);

                //setTimeout(onSuccess, 1000);

                $.ajax({
                url: '@Url.Action("DeleteMaintainItem", "MaintainItem_Management")?MISN=' + misn,
                data: JSON.stringify(misn),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
                })

            });

            function onSuccess(res) {
                console.log("Success");
                console.log(res);

                if (res.ResponseCode == 0) {
                    myModal.hide();
                    let modal_success = $(`
                    <div class="modal fade modal-delete" id="DeleteModal-success" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    刪除成功！
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-delete" data-bs-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `);
                    $(document.body).append(modal_success);
                    let myModal_success = bootstrap.Modal.getOrCreateInstance(modal_success[0]);
                    myModal_success.show();
                    modal_success[0].addEventListener("hidden.bs.modal", () => {
                        myModal_success.dispose();
                        console.log("刪除囉")
                        var url = '@Url.Action("Management", "MaintainItem_Management")';
                        window.location.href = url;
                        //history.back();
                    })
                }
            }
            function onError(res) {
                console.log("error");
                console.log(res);
                let modal_error = $(`
                    <div class="modal fade modal-delete" id="DeleteModal-error" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    刪除失敗！
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-delete" data-bs-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `);
                $(document.body).append(modal_error);
                let myModal_error = bootstrap.Modal.getOrCreateInstance(modal_error[0]);
                myModal_error.show();
                modal_error[0].addEventListener("hidden.bs.modal", () => {
                    myModal_error.dispose();
                    modal_error.remove();
                })
            }
        });

    }


    window.onload = function () {
        readData(apiUrl);
        addButtonEvent();
    }
</script>
