@{
    ViewBag.Title = "每日巡檢時程模板 詳情";
}
@section styles {
    @Html.Partial("DataGridScripts")
}


<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area">
        <div class="datatable datatable-small">
            <div class="datatable-body">
                <table class="datatable-table" id="PlanDetail"></table>
            </div>
        </div>
        <div class="datatable datatable-grid datatable-md">
            <div class="datatable-body overflow-auto">
                <table class="datatable-table" id="PlanRecord">
                </table>
            </div>
        </div>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>

@*巡檢路線資訊POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="PlanInfo">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content height-fit">
            <div class="modal-body align-items-center">
                <h2>巡檢路線資訊</h2>
                <div class="datatable datatable-small">
                    <div class="datatable-body">
                        <table class="datatable-table" id="PathDetail"></table>
                    </div>
                </div>
                <div class="datatable datatable-grid datatable-fill">
                    <div class="datatable-body overflow-auto">
                        <table class="datatable-table" id="EInfo">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-export" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        const SN = location.href.split('/').pop();
        const apiUrl = '@Url.Action("ReadBody")?id=' + SN;
        const pathApiUrl = '@Url.Action("ReadBody", "SamplePath_Management")';

        
        let tempData = {};
        //每日巡檢時程模板 詳情
        let fakeData_Sample = {
            TemplateName: "前處理機房巡檢",
            Contents: [
                {
                    StartTime: "00:00",
                    EndTime: "01:00",
                    PathName: "前處理機房巡檢",
                    PlanPathSN: "2412250001",
                    Frequency: "3",
                    EquipmentCount: "10",
                },
                {
                    StartTime: "01:00",
                    EndTime: "02:00",
                    PathName: "前處理機房巡檢",
                    PlanPathSN: "2412250002",
                    Frequency: "3",
                    EquipmentCount: "10",
                },
                {
                    StartTime: "02:00",
                    EndTime: "03:00",
                    PathName: "生物處理機台巡檢",
                    PlanPathSN: "2412250003",
                    Frequency: "3",
                    EquipmentCount: "4",
                },
            ]
        }
        //巡檢路線資訊
        let fakeData_Path = {
            PlanPathSN: "1120301001",
            PathName: "前處理機房巡檢",
            StartTime: "00:00",
            EndTime: "01:00",
            Equipments: [
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RFIDName: "RFIDName1",
                    Area: "前處理區",
                    Floor: "1F",
                    Memo: "備註",
                    EName: "螺旋發送機1",
                    ESN: "SP-0202A",
                    Brand: "A廠牌",
                    Model: "XMA-56",
                    Frequency: "3",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RFIDName: "RFIDName2",
                    Area: "前處理區",
                    Floor: "1F",
                    Memo: "備註",
                    EName: "螺旋發送機2",
                    ESN: "SP-0202A",
                    Brand: "B廠牌",
                    Model: "XMA-56",
                    Frequency: "2",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RFIDName: "RFIDName3",
                    Area: "前處理區",
                    Floor: "1F",
                    Memo: "備註",
                    EName: "螺旋發送機3",
                    ESN: "SP-0202A",
                    Brand: "C廠牌",
                    Model: "XMA-56",
                    Frequency: "2",
                },
            ]
        }

        $(async function () {
            addButtonEvent();
            const res = await readData(apiUrl)
            DT.createTableInner("#PlanDetail", res, [
                { title: "巡檢模板名稱", id: "TemplateName" },
            ])
            if (res.Contents) {
                DT.createTableGrid("#PlanRecord", res.Contents, {
                    thead: true,
                    rownumbers: true,
                    columns: [
                        { id: "PTime", title: "巡檢時間", formatter(v, row) { return `${row.StartTime}~${row.EndTime}` } },
                        { id: "PathName", title: "巡檢路線名稱" },
                        { id: "Frequency", title: "巡檢頻率" },
                        { id: "EquipmentCount", title: "巡檢數量" },
                        {
                            id: "Btn", title: "", type: 'btn', button: {
                                className: "btn btn-datagrid",
                                text: "巡檢路線資訊",
                                onClick(event, v, row, i) {
                                    //open modal
                                    openPathModal(row)
                                }
                            }
                        },
                    ]
                })
            }
            else {
                document.querySelector("#PlanRecord").closest('.datatable').remove()
            }
        })

        async function openPathModal(row) {
            const modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('PlanInfo'))
            const sn = row.PlanPathSN;
            if (!tempData[sn]) {
                console.log('first time store')
                tempData[sn] = await readData(`${pathApiUrl}?id=${sn}`);
            }

            const data = tempData[sn];
            $("#PathDetail").empty();
            $("#EInfo").empty();

            DT.createTableInner("#PathDetail", data, [
                { title: "巡檢路線名稱", id: "PathName" },
                { title: "巡檢時間", id: "PTime", formatter() { return `${row.StartTime}~${row.EndTime}` } },
            ])
            if (data.Equipments) {
                DT.createTableGrid("#EInfo", data.Equipments, {
                    thead: true,
                    rownumbers: true,
                    columns: [
                        { id: "InternalCode", title: "RFID內碼" },
                        { id: "ExternalCode", title: "RFID外碼" },
                        { id: "RFIDName", title: "RFID名稱" },
                        { id: "RFIDArea", title: "RFID棟別" },
                        { id: "RFIDFloor", title: "RFID樓層" },
                        { id: "RFIDMemo", title: "RFID備註" },
                        { id: "EName", title: "設備名稱" },
                        { id: "NO", title: "設備編號" },
                        { id: "Brand", title: "廠牌" },
                        { id: "Model", title: "型號" },
                        { id: "Frequency", title: "巡檢頻率" },
                    ]
                })
            }
            else {
                document.querySelector("#EInfo").closest('.datatable').remove()
            }

            modal.show()
        }

        function readData(url = null) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: (res) => {
                        if (res.ErrorMessage) { console.log(res.ErrorMessage); reject(null); }
                        if (res.Datas) res = res.Datas
                        resolve(res);
                    },
                    error: (ex) => {
                        console.log(ex);
                        reject(null);
                    }
                });
            });
        }

        function addButtonEvent() {
            $("#back").click(function () {
                window.location.href = '@Url.Action("Index")';
            });
            $("#delete").click(function () {
                DT.createDeleteDialog({
                    url: '@Url.Action("DeleteSampleSchedule")?id=' + SN,
                    data: SN,
                    onSuccess() {
                        window.location.href = '@Url.Action("Index")';
                    }
                })
            });
        }
    </script>
}