@{
    ViewBag.Title = "每日巡檢時程模板 詳情";
}
@section styles {
    @Html.Partial("DataGridScripts")
}


<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area">
        <div class="datatable datatable-small">
            <div class="datatable-body">
                <table class="datatable-table" id="PlanDetail"></table>
            </div>
        </div>
        <div class="datatable datatable-grid datatable-md">
            <div class="datatable-body overflow-auto">
                <table class="datatable-table" id="PlanRecord">
                </table>
            </div>
        </div>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>

@*巡檢路線資訊POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="PlanInfo">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content height-fit">
            <div class="modal-body align-items-center">
                <h2>巡檢路線資訊</h2>
                <div class="datatable datatable-small">
                    <div class="datatable-body">
                        <table class="datatable-table" id="PathDetail"></table>
                    </div>
                </div>
                <div class="datatable datatable-grid datatable-fill">
                    <div class="datatable-body overflow-auto">
                        <table class="datatable-table" id="EInfo">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-export" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        let DailyTemplateSN = location.href.split('/').pop();
        let templateApiUrl = '@Url.Action("ReadBody")';
        let pathApiUrl = '@Url.Action("ReadBody", "SamplePath_Management")';

        $(async function () {
            console.log('DailyTemplateSN', DailyTemplateSN);
            updateTemplate(await readData(templateApiUrl, 'sample', DailyTemplateSN))
            addButtonEvent();
        })
        let tempData = {};
        //每日巡檢時程模板 詳情
        const SerializedName_Sample = [
            { text: "巡檢模板名稱", value: "TemplateName" },
        ]
        const GridOptions_Sample = {
            thead: true,
            columns: [
                { id: "Index", title: "" },
                { id: "PTime", title: "巡檢時間" },
                { id: "PathName", title: "巡檢路線名稱" },
                { id: "Frequency", title: "巡檢頻率" },
                { id: "EquipmentCount", title: "巡檢數量" },
                { id: "Btn", title: "" },
            ]
        }
        let fakeData_Sample = {
            TemplateName: "前處理機房巡檢",
            Contents: [
                {
                    StartTime: "00:00",
                    EndTime: "01:00",
                    PathName: "前處理機房巡檢",
                    PlanPathSN: "2412250001",
                    Frequency: "3",
                    EquipmentCount: "10",
                },
                {
                    StartTime: "01:00",
                    EndTime: "02:00",
                    PathName: "前處理機房巡檢",
                    PlanPathSN: "2412250002",
                    Frequency: "3",
                    EquipmentCount: "10",
                },
                {
                    StartTime: "02:00",
                    EndTime: "03:00",
                    PathName: "生物處理機台巡檢",
                    PlanPathSN: "2412250003",
                    Frequency: "3",
                    EquipmentCount: "4",
                },
            ]
        }

        //巡檢路線資訊
        const SerializedName_Path = [
            { text: "巡檢路線名稱", value: "PathName" },
            { text: "巡檢時間", value: "PTime" },
        ]
        const GridOptions_Path = {
            thead: true,
            columns: [
                { id: "Index", title: "" },
                { id: "InternalCode", title: "RFID內碼" },
                { id: "ExternalCode", title: "RFID外碼" },
                { id: "RFIDName", title: "RFID名稱" },
                { id: "RFIDArea", title: "RFID棟別" },
                { id: "RFIDFloor", title: "RFID樓層" },
                { id: "RFIDMemo", title: "RFID備註" },
                { id: "EName", title: "設備名稱" },
                { id: "NO", title: "設備編號" },
                { id: "Brand", title: "廠牌" },
                { id: "Model", title: "型號" },
                { id: "Frequency", title: "巡檢頻率" },
            ]
        }
        let fakeData_Path = {
            PlanPathSN: "1120301001",
            PathName: "前處理機房巡檢",
            StartTime: "00:00",
            EndTime: "01:00",
            Equipments: [
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RFIDName: "RFIDName1",
                    Area: "前處理區",
                    Floor: "1F",
                    Memo: "備註",
                    EName: "螺旋發送機1",
                    ESN: "SP-0202A",
                    Brand: "A廠牌",
                    Model: "XMA-56",
                    Frequency: "3",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RFIDName: "RFIDName2",
                    Area: "前處理區",
                    Floor: "1F",
                    Memo: "備註",
                    EName: "螺旋發送機2",
                    ESN: "SP-0202A",
                    Brand: "B廠牌",
                    Model: "XMA-56",
                    Frequency: "2",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RFIDName: "RFIDName3",
                    Area: "前處理區",
                    Floor: "1F",
                    Memo: "備註",
                    EName: "螺旋發送機3",
                    ESN: "SP-0202A",
                    Brand: "C廠牌",
                    Model: "XMA-56",
                    Frequency: "2",
                },
            ]
        }
        function updateTemplate(res) {
            $("#PlanDetail").append(createTableInner(res, SerializedName_Sample));
            res.Contents ?
                $("#PlanRecord").append(createTableGrid(createIndexToArrayData(res.Contents, res.PlanPathSN), GridOptions_Sample)) :
                $("#PlanRecord").parents(".datatable").remove();
        }
        async function updatePath(SN) {
            if (!tempData[SN]) {
                console.log('first time store')
                tempData[SN] = await readData(pathApiUrl, 'path', SN);
            }

            $("#PathDetail").empty();
            $("#EInfo").empty();
            $("#PathDetail").append(createTableInner(tempData[SN], SerializedName_Path));
            tempData[SN].Equipments ?
                $("#EInfo").append(createTableGrid(createIndexToArrayData(tempData[SN].Equipments), GridOptions_Path)) :
                $("#EInfo").parents(".datatable").remove();
        }
        function readData(url = null, type, SN) {
            let apiUrl;
            switch (type) {
                case 'sample':
                    apiUrl = `${url}/?id=${SN}`
                    break
                case 'path':
                    apiUrl = `${url}/?id=${SN}`
                    break
            }
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: apiUrl,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: (res) => {
                        resolve(onSuccess(res));
                    },
                    error: (ex) => {
                        onError(ex);
                        reject(null);
                    }
                });
            });

            function onSuccess(res) {
                res = res.Datas
                switch (type) {
                    case 'sample':
                        res.Contents.forEach(item => {
                            item.PTime = `${item.StartTime}~${item.EndTime}`
                            //item.Frequency = `每${item.Frequency}個小時`
                        })
                        break
                    case 'path':
                        res.PTime = `${res.StartTime}~${res.EndTime}`
                        res.Equipments.forEach(item => {
                            //item.Frequency = `每${item.Frequency}個小時`
                        })
                        break
                }
                console.log("res (after adjusting)", res);
                return res
            }

            function onError(res) {
                console.log(res);
            }

        }

        //在每列加上次序
        function createIndexToArrayData(arr) {
            return arr.map((e, i) => {
                let returnObject = {
                    Index: i + 1,
                    ...e,
                }
                if (e.PlanPathSN) returnObject.Btn = `<button type="button" class="btn btn-datagrid" data-bs-toggle="modal" data-bs-target="#PlanInfo" onclick="updatePath('${e.PlanPathSN}')">巡檢路線資訊</button>`
                return returnObject
            })
        }

        // 監聽Modal關閉後移除表格
        $('#PlanInfo').on('hide.bs.modal', function () {
            $("#PathDetail").empty();
            $("#EInfo").empty();
        });

        function addButtonEvent() {
            $("#back").click(function () {
                window.location.href = '@Url.Action("Index")';
            });
            $("#delete").click(function () {
                createDeleteDialog({
                    url: '@Url.Action("DeleteSampleSchedule")?DailyTemplateSN=' + DailyTemplateSN,
                    data: DailyTemplateSN,
                    onSuccess() {
                        window.location.href = '@Url.Action("Index")';
                    }
                })
            });
        }
    </script>
}