@{
    ViewBag.Title = "編輯 每日巡檢時程模板";
}
@section styles {
    @Styles.Render("~/Content/easyui/themes/default/easyui.css")
    <link rel="stylesheet" href="/Content/datagrid-modal.css">
    <link rel="stylesheet" href="~/Content/datatable.css">

    <script src="/Content/easyui/jquery.min.js" defer></script>
    <script src="/Content/easyui/jquery.easyui.min.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <script src="~/Scripts/SampleSchedule_Management/CreateDataGrids.js" defer></script>
    @*<script src="/Scripts/SampleSchedule_Management/Create.js" defer></script>*@
    <script src="/Scripts/datatable.js"></script>
}


<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-full flex-lg-row">
        <form class="form justify-content-lg-end">
            <div class="form-group-zone">
                <div class="form-group required">
                    <label for="SampleName">巡檢模板名稱</label>
                    <input type="text" class="form-control" name="SampleName" id="SampleName" maxlength="20" required>
                </div>
            </div>
            <hr class="hr-default" />

            <div class="datatable-easyui w-100 d-none">
                <table id="Template-datagrid"></table>
            </div>
            <button type="button" class="btn btn-search align-self-start" id="create-item" data-bs-toggle="modal" data-bs-target="#AddPath">+ 新增巡檢路線</button>

            <div class="m-0 w-100 text-center">
                <div class="datatable datatable-grid w-100 h-100">
                    <div class="datatable-body h-100 overflow-auto">
                        <table class="datatable-table">
                            <thead>
                                <tr>
                                    <th class="datatable-header" style="width:40px"><span></span></th>
                                    <th class="datatable-header" style="width:40px"><span></span></th>
                                    <th class="datatable-header required" style="width:130px"><span>巡檢時間(起)</span></th>
                                    <th class="datatable-header required" style="width:130px"><span>巡檢時間(迄)</span></th>
                                    <th class="datatable-header required" style="width:250px"><span>巡檢路線名稱</span></th>
                                    <th class="datatable-header required" style="width:120px"><span>巡檢頻率</span></th>
                                    <th class="datatable-header required" style="width:120px"><span>巡檢數量</span></th>
                                    <th class="datatable-header" style="width:150px"><span></span></th>
                                    <th class="datatable-header" style="width:36px"></th>
                                </tr>
                            </thead>
                            <tbody id="item-area">
                                <tr id="sample-input-tr">
                                    <td id="d-Num">1</td>
                                    <td id="d-Sort">
                                        <button type="button" class="btn-sort">
                                            <i class="fa-solid fa-bars"></i>
                                        </button>
                                    </td>
                                    <td id="StartTime">
                                        <input class="form-control" type="time" id="StartTime" name="StartTime" min="1" value="1" step="any" required />

                                    </td>
                                    <td id="EndTime">
                                        <input class="form-control" type="time" id="EndTime" name="EndTime" min="1" value="1" step="any" required />
                                    </td>
                                    <td id="Name">
                                        <select class="form-select" id="d-Name" name="Name" required></select>
                                    </td>
                                    <td id="Quantity">10</td>
                                    <td id="Frequency">每3小時</td>
                                    <td id="Info">
                                        <button type="button" class="btn btn-datagrid" data-bs-toggle="modal" data-bs-target="#PlanInfo">巡檢路線資訊</button>
                                    </td>
                                    <td id="d-_delete" class="p-1 pt-2">
                                        <button type="button" class="btn-delete-item"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="button" class="addItemBtn" id="addItem"><i class="fa-solid fa-plus"></i></button>
            </div>
        </form>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">儲存</button>
</div>

@*新增巡檢路線POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="AddPath">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>請勾選欲代入的巡檢路線</h2>
                <div class="search-area">
                    <form class="form">
                        <div class="form-group">
                            <label for="PName">巡檢路線名稱</label>
                            <input class="form-control" id="PName" name="PName" type="text" />
                        </div>

                        <div class="button-group">
                            <button type="button" class="btn btn-search" id="search">查詢</button>
                            <button type="reset" class="btn btn-clear" id="clear">清除</button>
                        </div>
                    </form>
                </div>
                <table class="modal-datagrid"></table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" id="add-row">確定</button>
            </div>
        </div>
    </div>
</div>

@*巡檢路線資訊POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="PlanInfo">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content height-fit">
            <div class="modal-body align-items-center">
                <h2>巡檢路線資訊</h2>
                <div class="datatable datatable-small">
                    <div class="datatable-body">
                        <table class="datatable-table" id="PathDetail"></table>
                    </div>
                </div>
                <div class="datatable datatable-grid datatable-fill">
                    <div class="datatable-body overflow-auto">
                        <table class="datatable-table" id="EInfo">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-export" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        const IPSN = '@ViewBag.id';
        ////let apiUrl = '@Url.Action("Edit_Data", "InspectionPlan_Management")' + `/${IPSN}`;
        let apiUrl = null;
        let delUrl = '@Url.Action("Delete", "InspectionPlan_Management")' + `/${IPSN}`;
        let SubmitUrl = '@Url.Action("Edit_Update", "InspectionPlan_Management")';
        let sampleTr;

        $(async function () {
            addButtonEvent();
            addTemplateItem();
            delTemplateItem();
            addEquipmentDG_Controller = new AEDG(AEDGOptions);
            //await addDropDownList();
            //await addAreaFloorEvent();
            readData(apiUrl);
        })

        const SerializedName = [
            { text: "巡檢路線名稱", value: "PName" },
            { text: "巡檢頻率", value: "PFrequency" },
        ]
        const GridOptions = {
            thead: true,
            columns: [
                { id: "Index", title: "" },
                { id: "InterCode", title: "RFID內碼" },
                { id: "ExterCode", title: "RFID外碼" },
                { id: "EName", title: "設備名稱" },
                { id: "ESN", title: "設備編號" },
                { id: "Area", title: "棟別" },
                { id: "Floor", title: "樓層" },
                { id: "Brand", title: "廠牌" },
                { id: "Model", title: "型號" },
                { id: "Frequency", title: "巡檢頻率" },
            ]
        }
        let fakeData = {
            SIRSN: "1120301001",
            PName: "前處理機房巡檢",
            PFrequency: "每3小時",
            EItem: [
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    EName: "螺旋發送機1",
                    ESN: "SP-0202A",
                    Area: "前處理區",
                    Floor: "1F",
                    Brand: "A廠牌",
                    Model: "XMA-56",
                    Frequency: "每2小時",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    EName: "螺旋發送機2",
                    ESN: "SP-0202A",
                    Area: "前處理區",
                    Floor: "1F",
                    Brand: "B廠牌",
                    Model: "XMA-56",
                    Frequency: "每2小時",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    EName: "螺旋發送機3",
                    ESN: "SP-0202A",
                    Area: "前處理區",
                    Floor: "1F",
                    Brand: "C廠牌",
                    Model: "XMA-56",
                    Frequency: "每2小時",
                },
            ]
        }


        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                console.log("fakeData", fakeData);
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log("res", res);
                $("#PathDetail").append(createTableInner(res, SerializedName));

                res.EItem ?
                $("#EInfo").append(createTableGrid(
                    createIndexToArrayData(res.EItem), GridOptions)) :
                    $("#EInfo").parents(".datatable").remove();
            }
            function onError(res) {
                console.log(res);
            }

            //在每列加上次序
            function createIndexToArrayData(arr) {
                return arr.map((e, i) => {
                    return {
                        Index: i + 1,
                        ...e
                    }
                })
            }
        }

        function save() {
            let data = getCreateSaveData(IPSN);

            console.log(data);

            if (!data) return;

            $.ajax({
                url: SubmitUrl,
                data: JSON.stringify(data),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "儲存成功！",
                    onHide: () => { window.location.href = "/InspectionPlan_Management/Management"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `儲存失敗！` })
            }
        }

        function deleteIP() {
            $.ajax({
                url: delUrl,
                type: "DELETE",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "刪除成功！",
                    onHide: () => { window.location.href = "/InspectionPlan_Management/Management"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `刪除失敗！` })
            }
        }

        //$(async function () {
        //    sampleTr = new SampleTr();
        //    await sampleTr.init()
        //    addButtonEvent();
        //    maintainDG_Controller = new IPDG(MDGOptions);
        //    repairDG_Controller = new IPDG(RDGOptions);
        //    await addDropDownList();
        //    await addAreaFloorEvent();
        //    controlToggle("path-draw", ForgeDraw.Control.DRAW);
        //    sortRouteModal.autoRouteToggle(true);

        //    $("#PlanDate").attr('min', new Date().toJSON().split('T')[0]);

        //    window.addEventListener("beforeunload", (event) => {
        //        sessionStorage.clear();
        //    });

        //    addSaveSamplePathEvent();

        //    $("#delete").click(deleteIP);

        //    readData(apiUrl);
        //})
        @*function SampleTr() {
            this.count = 0;
            this.list = $("#item-area")
            this.init = async function () {
                await pushSelect("StockType", '@Url.Action("StockType", "DropDownList")');
                this.list.on("change", "#StockType", async function (e) {
                    console.log(e.target)
                    let item = $(e.target).closest("tr[id]")[0]
                    let id = item.id
                    await pushSelect(`${id} #StockName`, `@Url.Action("FormStockName", "DropDownList")?StockType=${e.target.value}`);
                })
                this.list.on("change", "#StockName", async function (e) {
                    if (!sampleTr.checkDuplicate()) {
                        e.target.value = ""
                        createDialogModal({ id: "DialogModal-Error", inner: `有重複的品項品名！` })
                        return
                    }

                    console.log(e.target)
                    let item = $(e.target).closest("tr[id]")
                    let id = item.attr("id")
                    $.getJSON(`@Url.Action("GetUnitText", "DropDownList")?SISN=${e.target.value}`, (res) => {
                        console.log(res)
                        item.find("#d-Unit").text(res?.Unit || "-")
                    })
                })

                const observer = new ResizeObserver((entries) => {
                    for (const entry of entries) {
                        let style = getComputedStyle(entry.target)
                        let mh = parseInt(style.getPropertyValue("max-height").match(/(\d)+/)?.[0])
                        let h = parseInt(style.getPropertyValue("height").match(/(\d)+/)?.[0])
                        $(".datatable-input-area").toggleClass("max-w-scroll", h >= mh)
                        //console.log(`${h} >= ${mh} ${h >= mh}`)
                    }
                })
                observer.observe(this.list.closest(".datatable-body")[0])

                this.list.on("click", ".btn-delete-item", function (e) {
                    $(this).parent().parent().remove();
                })

                this.sample = $("#sample-input-tr").clone();
                $("#sample-input-tr").remove();
            }
            this.create = function (data = null) {
                let item = this.sample.clone();
                item.attr('id', this.count);
                this.list.append(item);
                if (data != null) {
                    pushSelect(`${item.attr("id")} #StockName`,
                        `@Url.Action("FormStockName", "DropDownList")?StockType=${data.StockType}`)
                        .then(() => {
                            item.find("#StockName").val(data.SISN)
                        });
                    item.find("#StockType").val(data.StockType)
                    item.find("#Amount").val(data.Amount)
                    item.find("#d-Unit").text(data.Unit)
                    item.find("#SRContent").val(data.SRContent)
                }

                this.count++;
            }
            this.calc = function () {
                return this.list.children().toArray().map((e) => {
                    return {
                        SISN: $(e).find("#StockName").val(),
                        Amount: $(e).find("#Amount").val(),
                        SRContent: $(e).find("#SRContent").val()
                    }
                })
            }
            this.checkValidity = () => {
                return this.list.children().length > 0
            }
            this.checkDuplicate = () => {
                let sisns = this.list.children().toArray().map((e) => {
                    return $(e).find("#StockName").val()
                }).filter(e => e || void 0)
                let sets = new Set([...sisns])
                return sisns.length == [...sets].length
            }
            return this;
        }*@
        function addTemplateItem() {
            let itemArea = document.getElementById('item-area');
            let addItem = document.getElementById('addItem');

            addItem.onclick = function () {
                let newNumber = itemArea.querySelectorAll('tr').length + 1;
                itemArea.insertAdjacentHTML('beforeend', `<tr id="sample-input-tr">
                                                                <td id="d-Num">${newNumber}</td>
                                                                <td id="d-Sort">
                                                                    <button type="button" class="btn-sort">
                                                                        <i class="fa-solid fa-bars"></i>
                                                                    </button>
                                                                </td>
                                                                <td id="StartTime">
                                                                    <input class="form-control" type="time" id="StartTime" name="StartTime" min="1" value="1" step="any" required />
                                                                </td>
                                                                <td id="EndTime">
                                                                    <input class="form-control" type="time" id="EndTime" name="EndTime" min="1" value="1" step="any" required />
                                                                </td>
                                                                <td id="Name">
                                                                    <select class="form-select" id="d-Name" name="Name" required></select>
                                                                </td>
                                                                <td id="Quantity">-</td>
                                                                <td id="Frequency">-</td>
                                                                <td id="Info">
                                                                    <button type="button" class="btn btn-datagrid" data-bs-toggle="modal" data-bs-target="#PlanInfo">巡檢路線資訊</button>
                                                                </td>
                                                                <td id="d-_delete" class="p-1 pt-2">
                                                                    <button type="button" class="btn-delete-item"></button>
                                                                </td>
                                                            </tr>`);
                delTemplateItem();
            }
        }

        function delTemplateItem() {
            let delBtns = document.querySelectorAll('.btn-delete-item');
            delBtns.forEach(function (delBtn) {
                delBtn.onclick = function () {
                    let tr = delBtn.closest('tr');
                    if (tr) {
                        tr.remove();
                        reorderNumbers();
                    }
                };
            });
        }

        //當刪除新增的模板後，需重新排序次序
        function reorderNumbers() {
            let itemArea = document.getElementById('item-area');
            let rows = itemArea.querySelectorAll('tr');
            rows.forEach((row, index) => {
                let numCell = row.querySelector('#d-Num');
                if (numCell) {
                    numCell.textContent = index + 1;
                }
            });
        }
    </script>
}