@{
    ViewBag.Title = "新增 一機一卡模板";
}
@section styles {
    <link rel="stylesheet" href="/Content/OneDeviceOneCardManagement.css">
    <script src="/Content/easyui/jquery.min.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <script src="/Scripts/datatable.js" defer></script>
}


<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-sm flex-lg-row">
        <form class="form">
            <div class="form-group-zone">
                <div class="form-group required">
                    <label for="SampleName">模板名稱</label>
                    <input type="text" class="form-control" name="SampleName" id="SampleName" maxlength="20" required>
                </div>
            </div>
            <hr class="hr-default" />
            <div class="d-flex flex-column w-100 align-items-center">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>增設基本資料欄位</div>
                </div>
                <div class="d-flex flex-column gap-2 w-100" id="AddItemsArea"></div>
                <button type="button" class="addItemBtn" onclick="addTemplateItem('AddItemsArea')"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="d-flex flex-column w-100 align-items-center">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>保養項目名稱</div>
                </div>
                <div class="d-flex flex-column gap-2 w-100" id="MaintainItemsArea"></div>
                <button type="button" class="addItemBtn" onclick="addTemplateItem('MaintainItemsArea')"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="d-flex flex-column w-100 align-items-center">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>巡檢項目設定</div>
                </div>
                <div class="d-flex flex-column gap-2 w-100" id="item-area">
                    <div class="form-group d-grid" style="grid-template-columns: 1fr 24px; column-gap: 1rem; ">
                        <label for="Frequency">巡檢頻率</label>
                        <div></div>
                        <select class="form-select" id="Frequency" style="grid-column-start: unset;">
                            <option value="">請選擇</option>
                            <option value="1">1小時</option>
                            <option value="2">2小時</option>
                            <option value="3">3小時</option>
                            <option value="4">4小時</option>
                            <option value="5">6小時</option>
                            <option value="6">8小時</option>
                            <option value="7">12小時</option>
                            <option value="8">24小時</option>
                        </select>
                    </div>
                    <div class="form-group d-flex flex-column align-items-center">
                        <label for="InspectItemName" class="w-100">檢查項目名稱</label>
                        <div class="d-flex flex-column gap-2 w-100" id="InspectItemsArea"></div>
                        <button type="button" class="addItemBtn" onclick="addTemplateItem('InspectItemsArea')"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>

                <div class="form-group d-flex flex-column align-items-center w-100">
                    <label for="" class="w-100">填報項目名稱/單位</label>
                    <div class="d-flex flex-column gap-2" id="ReportItemsArea"></div>
                    <button type="button" class="addItemBtn" onclick="addTemplateItem('ReportItemsArea')"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>


@section scripts {
    <script>
        var labelItems = new LabelItems()
        const IPSN = '@ViewBag.id';
        ////let apiUrl = '@Url.Action("Edit_Data", "InspectionPlan_Management")' + `/${IPSN}`;
        let apiUrl = null;
        let delUrl = '@Url.Action("Delete", "InspectionPlan_Management")' + `/${IPSN}`;
        let SubmitUrl = '@Url.Action("Edit_Update", "InspectionPlan_Management")';

        $(async function () {
            addButtonEvent();
            observeChildChanges();
            //await addDropDownList();
            //await addAreaFloorEvent();
        })


        function save() {
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            console.log("isValidity():", isValidity)
            if (!isValidity) return;
            if (!labelItems.checkValidity()) {
                onError({ responseText: "請至少新增一個 檢查項目名稱 或 填報項目名稱/單位！" })
                return;
            }

            const formData = labelItems.calc();
            const sendData = {
                SampleName: document.getElementById("SampleName").value,
                Frequency: document.getElementById("Frequency").value,
                ...formData
            };

            console.log("最終sendData為", sendData);


            $.ajax({
                url: "",
                data: sendData,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "新增成功！",
                    onHide: () => { window.location.href = "/OneDeviceOneCard_Management/Index"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        }

        function addTemplateItem(zoneID) {
            let itemArea = document.getElementById(zoneID);
            let addButton = itemArea.parentElement.querySelector('.addItemBtn');

            if (itemArea.children.length < 100) {
                if (zoneID === "ReportItemsArea") {
                    itemArea.insertAdjacentHTML('beforeend', `
                        <div class="d-flex gap-3 align-items-center">
                            <div class="key-value-pair gap-2">
                                <input type="text" class="form-control" name="ReportItemName-1" id="ReportItemName-1" maxlength="20" placeholder="檢查項目名稱" required>
                                <input type="text" class="form-control" name="ReportItemUnit-1" id="ReportItemUnit-1" maxlength="20" placeholder="單位" required>
                            </div>
                            <button type="button" class="btn-delete-item" onclick="delInputItem(this, '${zoneID}')"></button>
                        </div>
                    `);
                } else {
                    itemArea.insertAdjacentHTML('beforeend', `
                        <div class="d-flex gap-3 align-items-center">
                            <input type="text" class="form-control" id="LabelName" name="LabelName" required />
                            <button type="button" class="btn-delete-item" onclick="delInputItem(this, '${zoneID}')"></button>
                        </div>
                    `);
                }
                delInputItem(zoneID);
            }

            //新增上限為100筆
            if (itemArea.children.length >= 100 && addButton) {
                addButton.remove();
            }
        }

        function delInputItem(zoneID) {
            const itemArea = document.getElementById(zoneID);
            const delBtns = document.querySelectorAll('.btn-delete-item');

            delBtns.forEach(button => {
                button.onclick = function () {
                    button.parentElement.remove();
                    if (itemArea) {
                        if (itemArea.children.length < 100 && !itemArea.parentElement.querySelector('.addItemBtn')) {
                            let newButton = document.createElement('button');
                            newButton.type = 'button';
                            newButton.className = 'addItemBtn';
                            newButton.innerHTML = '<i class="fa-solid fa-plus"></i>';
                            newButton.setAttribute('onclick', `addTemplateItem('${zoneID}')`);
                            itemArea.parentElement.appendChild(newButton);
                        }
                    }
                };
            });
        }

        //監聽 檢查項目名稱、填報項目名稱/單位 若有填寫，巡檢頻率為必填
        function observeChildChanges() {
            const frequency = document.getElementById("Frequency");
            const inspectItemsArea = document.getElementById("InspectItemsArea");
            const reportItemsArea = document.getElementById("ReportItemsArea");

            const updateFrequencyRequired = () => {
                const hasInspectItems = inspectItemsArea.children.length > 0;
                const hasReportItems = reportItemsArea.children.length > 0;

                if (hasInspectItems || hasReportItems) {
                    frequency.setAttribute("required", "required");
                } else {
                    frequency.removeAttribute("required");
                }
            };

            // 設定 MutationObserver 監聽子層變化
            const observerConfig = { childList: true };
            const observerCallback = () => {
                updateFrequencyRequired();
            };

            const inspectObserver = new MutationObserver(observerCallback);
            const reportObserver = new MutationObserver(observerCallback);

            inspectObserver.observe(inspectItemsArea, observerConfig);
            reportObserver.observe(reportItemsArea, observerConfig);

            updateFrequencyRequired();
        }

        function LabelItems() {
            this.AddItems = $("#AddItemsArea");
            this.MaintainItems = $("#MaintainItemsArea");
            this.Frequency = document.getElementById('Frequency');
            this.InspectItems = $("#InspectItemsArea");
            this.ReportItems = $("#ReportItemsArea");
            this.calc = () => {
                    const addItemList= this.AddItems.children().toArray().map(e => ({
                        Value: $(e).find("input").val()
                    }));
                    const maintainItemList = this.MaintainItems.children().toArray().map(e => ({
                        Value: $(e).find("input").val()
                    }));
                    const checkItemList = this.InspectItems.children().toArray().map(e => ({
                        Value: $(e).find("input").val()
                    }));
                    const reportItemList= this.ReportItems.children().toArray().map(e => ({
                        Value: $(e).find("input[name^='ReportItemName']").val(),
                        Unit: $(e).find("input[name^='ReportItemUnit']").val()
                    }))

                return {
                    AddItemdList: addItemList.length > 0 ? addItemList : "",
                    MaintainItemList: maintainItemList.length > 0 ? maintainItemList : "",
                    CheckItemList: checkItemList.length > 0 ? checkItemList : "",
                    ReportItemList: reportItemList.length > 0 ? reportItemList : ""
                }
            }
            this.checkValidity = () => {
                if (this.Frequency.value) {
                    return this.InspectItems.children().length > 0 || this.ReportItems.children().length > 0
                }
                return true;
            }
            return this
        }
    </script>
}