@{
    ViewBag.Title = "一機一卡模板 刪除";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/dataTable/OneDeviceOneCard.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area edit-area-md">
        <div class="d-flex flex-column gap-2 w-100">
            <div class="datatable">
                <div class="datatable-body">
                    <table class="datatable-table" id="SampleInfo"></table>
                </div>
            </div>
            <hr class="hr-default">
            <div class="d-flex flex-column w-100" id="addFieldSection">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>增設基本資料欄位</div>
                </div>
                <div class="datatable">
                    <div class="datatable-body">
                        <table class="datatable-table" id="AddField"></table>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column w-100" id="maintainSection">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>保養資訊</div>
                </div>
                <div class="datatable">
                    <div class="datatable-body">
                        <table class="datatable-table" id="MaintainInfo"></table>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column w-100" id="inspectionInfoSection">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>巡檢資訊</div>
                </div>
                <div class="datatable">
                    <div class="datatable-body">
                        <table class="datatable-table" id="InspectionInfo"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-delete" id="delete">刪除</button>
</div>        



@section scripts {
    <script>
        const IPRSN = '@ViewBag.id';
        //let apiUrl = '@Url.Action("ReadBody", "RepairRecord_Management")' + `/${IPRSN}`;
        let apiUrl = null;

        $(async function () {
            addButtonEvent();
            readData(apiUrl);
        })


        const fakeData = {
            TSN: "000123",
            SampleName: "電燈",
            AddItemList: [
                {
                    AFSN: "F0001",
                    Value: "馬力數",
                },
                {
                    AFSN: "F0002",
                    Value: "起動方式",
                },
                {
                    AFSN: "F0003",
                    Value: "額定電流",
                },
                {
                    AFSN: "F0004",
                    Value: "油料編號",
                },
            ],
            MaintainItemList: [
                {
                    MISSN: "I0001",
                    Value: "外部清潔與保養",
                },
                {
                    MISSN: "I0002",
                    Value: "各部螺絲鎖定",
                },
                {
                    MISSN: "I0003",
                    Value: "檢查管路是否通暢",
                },
                {
                    MISSN: "I0004",
                    Value: "軸承潤滑油添加",
                },
            ],
            Frequency: "1小時",
            InspectItemList: [
                {
                    CISN: "000123",
                    Value: "馬達是否正常運轉"
                },
                {
                    CISN: "000124",
                    Value: "管線是否正常無漏液"
                },
                {
                    CISN: "000125",
                    Value: "出口端是否正常出藥"
                },
                {
                    CISN: "000126",
                    Value: "設備是否正常無漏水"
                },
            ],
            ReportItemList: [
                {
                    RISN: "I0001",
                    Value: "馬達電壓",
                    Unit: "v"
                },
                {
                    RISN: "I0002",
                    Value: "電流",
                    Unit: "A"
                },
                {
                    RISN: "I0003",
                    Value: "水壓",
                    Unit: "Pa"
                },
                {
                    RISN: "I0004",
                    Value: "流量",
                    Unit: "CMH"
                },
            ]
        }

        // 預處理函式：將陣列轉為物件結構
        function preprocessData(array) {
            const result = {};
            array.forEach((item) => {
                result[item.value] = item.value;
                result[item.text] = item.text;
            });
            return result;
        }

        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);

                SampleInfo('#SampleInfo', res);
                AddField('#AddField', res);
                MaintainInfo("#MaintainInfo", res);
                InspectionInfo("#InspectionInfo", res);
                displaySections(res);
            }
            function onError(res) {
                console.log(res);
            }
        }  

        function addButtonEvent() {
            $("#back").click(function () {
                history.back();
            });
            $("#delete").click(function () {
                let TSN = $("#TSN").val();
                createDeleteDialog({
                    url: '@Url.Action("DeleteSampleSchedule", "SampleSchedule_Management")?TSN=' + TSN,
                    data: TSN,
                    onSuccess() {
                        let url = '@Url.Action("Index", "OneDeviceOneCard_Management")';
                        window.location.href = url;
                    }
                })
            });
        }

        function displaySections(data) {
            if (data.AddItemList && data.AddItemList.length > 0) {
                document.getElementById("addFieldSection").style.display = "flex";
            } else {
                document.getElementById("addFieldSection").style.display = "none";
            }

            if (data.MaintainItemList && data.MaintainItemList.length > 0) {
                document.getElementById("maintainSection").style.display = "flex";
            } else {
                document.getElementById("maintainSection").style.display = "none";
            }

            if (data.Frequency) {
                document.getElementById("inspectionInfoSection").style.display = "flex";
            } else {
                document.getElementById("inspectionInfoSection").style.display = "none";
            }

            if (
                (!data.AddItemList || data.AddItemList.length === 0) &&
                (!data.MaintainItemList || data.MaintainItemList.length === 0) &&
                (!data.Frequency) &&
                (!data.InspectItemList || data.InspectItemList.length === 0) &&
                (!data.ReportItemList || data.ReportItemList.length === 0)
            ) {
                document.querySelector(".hr-default").style.display = "none";
            }
        }


    </script>
}