@{
    ViewBag.Title = "編輯 一機一卡模板";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <link rel="stylesheet" href="/Content/OneDeviceOneCardManagement.css">
    <link rel="stylesheet" href="/Content/datagrid-modal.css">
    <link rel="stylesheet" href="/Content/EquipmentInfoManagement.css">
    <link rel="stylesheet" href="/Content/OneDeviceOneCardManagement.css">
    <script src="/Content/easyui/jquery.min.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <script src="/Scripts/datatable.js" defer></script>
    <script src="/Scripts/dataTable/OneDeviceOneCard.js" defer></script>
}

<style>
    .accordion-body {
        background: var(--datatable-body-bg);
    }
    .edit-item-init {
        grid-template-columns: 2fr 1fr 1fr;
    }
</style>


<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-sm flex-lg-row">
        <form class="form">
            <div class="form-group-zone">
                <div class="form-group required">
                    <label for="SampleName">模板名稱</label>
                    <input type="text" class="form-control" name="SampleName" id="SampleName" maxlength="20" required>
                </div>
            </div>
            <hr class="hr-default" />
            <div class="d-flex flex-column w-100 align-items-center">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>增設基本資料欄位</div>
                </div>
                <div class="d-flex flex-column gap-2 w-100" id="AddItemsArea"></div>
                <button type="button" class="addItemBtn" onclick="addTemplateItem('AddItemsArea')"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="d-flex flex-column w-100 align-items-center">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>保養項目名稱</div>
                </div>
                <div class="d-flex flex-column gap-2 w-100" id="MaintainItemsArea"></div>
                <button type="button" class="addItemBtn" onclick="addTemplateItem('MaintainItemsArea')"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="d-flex flex-column w-100 align-items-center">
                <div class="group-sb-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <div>巡檢項目設定</div>
                </div>
                <div class="d-flex flex-column gap-2 w-100" id="item-area">
                    <div class="form-group d-grid" style="grid-template-columns: 1fr 24px; column-gap: 1rem; ">
                        <label for="Frequency">巡檢頻率</label>
                        <div></div>
                        <select class="form-select" style="grid-column-start: unset;" name="Frequency" id="Frequency">
                            <option value="">請選擇</option>
                            <option value="1">1小時</option>
                            <option value="2">2小時</option>
                            <option value="3">3小時</option>
                            <option value="4">4小時</option>
                            <option value="5">6小時</option>
                            <option value="6">8小時</option>
                            <option value="7">12小時</option>
                            <option value="8">24小時</option>
                        </select>
                    </div>
                    <div class="form-group d-flex flex-column align-items-center">
                        <label for="InspectItemName" class="w-100">檢查項目名稱</label>
                        <div class="d-flex flex-column gap-2 w-100" id="InspectItemsArea"></div>
                        <button type="button" class="addItemBtn" onclick="addTemplateItem('InspectItemsArea')"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>

                <div class="form-group d-flex flex-column align-items-center w-100">
                    <label for="" class="w-100">填報項目名稱/單位</label>
                    <div class="d-flex flex-column gap-2" id="ReportItemsArea"></div>
                    <button type="button" class="addItemBtn" onclick="addTemplateItem('ReportItemsArea')"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    @*<button class="btn btn-export" id="submit" data-bs-toggle="modal" data-bs-target="#addMultiAssign">儲存</button>*@
    <button class="btn btn-export" id="submit">儲存</button>
</div>

@*補充設備保養項目設定 POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="addMultiAssign">
    <div class="modal-dialog modal-screen-md modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>請補充設備保養項目設定</h2>
                <form class="form w-100 p-0" id="EquipmentZone"></form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                @*<button type="button" class="btn btn-export" id="add-row">確定</button>*@
                <button type="button" class="btn btn-export" onclick="save(true)">確定</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        var labelItems = new LabelItems()
        const IPSN = '@ViewBag.id';
        ////let apiUrl = '@Url.Action("Edit_Data", "InspectionPlan_Management")' + `/${IPSN}`;
        let apiUrl = null;
        let delUrl = '@Url.Action("Delete", "InspectionPlan_Management")' + `/${IPSN}`;
        let SubmitUrl = '@Url.Action("Edit_Update", "InspectionPlan_Management")';

        $(async function () {
            addButtonEvent();
            observeChildChanges();
            //await addDropDownList();
            //await addAreaFloorEvent();
            readData(apiUrl);
        })

        let fakeData = {
            SampleName: "模板模板名稱",
            AddItemList: [
                {
                    AFSN: "E001",
                    Value: "起動方式",
                },
                {
                    AFSN: "E002",
                    Value: "額定電流",
                },
                {
                    AFSN: "E003",
                    Value: "油料編號",
                },
            ],
            MaintainItemList: [
                {
                    MISSN: "MIS001",
                    Value: "外部清潔與保養"
                },
                {
                    MISSN: "MIS002",
                    Value: "各部螺絲鎖定"
                },
                {
                    MISSN: "MIS003",
                    Value: "檢查管路是否通暢"
                },
                {
                    MISSN: "MIS004",
                    Value: "軸承潤滑油添加"
                },
            ],
            Frequency: "2",
            InspectItemList: [
                {
                    CISN: "CI001",
                    Value: "馬達是否正常運轉",
                },
                {
                    CISN: "CI002",
                    Value: "管線是否正常無漏液",
                },
                {
                    CISN: "CI003",
                    Value: "出口端是否正常出藥",
                },
                {
                    CISN: "CI004",
                    Value: "設備是否正常無漏水",
                },
            ],
            ReportItemList: [
                {
                    RISN: "RI001",
                    Value: "馬達電壓",
                    Unit: "V"
                },
                {
                    RISN: "RI002",
                    Value: "電流",
                    Unit: "A"
                },
                {
                    RISN: "RI003",
                    Value: "水壓",
                    Unit: "Pa"
                },
                {
                    RISN: "RI004",
                    Value: "流量",
                    Unit: "CMH"
                },
            ]
        }

        let EquipmentData = [
            {
                ESN: "E000123",
                EName: "螺旋發送機",
                NO: "E3569248",
                FilePath: "/Files/LaboratoryMaintenance/240104002.png",
                FileName: "240104002.png",
                ASN: "進流抽水站",
                FSN: "2F",
                Brand: "螺旋廠牌",
                Model: "SP309",
                Vendor: "螺旋廠商",
                ContactPhone: "(02)2669-6541",
                InstallDate: "2024-12-13",
                OperatingVoltage: "220V",
                OtherInfo: "無",
                Memo: ""
            },
            {
                ESN: "E000123",
                EName: "螺旋發送機",
                NO: "E3569248",
                FilePath: "/Files/LaboratoryMaintenance/240104002.png",
                FileName: "240104002.png",
                ASN: "進流抽水站",
                FSN: "3F",
                Brand: "螺旋廠牌",
                Model: "SP309",
                Vendor: "螺旋廠商",
                ContactPhone: "(02)2669-6541",
                InstallDate: "2024-12-13",
                OperatingVoltage: "220V",
                OtherInfo: "無",
                Memo: ""
            }
        ]
        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                console.log("fakeData", fakeData);
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })
            function onSuccess(res) {
                console.log("res:", res);
                for (const [k, v] of Object.entries(res)) {
                    $(`#${k}`).val(v);
                }

                //塞資料
                const areas = {
                    AddItemList: "AddItemsArea",
                    MaintainItemList: "MaintainItemsArea",
                    InspectItemList: "InspectItemsArea",
                    ReportItemList: "ReportItemsArea"
                };

                for (const [key, value] of Object.entries(res)) {
                    const areaID = areas[key];
                    const itemArea = document.getElementById(areaID);
                    //console.log("areaID", areaID);
                    //console.log("value", value);
                    //console.log("key", key);

                    if (!itemArea) {
                        //console.warn(`Element with ID "${areaID}" not found.`);
                        continue;
                    }

                    // 清空現有內容
                    if (value.length != 0) {
                        itemArea.innerHTML = "";
                    }

                    if (areaID === "ReportItemsArea") {
                        value.forEach((item, index) => {
                            const divOuter = document.createElement("div");
                            divOuter.className = "d-flex gap-3 align-items-center";

                            const divInner = document.createElement("div");
                            divInner.className = "key-value-pair gap-2";

                            const inputSN = document.createElement("input");
                            inputSN.type = "text";
                            inputSN.name = `RISN_${index + 1}`;
                            inputSN.id = `RISN_${index + 1}`;
                            inputSN.value = item.RISN || "";
                            inputSN.hidden = "true"

                            const inputName = document.createElement("input");
                            inputName.type = "text";
                            inputName.className = "form-control";
                            inputName.name = `ReportItemName_${index + 1}`;
                            inputName.id = `ReportItemName_${index + 1}`;
                            inputName.value = item.Value || "";
                            inputName.placeholder = "請輸入檢查項目名稱";

                            const inputUnit = document.createElement("input");
                            inputUnit.type = "text";
                            inputUnit.className = "form-control";
                            inputUnit.name = `ReportItemUnit_${index + 1}`;
                            inputUnit.id = `ReportItemUnit_${index + 1}`;
                            inputUnit.value = item.Unit || "";
                            inputUnit.placeholder = "請輸入單位";

                            const button = document.createElement("button");
                            button.type = "button";
                            button.className = "btn-delete-item";
                            button.onclick = function () {
                                delInputItem(this, areaID);
                            };

                            divInner.appendChild(inputSN);
                            divInner.appendChild(inputName);
                            divInner.appendChild(inputUnit);
                            divOuter.appendChild(divInner);
                            divOuter.appendChild(button);
                            itemArea.appendChild(divOuter);
                        });
                    } else {
                        value.forEach((item, index) => {
                            const div = document.createElement("div");
                            div.className = "d-flex gap-3 align-items-center";

                            const inputSN = document.createElement("input");
                            inputSN.type = "text";
                            if (areaID === "AddItemsArea") {
                                inputSN.name = `AFSN_${index + 1}`;
                                inputSN.id = `AFSN_${index + 1}`;
                                inputSN.value = item.AFSN || "";
                            } else if (areaID === "MaintainItemsArea") {
                                inputSN.name = `MISSN_${index + 1}`;
                                inputSN.id = `MISSN_${index + 1}`;
                                inputSN.value = item.MISSN || "";
                            } else if (areaID === "InspectItemsArea") {
                                inputSN.name = `CISN_${index + 1}`;
                                inputSN.id = `CISN_${index + 1}`;
                                inputSN.value = item.CISN || "";
                            }
                            inputSN.hidden = "true"

                            const input = document.createElement("input");
                            input.type = "text";
                            input.className = "form-control";
                            input.name = `${key.slice(0, -4)}_${index + 1}`;
                            input.id = `${key.slice(0, -4)}_${index + 1}`;
                            input.value = item.Value || "";

                            const button = document.createElement("button");
                            button.type = "button";
                            button.className = "btn-delete-item";
                            button.onclick = function () {
                                delInputItem(this, areaID);
                            };

                            div.appendChild(inputSN);
                            div.appendChild(input);
                            div.appendChild(button);
                            itemArea.appendChild(div);
                        });
                    }

                }

            }
            function onError(res) {
                console.log(res);
            }
        }

        function save(addMaintainItem) {
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            console.log("isValidity():", isValidity)
            if (!isValidity) return;
            if (!labelItems.checkValidity()) {
                onError({ responseText: "請至少新增一個 檢查項目名稱 或 填報項目名稱/單位！" })
                return;
            }

            const formData = labelItems.calc(addMaintainItem);

            const sendData = {
                SampleName: document.getElementById("SampleName").value,
                Frequency: document.getElementById("Frequency").value,
                ...formData
            };

            console.log("最終sendData為", sendData);

            if (checkIfAddMaintainItem()) return;


            $.ajax({
                url: "",
                data: sendData,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "儲存成功！",
                    onHide: () => { window.location.href = "/OneDeviceOneCard_Management/Index"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `儲存失敗！` + `${res?.responseText || ""}` })
            }
        }

        function popupSave() {
            console.log();
        }

        function addTemplateItem(zoneID) {
            let itemArea = document.getElementById(zoneID);
            let addButton = itemArea.parentElement.querySelector('.addItemBtn');

            if (itemArea.children.length < 100) {
                const count = itemArea.children.length + 1;
                let inputPrefix = "";

                if (zoneID === "AddItemsArea") {
                    inputPrefix = "AFSN";
                } else if (zoneID === "MaintainItemsArea") {
                    inputPrefix = "MISSN";
                } else if (zoneID === "InspectItemsArea") {
                    inputPrefix = "CISN";
                } else if (zoneID === "ReportItemsArea") {
                    inputPrefix = "RISN";
                }

                if (zoneID === "ReportItemsArea") {
                    itemArea.insertAdjacentHTML('beforeend', `
                        <div class="d-flex gap-3 align-items-center">
                            <div class="key-value-pair gap-2">
                                <input id="${inputPrefix}_${count}" name="${inputPrefix}_${count}" value="" hidden>
                                <input type="text" class="form-control" name="ReportItemName_${count}" id="ReportItemName_${count}" maxlength="20" placeholder="請輸入檢查項目名稱" required>
                                <input type="text" class="form-control" name="ReportItemUnit_${count}" id="ReportItemUnit_${count}" maxlength="20" placeholder="請輸入單位" required>
                            </div>
                            <button type="button" class="btn-delete-item" onclick="delInputItem(this, '${zoneID}')"></button>
                        </div>
                    `);
                } else {
                    itemArea.insertAdjacentHTML('beforeend', `
                        <div class="d-flex gap-3 align-items-center">
                            <input id="${inputPrefix}_${count}" name="${inputPrefix}_${count}" value="" hidden>
                            <input type="text" class="form-control" name="${zoneID.slice(0, -4)}_${count}" id="${zoneID.slice(0, -4)}_${count}" required />
                            <button type="button" class="btn-delete-item" onclick="delInputItem(this, '${zoneID}')"></button>
                        </div>
                    `);
                }
            }

            //新增上限為100筆
            if (itemArea.children.length >= 100 && addButton) {
                addButton.remove();
            }
        }

        function delInputItem(button, zoneID) {
            const itemArea = document.getElementById(zoneID);
            const parentDiv = button.parentElement;

            parentDiv.remove();

            if (itemArea) {
                Array.from(itemArea.children).forEach((child, index) => {
                    const SNInput = child.querySelector("input[name^='SN'], input[name^='RISN']");
                    if (SNInput) {
                        SNInput.name = `RISN_${index + 1}`
                        SNInput.id = `RISN_${index + 1}`;
                    }

                    const textInputs = child.querySelectorAll("input[type='text']");
                    if (textInputs.length > 0) {
                        textInputs.forEach((input, i) => {
                            const baseName = input.name.split('-')[0];
                            input.name = `${baseName}_${index + 1}`;
                            input.id = `${baseName}_${index + 1}`;
                        });
                    }
                });
            }
        }

        //監聽 檢查項目名稱、填報項目名稱/單位 若有填寫，巡檢頻率為必填
        function observeChildChanges() {
            const frequency = document.getElementById("Frequency");
            const inspectItemsArea = document.getElementById("InspectItemsArea");
            const reportItemsArea = document.getElementById("ReportItemsArea");

            const updateFrequencyRequired = () => {
                const hasInspectItems = inspectItemsArea.children.length > 0;
                const hasReportItems = reportItemsArea.children.length > 0;

                if (hasInspectItems || hasReportItems) {
                    frequency.setAttribute("required", "required");
                } else {
                    frequency.removeAttribute("required");
                }
            };

            // 設定 MutationObserver 監聽子層變化
            const observerConfig = { childList: true };
            const observerCallback = () => {
                updateFrequencyRequired();
            };

            const inspectObserver = new MutationObserver(observerCallback);
            const reportObserver = new MutationObserver(observerCallback);

            inspectObserver.observe(inspectItemsArea, observerConfig);
            reportObserver.observe(reportItemsArea, observerConfig);

            updateFrequencyRequired();
        }

        function LabelItems(addMaintainItem) {
            this.AddItems = $("#AddItemsArea");
            this.MaintainItems = $("#MaintainItemsArea");
            this.Frequency = document.getElementById('Frequency');
            this.InspectItems = $("#InspectItemsArea");
            this.ReportItems = $("#ReportItemsArea");

            this.calc = () => {
                const addItemList = this.AddItems.children().toArray().map(e => ({
                    AFSN: $(e).find("input[name^='AFSN']").val(),
                    Value: $(e).find("input[name^='AddItem']").val()
                }));

                const maintainItemList = this.MaintainItems.children().toArray().map(e => ({
                    MISSN: $(e).find("input[name^='MISSN']").val(),
                    Value: $(e).find("input[name^='MaintainItem']").val()
                }))

                if (addMaintainItem === true) {
                    maintainItemList = maintainItemList.filter(item => item.MISSN && item.MISSN.trim() !== "");

                    const addMaintainItemList = this.addMaintainItemList.children().toArray().map(e => ({
                        MaintainName: $(e).find("input[name^='maintainName']").val(),
                        Frequency: $(e).find("input[name^='frequency']").val(),
                        NextMaintainDate: $(e).find("input[name^='nextMaintainDate']").val()
                    }))
                }

                const checkItemList = this.InspectItems.children().toArray().map(e => ({
                    CISN: $(e).find("input[name^='CISN']").val(),
                    Value: $(e).find("input[name^='InspectItem']").val()
                }));
                const reportItemList = this.ReportItems.children().toArray().map(e => ({
                    RISN: $(e).find("input[name^='RISN']").val(),
                    Value: $(e).find("input[name^='ReportItemName']").val(),
                    Unit: $(e).find("input[name^='ReportItemUnit']").val()
                }))

                return {
                    AddItemList: addItemList.length > 0 ? addItemList : "",
                    MaintainItemList: maintainItemList.length > 0 ? maintainItemList : "",
                    AddMaintainItemList: addMaintainItemList.length > 0 ? addMaintainItemList : "",
                    CheckItemList: checkItemList.length > 0 ? checkItemList : "",
                    ReportItemList: reportItemList.length > 0 ? reportItemList : ""
                }
            }
            this.checkValidity = () => {
                if (this.Frequency.value) {
                    return this.InspectItems.children().length > 0 || this.ReportItems.children().length > 0
                }
                return true;
            }
            return this
        }

        function checkIfAddMaintainItem() {
            const maintainItemList = labelItems.calc().MaintainItemList;
            const hasEmptyMISSN = maintainItemList.some(item => !item.MISSN || item.MISSN.trim() === "");
            const hasEmptyValue = maintainItemList.some(item => !item.Value || item.Value.trim() === "");

            if (!hasEmptyValue) {
                if (hasEmptyMISSN) {

                    const newAddValues = maintainItemList
                        .filter(item => !item.MISSN || item.MISSN.trim() === "")
                        .map(item => item.Value);

                    // 清空 #EquipmentZone
                    const equipmentZone = document.getElementById('EquipmentZone');
                    equipmentZone.innerHTML = "";

                    const modal = new bootstrap.Modal(document.getElementById('addMultiAssign'));
                    modal.show();

                    //加入新項目
                    ShowEquipment("#EquipmentZone", EquipmentData, newAddValues)
                    return true;
                }
                return false;
            }
        }

        
    </script>
}