@{
    ViewBag.Title = "新增巡檢計畫";
}

<style>
    @@media (min-width: 992px) {
        .w-lg-60 {
            width: 60% !important;
        }

        .w-lg-40 {
            width: 40% !important;
        }

        .w-lg-108px {
            width: 108px !important;
        }

        .w-lg-205px {
            width: 205px !important;
        }

        .w-lg-250px {
            width: 250px !important;
        }
    }

    @@media (min-width: 1200px) {
        .w-xl-60 {
            width: 60% !important;
        }

        .w-xl-40 {
            width: 40% !important;
        }

        .w-xl-108px {
            width: 108px !important;
        }

        .w-xl-205px {
            width: 205px !important;
        }

        .w-xl-250px {
            width: 250px !important;
        }
    }
</style>

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<link rel="stylesheet" href="/Content/samplepath.css">
<link rel="stylesheet" href="/Content/tagbox.css">
<link rel="stylesheet" href="/Content/datagrid-modal.css">

<div class="spinner-area">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<section>
    <div class="search-area bg-transparent">
        <form class="form">
            <div class="form-group required">
                <label for="IPName">巡檢計畫名稱</label>
                <input type="text" class="form-control" name="IPName" id="IPName">
            </div>

            <div class="form-group required">
                <label for="PlanDate">巡檢日期</label>
                <input type="date" class="form-control" name="PlanDate" id="PlanDate">
            </div>

            <div class="form-group required">
                <label for="Shift">巡檢班別</label>
                <select type="text" class="form-select" name="Shift" id="Shift" required>
                    <option value="">請選擇</option>
                </select>
            </div>

            <div class="form-group required f-3">
                <label for="UserID">巡檢人員</label>
                <select type="text" class="form-select" name="UserID" id="UserID"></select>
            </div>
        </form>
    </div>

    <div class="sample-path-area">
        <h3 class="sample-path-title">定期保養設備</h3>
        <div class="edit-area flex-lg-row justify-content-start" style="gap: 1em;">
            <div class="form-group d-flex flex-column flex-lg-row align-items-start align-items-lg-center px-4 w-lg-auto"
                style="gap:0 1em; width:100%">
                <label for="MaintainUserID" class="flex-shrink-0">審核人員</label>
                <select type="text" class="form-select w-lg-250px" name="MaintainUserID" id="MaintainUserID"
                    style="width: 100%;">
                    <option value="">請選擇</option>
                </select>
            </div>
            <div class="datatable-easyui w-100 d-none">
                <table id="Maintain-datagrid"></table>
            </div>
            <div class="edit-button-area m-0 w-auto">
                <button class="btn btn-search" id="Maintain-create" data-bs-toggle="modal"
                    data-bs-target="#DatagridModal-Maintain">新增定期保養設備</button>
                <button class="btn btn-delete d-none" id="Maintain-delete">刪除</button>
            </div>
        </div>
    </div>
    <div class="sample-path-area mt-4">
        <h3 class="sample-path-title">維修設備</h3>
        <div class="edit-area flex-lg-row justify-content-start" style="gap: 1em;">
            <div class="form-group d-flex flex-column flex-lg-row align-items-start align-items-lg-center px-4 w-lg-auto"
                style="gap:0 1em; width:100%">
                <label for="RepairUserID" class="flex-shrink-0">審核人員</label>
                <select type="text" class="form-select w-lg-250px" name="RepairUserID" id="RepairUserID"
                    style="width: 100%;">
                    <option value="">請選擇</option>
                </select>
            </div>
            <div class="datatable-easyui w-100 d-none">
                <table id="Repair-datagrid"></table>
            </div>
            <div class="edit-button-area m-0 w-auto">
                <button class="btn btn-search" id="Repair-create" data-bs-toggle="modal"
                    data-bs-target="#DatagridModal-Repair">新增維修設備</button>
                <button class="btn btn-delete d-none" id="Repair-delete">刪除</button>
            </div>
        </div>
    </div>
</section>

<div class="modal fade datagrid-modal" tabindex="-1" id="DatagridModal-Maintain">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>新增定期保養單</h2>
                <div class="search-area mb-3">
                    <form class="form">

                        <input class="form-control" id="SourceMaintain" name="SourceMaintain" type="text"
                            value="AddMaintainForm" hidden />

                        <div class="form-group">
                            <label for="ASN">棟別</label>
                            <select class="form-select" name="ASN" id="ASN">
                                <option value="">請選擇</option>
                            </select>
                        </div>
                        <input class="form-control" id="Area" name="Area" type="text" hidden />


                        <div class="form-group">
                            <label for="FSN">樓層</label>
                            <select class="form-select" name="FSN" id="FSN">
                                <option value="">請選擇</option>
                            </select>
                        </div>
                        <input class="form-control" id="Floor" name="Floor" type="text" hidden />

                        <div class="form-group">
                            <label for="ESN">設備編號</label>
                            <input class="form-control" id="ESN" name="ESN" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="EName">設備名稱</label>
                            <input class="form-control" id="EName" name="EName" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="FormItemState">保養狀態</label>
                            <select class="form-select" name="FormItemState" id="FormItemState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="EState">設備狀態</label>
                            <select class="form-select" name="EState" id="EState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="StockState">庫存狀態</label>
                            <select class="form-select" name="StockState" id="StockState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="DateSelect">日期項目選擇</label>
                            <select class="form-select" name="DateSelect" id="DateSelect">
                                <option value="1">上次保養日期</option>
                                <option value="2">最近應保養日期</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="DateFrom">日期(起)</label>
                            <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
                        </div>

                        <div class="form-group">
                            <label for="DateTo">日期(迄)</label>
                            <input class="form-control" id="DateTo" name="DateTo" type="date" />
                        </div>

                        <div class="button-group">
                            <button type="button" class="btn btn-search" id="search">查詢</button>
                            <button type="reset" class="btn btn-clear" id="clear">清除</button>
                        </div>
                    </form>
                </div>
                <table class="modal-datagrid"></table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" id="add-row">新增</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade datagrid-modal" tabindex="-1" id="DatagridModal-Repair">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>新增設備維修單</h2>
                <div class="search-area mb-3">
                    <form class="form">

                        <input class="form-control" id="SourceReport" name="SourceReport" type="text"
                            value="AddReportForm" hidden />

                        <div class="form-group">
                            <label for="ASN">棟別</label>
                            <select class="form-select" name="ASN" id="ASN">
                                <option value="">請選擇</option>
                            </select>
                        </div>
                        <input class="form-control" id="Area" name="Area" type="text" hidden />


                        <div class="form-group">
                            <label for="FSN">樓層</label>
                            <select class="form-select" name="FSN" id="FSN">
                                <option value="">請選擇</option>
                            </select>
                        </div>
                        <input class="form-control" id="Floor" name="Floor" type="text" hidden />

                        <div class="form-group">
                            <label for="ReportLevel">報修等級</label>
                            <select class="form-select" name="ReportLevel" id="ReportLevel">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="ESN">設備編號</label>
                            <input class="form-control" id="ESN" name="ESN" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="EName">設備名稱</label>
                            <input class="form-control" id="EName" name="EName" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="ReportState">報修單狀態</label>
                            <select class="form-select" name="ReportState" id="ReportState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="StockState">庫存狀態</label>
                            <select class="form-select" name="StockState" id="StockState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="UserID">報修人員</label>
                            <select class="form-select" name="UserID" id="UserID">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="DateFrom">日期(起)</label>
                            <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
                        </div>

                        <div class="form-group">
                            <label for="DateTo">日期(迄)</label>
                            <input class="form-control" id="DateTo" name="DateTo" type="date" />
                        </div>

                        <div class="button-group">
                            <button type="button" class="btn btn-search" id="search">查詢</button>
                            <button type="reset" class="btn btn-clear" id="clear">清除</button>
                        </div>
                    </form>
                </div>
                <table class="modal-datagrid"></table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" id="add-row">新增</button>
            </div>
        </div>
    </div>
</div>

<hr class="hr-dashed">

<section>

    <div class="search-area bg-transparent">
        <div class="form d-flex flex-column flex-xl-row align-items-stretch align-items-xl-end">

            <form class="form-group w-auto w-xl-60" id="sample-path-form">
                <label>選取巡檢路線模板</label>
                <div class="d-flex flex-column flex-lg-row align-items-center" style="gap:1em;">
                    <div class="d-lg-contents d-flex flex-sm-row flex-column w-100" style="gap:1em;">
                        <select type="text" class="form-select w-lg-205px" name="ASN" id="ASN" required>
                            <option value="" disabled selected hidden>區域</option>
                        </select>
                        <select type="text" class="form-select w-lg-108px" name="FSN" id="FSN" required>
                            <option value="" disabled selected hidden>樓層</option>
                        </select>
                    </div>
                    <select type="text" class="form-select w-lg-250px" name="PathTitle" id="PathTitle" required>
                        <option value="" disabled selected hidden>選擇模板</option>
                    </select>
                    <button type="button" class="btn btn-search flex-shrink-0 w-100 w-lg-auto"
                        id="sample-path-create">新增</button>
                </div>
            </form>

            <form class="form-group w-auto w-xl-40" id="path-form">
                <label>新增其他巡檢路線</label>
                <div class="d-flex flex-column flex-lg-row align-items-center" style="gap:1em;">
                    <div class="d-lg-contents d-flex flex-sm-row flex-column w-100" style="gap:1em;">
                        <select type="text" class="form-select w-lg-205px" name="ASN" id="ASN" required>
                            <option value="" disabled selected hidden>區域</option>
                        </select>
                        <select type="text" class="form-select w-lg-108px" name="FSN" id="FSN" required>
                            <option value="" disabled selected hidden>樓層</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-search flex-shrink-0 w-100 w-lg-auto"
                        id="path-create">新增</button>
                </div>
            </form>

        </div>
    </div>

    <div class="sample-path-area">
        <h3 class="sample-path-title">巡檢路線規劃</h3>

        <div class="edit-area">
            <div class="sample-path-group-area">
                <div class="input-group sample-path-group">
                    <div class="input-group-text">
                        <button class="path-btn me-2" id="path-edit" data-bs-toggle="tooltip" title="拖曳順序">
                            <i class="icon-handle"></i>
                        </button>
                        <span id="sample-path-name"></span>
                    </div>
                    <div type="text" class="form-control">
                        <nav>
                            <ol class="breadcrumb d-none" id="path-display">
                                <li class="breadcrumb-item">起點</li>
                                <li class="breadcrumb-item">終點</li>
                            </ol>
                        </nav>
                        <button class="path-btn" id="path-edit" data-bs-toggle="tooltip" title="手動修改路線">
                            <i class="icon-edit"></i>
                        </button>
                    </div>
                    <button class="btn-delete-item" data-bs-toggle="tooltip" title="刪除路線" onclick=""></button>
                </div>
            </div>
            <div class="sample-path-draw-area d-none">
                <div class="sample-path-toolbar">
                    <button class="path-icon path-icon-radio" id="path-draw" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="規劃路線">
                        <i class="icon-pen"></i>
                    </button>
                    <button class="path-icon path-icon-radio" id="path-eraser" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="清除路線">
                        <i class="icon-eraser"></i>
                    </button>
                    <button class="path-icon path-icon-radio" id="path-device" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="新增設備">
                        <i class="icon-tools"></i>
                    </button>

                    <hr class="m-0">

                    <button class="path-icon" id="path-reload" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="重新規劃路線">
                        <i class="icon-reload"></i>
                    </button>
                    <button class="path-icon" id="path-auto" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="自動計算路線">
                        <i class="icon-auto"></i>
                    </button>
                </div>
                <div class="viewer3Dcontainer">
                    <div id="viewer3d" style="margin:0;"></div>
                    <canvas id="PathCanvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增計畫</button>
</div>

<!-- Autodesk Forge -->
<link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.4"
    type="text/css">
<script language="JavaScript"
    src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.4"></script>
<script language="JavaScript" src="/Scripts/Forge/UpViewer.js"></script>

<!-- PIXI Draw -->
<script src="https://pixijs.download/v7.2.2/pixi.js"></script>
<script src="/Scripts/ForgeDraw.js"></script>
<script src="/Scripts/datatable.js"></script>
<script>
    var view = document.querySelector("#PathCanvas");
    var app;
    var stage;
    let btUrl = "/Content/img/bluetooth.svg";

    function initializeDrawer() {
        app = ForgeDraw.init(view, viewer, function () {
            view.addEventListener("fd.linedata.change", function (event) {
                console.log("view => fd.linedata.change");
                calcRoute();
            });
            view.addEventListener("fd.linedata.detail", function (event) {
                console.log("view => fd.linedata.detail", event.detail);
                if (event.detail instanceof ForgeDraw.DevicePoint) {
                    createDataDetailModal({
                        title: "設備資訊",
                        id: "",
                        sn: [
                            { text: "名稱", value: "name" },
                            { text: "DBID", value: "dbid" },
                            { text: "座標X", value: "x" },
                            { text: "座標Y", value: "y" },
                        ],
                        data: {
                            name: event.detail.name,
                            dbid: event.detail.dbId,
                            x: event.detail.forgePos.x,
                            y: event.detail.forgePos.y
                        }
                    });
                }
                else {
                    createDataDetailModal({
                        title: "座標資訊",
                        id: "",
                        sn: [
                            { text: "座標X", value: "x" },
                            { text: "座標Y", value: "y" },
                        ],
                        data: { x: event.detail.forgePos.x, y: event.detail.forgePos.y }
                    });
                }
            });
            view.addEventListener("fd.linedata.removeall", function (event) {
                console.log("view => fd.linedata.removeall");
                updatePathDisplay();
            });

            view.addEventListener("fd.devicepoint.usercreate", function (event) {
                console.log("view => fd.devicepoint.usercreate");
                //createDeviceModal.create(event.detail);
            });

            view.addEventListener("fd.devicepoint.ignore", function (event) {
                console.log("view => fd.devicepoint.ignore");
                calcRoute();
            });

            readDeviceData(fakeData.BIMDevices);

            addTooltip();
        });

        window.onresize = function () {
            ForgeDraw.resize();
        }

    }

    function calcRoute() {

        if (ForgeDraw.lineData.length > 1) {
            ForgeDraw.devices.forEach((dp) => {
                dp.update();
            })
        }

        if (!sortRouteModal.autoCalcRoute) {
            return;
        }

        //開始計算路徑
        let route = ForgeDraw.getRoute().map(e => e.name);
        console.log(ForgeDraw.devices.map(e => e.result));

        route.unshift("起點");
        route.push("終點");

        //顯示在網頁上
        updatePathDisplay(route);
    }

    //更新網頁顯示的路徑
    function updatePathDisplay(path = undefined) {
        let $path = $("#path-display");

        if (!path) {
            $path.empty();
            $path.append(`
            <li class="breadcrumb-item">起點</li>
            <li class="breadcrumb-item">終點</li>
            `);
            return;
        }

        $path.empty();
        path.forEach(r => {
            let pathPoint = `<li class="breadcrumb-item">${r}</li>`;
            $path.append(pathPoint);
        })
    }

    //切換操作
    function controlToggle(id, control) {
        let btn = $("#" + id);
        ForgeDraw.setControl(control);

        $(".path-icon-radio").removeClass("active");
        btn.toggleClass("active", true);
    }

    //更換模型和設備
    function loadModel() {
        ForgeDraw.removeAllDevice();
        ForgeDraw.removeAllData();

        viewerUrl = "../" + fakeData.BIMPath;
        viewer.loadModel(
            viewerUrl,
            { keepCurrentModels: false },
            onSuccess,
            onError
        );
        function onSuccess(res) {
            //console.log(res);
            let eventName = Autodesk.Viewing.FINAL_FRAME_RENDERED_CHANGED_EVENT;
            let eventFunc = () => {
                console.log("loadModel: FINAL_FRAME_RENDERED_CHANGED_EVENT")
                readDeviceData(fakeData.BIMDevices);
                viewer.removeEventListener(eventName, eventFunc);
            };
            viewer.addEventListener(eventName, eventFunc);
        }
        function onError(err) {
            console.log(err);
        }
    }

    //讀取設備資料並繪製
    function readDeviceData(data) {
        data.forEach((e) => {
            let btSprite = PIXI.Sprite.from(btUrl);
            btSprite.scale.set(0.6);
            btSprite.anchor.set(0.5);
            let dp = new ForgeDraw.DevicePoint(e, { sprite: btSprite });
        });
    }
</script>

<!-- Drag and Drop -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="/Scripts/Forge/SortRouteModal.js"></script>
<script>
    const sortRouteModal = new SortRouteModal({
        onSave: updatePathDisplay
    });
</script>

<!-- EVENT -->
<script src="../../Scripts/tool.js"></script>
<script>
    let fakeData = {
        BIMPath: "BimModels/Site01/Resource/3D View/林口(一)/林口(一).svf",
        BIMDevices: [
            {
                dbId: 3078,
                deviceType: "bluetooth",
                deviceName: "BT-11014",
            },
            {
                dbId: 3239,
                deviceType: "bluetooth",
                deviceName: "BT-11015",
            },
            {
                dbId: 3162,
                deviceType: "bluetooth",
                deviceName: "BT-11016",
            }
        ]
    }

    let DatagridEvent;

    $(async function () {
        addButtonEvent();
        DatagridEvent = addDatagridEvent();
        await addDropDownList();
        await addAreaFloorEvent();
        controlToggle("path-draw", ForgeDraw.Control.DRAW);
        sortRouteModal.autoRouteToggle(true);

        await $('#UserID').tagbox({
            url: '@Url.Action("AllMyName", "DropDownList")',
            textField: 'Text',
            valueField: 'Value',
            hasDownArrow: true,
            limitToList: true,
        });

        $(".spinner-area").fadeOut(300, function () { $(this).remove(); });
    });

    async function addDropDownList() {
        await pushSelect("Shift", '@Url.Action("Shift", "DropDownList")');
        await pushSelect("MaintainUserID", '@Url.Action("AllMyName", "DropDownList")');
        await pushSelect("RepairUserID", '@Url.Action("AllMyName", "DropDownList")');


        let DMM = 'DatagridModal-Maintain';
        await pushSelect(DMM + " #FormItemState", '@Url.Action("AddFormItemState", "DropDownList")');
        await pushSelect(DMM + " #EState", '@Url.Action("EState", "DropDownList")');
        await pushSelect(DMM + " #StockState", '@Url.Action("StockState", "DropDownList")');

        let DMR = 'DatagridModal-Repair';
        pushSelect(DMR + " #ReportLevel", '@Url.Action("ReportLevel", "DropDownList")');
        pushSelect(DMR + " #ReportState", '@Url.Action("Report_Management_Management_ReportFormState", "DropDownList")?url=CanAddToPlanReportState');
        pushSelect(DMR + " #UserID", '@Url.Action("ReportUser", "DropDownList")');
        pushSelect(DMR + " #StockState", '@Url.Action("StockState", "DropDownList")');
    }

    async function addAreaFloorEvent() {
        let areaList = ["path-form", "sample-path-form", "DatagridModal-Maintain", "DatagridModal-Repair"];
        areaList.forEach((id) => {
            pushSelect(`${id} #ASN`, '@Url.Action("Area", "DropDownList")');
            let ASN = $(`#${id} #ASN`);

            ASN.on("change", async function () {

                if (ASN.val()) {
                    $(`#${id} #Area`).val(ASN.children("option:selected").text());
                }
                else {
                    $(`#${id} #Area`).val('');
                }

                await pushSelect(`${id} #FSN`, '@Url.Action("Floor", "DropDownList")' + `?ASN=${ASN.val()}`);
                $(`#${id} #FSN`).val('');
            });
        })

        let floorList = ["path-form", "sample-path-form", "DatagridModal-Maintain", "DatagridModal-Repair"];
        floorList.forEach((id) => {
            let FSN = $(`#${id} #FSN`);

            FSN.on("change", async function () {

                if (FSN.val()) {
                    $(`#${id} #Floor`).val(FSN.children("option:selected").text());
                }
                else {
                    $(`#${id} #Floor`).val('');
                }

                if (id == "sample-path-form") {
                    await pushSelect(`${id} #PathTitle`, '@Url.Action("PathTitle", "DropDownList")' + `?FSN=${FSN.val()}`);
                    $(`#${id} #PathTitle`).val('');
                }
            });
        })
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })
        $("#path-create").click(function (e) {
            e.preventDefault();
            console.log("onclick path-create");
            let form = $("#path-form");
            if (form[0].checkValidity()) {
                let asn = form.find("#ASN").val();
                let fsn = form.find("#FSN").val();
                let pt = form.find("#ASN option:selected").text() + form.find("#FSN option:selected").text();

                $("#sample-path-name").text(pt);
                $(".sample-path-draw-area").removeClass("d-none");
                $("#path-display").removeClass("d-none");

                //$.getJSON('@Url.Action("action","Controller")', function (data) {
                //fakeData = data;
                //若非第一次初始化
                if (viewer) {
                    viewerUrl = "../" + fakeData.BIMPath;
                    loadModel();
                }
                else {
                    viewerUrl = "../" + fakeData.BIMPath;
                    initializeViewer(initializeDrawer);
                }
                //})
            }
        })
        $("#sample-path-create").click(function (e) {
            e.preventDefault();
            console.log("onclick sample-path-create");
            let form = $("#sample-path-form");
            if (form[0].checkValidity()) {

                let asn = form.find("#ASN").val();
                let fsn = form.find("#FSN").val();
                let pt = form.find("#PathTitle option:selected").text();

                $("#sample-path-name").text(pt);
                $(".sample-path-draw-area").removeClass("d-none");
                $("#path-display").removeClass("d-none");

                //$.getJSON('@Url.Action("action","Controller")', function (data) {
                //fakeData = data;
                //若非第一次初始化
                if (viewer) {
                    viewerUrl = "../" + fakeData.BIMPath;
                    loadModel();
                }
                else {
                    viewerUrl = "../" + fakeData.BIMPath;
                    initializeViewer(initializeDrawer);
                }
                //})
            }
        })

        /* 畫線功能 */
        $("#path-edit").click(function () {
            sortRouteModal.create();
        })
        $("#path-draw").click(function () {
            $(this).blur();
            controlToggle("path-draw", ForgeDraw.Control.DRAW);
        })
        $("#path-eraser").click(function () {
            $(this).blur();
            controlToggle("path-eraser", ForgeDraw.Control.ERASER);
        })
        $("#path-device").click(function () {
            $(this).blur();
            controlToggle("path-device", ForgeDraw.Control.DEVICE);
        })
        $("#path-reload").click(function () {
            $(this).blur();
            ForgeDraw.removeAllData();
            sortRouteModal.autoRouteToggle(true);
        })
        $("#path-auto").click(function () {
            $(this).blur();
            sortRouteModal.autoRouteToggle();
            calcRoute();
        })

        $("#submit").click(function () {
            console.log("onclick submit")
            save();
        })
    }

    function addDatagridEvent() {
        const M_MDG = $('#DatagridModal-Maintain .modal-datagrid');
        const E_MDG = $('#Maintain-datagrid');

        const M_RDG = $('#DatagridModal-Repair .modal-datagrid');
        const E_RDG = $('#Repair-datagrid');

        let M_MSC = null;

        let M_RSC = null;

        const options = {
            //rownumbers: true,
            remoteSort: false,
            sortOrder: 'asc',
            singleSelect: false,
            selectOnCheck: true,
            checkOnSelect: true
        };

        const pageOptions = {
            pageSize: 10,
            showPageList: true,
            pageList: [10, 20, 50],
            beforePageText: '第',
            afterPageText: '頁，共 {pages} 頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料，共 {total} 筆資料'
        };

        const MaintainColumns = {
            idField: 'EMFISN',
            //sortName: 'EMFISN',
            columns: [[
                { field: 'FormItemStatenum', hidden: true },
                { field: 'StockState', title: '庫存狀態', align: 'center', width: 120, sortable: true },
                { field: 'FormItemState', title: '保養項目狀態', align: 'center', width: 150, sortable: true },
                { field: 'EState', title: '設備狀態', align: 'center', width: 120, sortable: true },
                { field: 'Area', title: '棟別', align: 'center', width: 120, sortable: true },
                { field: 'Floor', title: '樓層', align: 'center', width: 80, sortable: true },

                { field: 'ESN', title: '設備編號', align: 'center', width: 100, sortable: true },
                { field: 'EName', title: '設備名稱', align: 'center', width: 220, sortable: true },

                { field: 'EMFISN', title: '保養單項目編號', align: 'center', width: 210, sortable: true },

                { field: 'MIName', title: '保養項目', align: 'center', width: 200, sortable: true },
                { field: 'Period', title: '週期', align: 'center', width: 100, sortable: true },
                { field: 'Unit', title: '週期單位', align: 'center', width: 130, sortable: true },

                { field: 'LastTime', title: '上次保養', align: 'center', width: 140, sortable: true },
                { field: 'Date', title: '最近應保養', align: 'center', width: 150, sortable: true },
            ]]
        };

        this.mdg = {
            onDetail: function (index) {
                M_MSC = getChecked(M_MDG, index);
                let row = M_MDG.datagrid('getRows')[index];
                let url = '@Url.Action("Read","MaintainForm_Management")/' + `${row.EMFISN}`;
                window.open(url, "_blank");
            },
            onLocate: function (index) {
                M_MSC = getChecked(M_MDG, index);
                let row = M_MDG.datagrid('getRows')[index];
                let url = '@Url.Action("Read","MaintainForm_Management")/' + `${row.EMFISN}`;
                window.open(url, "_blank");
            }
        }

        this.emdg = {
            onDetail: function (index) {
                M_MSC = getChecked(E_MDG, index);
                let row = E_MDG.datagrid('getRows')[index];
                let url = '@Url.Action("Read","MaintainForm_Management")/' + `${row.EMFISN}`;
                window.open(url, "_blank");
            },
            onLocate: function (index) {
                M_MSC = getChecked(E_MDG, index);
                let row = E_MDG.datagrid('getRows')[index];
                let url = '@Url.Action("Read","MaintainForm_Management")/' + `${row.EMFISN}`;
                window.open(url, "_blank");
            }
        }

        const RepairColumns = {
            idField: 'RSN',
            //sortName: 'RSN',
            columns: [[
                { field: 'StockState', title: '庫存狀態', align: 'center', width: 150, sortable: true },
                { field: 'ReportState', title: '報修單狀態', align: 'center', width: 145, sortable: true },
                { field: 'EState', title: '設備狀態', align: 'center', width: 120, sortable: true },
                { field: 'Area', title: '棟別', align: 'center', width: 120, sortable: true },
                { field: 'Floor', title: '樓層', align: 'center', width: 80, sortable: true },

                { field: 'ESN', title: '設備編號', align: 'center', width: 100, sortable: true },
                { field: 'EName', title: '設備名稱', align: 'center', width: 220, sortable: true },

                { field: 'RSN', title: '報修單號', align: 'center', width: 110, sortable: true },
                { field: 'ReportLevel', title: '報修等級', align: 'center', width: 95, sortable: true },
                { field: 'Date', title: '報修時間', align: 'center', width: 175, sortable: true },
                { field: 'MyName', title: '報修人員', align: 'center', width: 110, sortable: true },
                { field: 'ReportContent', title: '報修內容', align: 'center', width: 110, sortable: true },
            ]]
        }

        this.rdg = {
            onDetail: function (index) {
                M_RSC = getChecked(M_RDG, index);
                let row = M_RDG.datagrid('getRows')[index];
                let url = '@Url.Action("Read","Report_Management")/' + `${row.RSN}`;
                window.open(url, "_blank");
            },
            onLocate: function (index) {
                M_RSC = getChecked(M_RDG, index);
                let row = M_RDG.datagrid('getRows')[index];
                let url = '@Url.Action("Read","Report_Management")/' + `${row.RSN}`;
                window.open(url, "_blank");
            }
        }

        this.erdg = {
            onDetail: function (index) {
                M_RSC = getChecked(E_RDG, index);
                let row = E_RDG.datagrid('getRows')[index];
                let url = '@Url.Action("Read","Report_Management")/' + `${row.RSN}`;
                window.open(url, "_blank");
            },
            onLocate: function (index) {
                M_RSC = getChecked(E_RDG, index);
                let row = E_RDG.datagrid('getRows')[index];
                let url = '@Url.Action("Read","Report_Management")/' + `${row.RSN}`;
                window.open(url, "_blank");
            }
        }


        $("#Maintain-create").one("click", function () {
            let id = "DatagridModal-Maintain";
            let modal = $("#" + id);
            modal.one("shown.bs.modal", () => {
                initDatagrid();
                modal.on("shown.bs.modal", () => { M_MDG.datagrid("load") });
                modal.on("hidden.bs.modal", () => { $(`#${id} form`)[0].reset(); M_MDG.datagrid("clearChecked"); });
            });

            $(`#${id} #search`).click(() => { loadDatagrid(id) });

            $(`#${id} #add-row`).on("click", addRowEvent);

            function initDatagrid() {
                const dg = M_MDG;
                dg.datagrid(
                    Object.assign(
                        {
                            url: '@Url.Action("MaintainForm_Management", "MaintainForm_Management")',
                            method: 'POST',
                            queryParams: getQueryParams(`#${id} form`),
                            fit: true,
                            pagination: true,
                            pagePosition: 'bottom',
                            pageSize: 10,
                            frozenColumns: [[
                                { field: '_select', checkbox: true, },
                                {
                                    field: '_detail', align: 'center', width: 71,
                                    formatter: (val, row, index) => {
                                        return `<button class="btn btn-datagrid" onclick="DatagridEvent.mdg.onDetail(${index})">詳情</button>`;
                                    }
                                },
                                {
                                    field: '_locate', align: 'center', width: 71,
                                    formatter: (val, row, index) => {
                                        return `<button class="btn btn-datagrid" onclick="DatagridEvent.mdg.onLocate(${index})">定位</button>`;
                                    }
                                }
                            ]],
                            onBeforeSelect: (index) => onBeforeSelect(dg, index, M_MSC, false),
                            onBeforeUnselect: (index) => onBeforeSelect(dg, index, M_MSC, true),
                            onLoadSuccess: (data) => {
                                data.rows.forEach((row, index, arr) => {
                                    switch (row.FormItemStatenum) {
                                        case '9':
                                        case '10':
                                        case '11':
                                            dg.datagrid('getPanel').find('.datagrid-row [field="_select"]')[index].innerHTML = ""
                                            break;
                                    }
                                })
                                dg.datagrid('getPanel').find('.datagrid-header-check')[0].innerHTML = ""
                            }
                        },
                        options,
                        MaintainColumns
                    )
                )
                $(dg.datagrid('getPager')).pagination(pageOptions);
            }
            function initResultDatagrid() {
                const dg = E_MDG;
                dg.datagrid(
                    Object.assign(
                        {
                            frozenColumns: [[
                                { field: '_select', checkbox: true, },
                                {
                                    field: '_detail', align: 'center', width: 71,
                                    formatter: (val, row, index) => {
                                        return `<button class="btn btn-datagrid" onclick="DatagridEvent.emdg.onDetail(${index})">詳情</button>`;
                                    }
                                },
                                {
                                    field: '_locate', align: 'center', width: 71,
                                    formatter: (val, row, index) => {
                                        return `<button class="btn btn-datagrid" onclick="DatagridEvent.emdg.onLocate(${index})">定位</button>`;
                                    }
                                }
                            ]],
                            onBeforeSelect: (index) => onSelectBtn(dg, index, M_MSC),
                            onBeforeUnselect: (index) => onSelectBtn(dg, index, M_MSC),
                        },
                        options,
                        MaintainColumns
                    )
                )
            }
            function addRowEvent() {
                if (M_MDG.datagrid("getChecked").length !== 0) {
                    $(`#${id} #add-row`).off("click", addRowEvent);

                    $(`#${id} #add-row`).on("click", function () {
                        if (M_MDG.datagrid("getChecked").length !== 0) {
                            appendData.call(this);
                        }
                    });
                    $("#Maintain-delete").on("click", function () {
                        if (E_MDG.datagrid("getChecked").length !== 0) {
                            removeData.call(this);
                        }
                    });

                    changeEditAreaCss.call($("#Maintain-create")[0]);
                    initResultDatagrid();
                    $(`#${id} #add-row`).click();
                }
            }
            function appendData() {
                let data = M_MDG.datagrid("getChecked").map((d) => { return d.EMFISN });
                console.log(data);
                let btn = $(this);
                btn.append(` <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);

                /* TEST */ //setTimeout(onSuccess, 1000);

                $.ajax({
                    url: '@Url.Action("AddMaintainForm", "InspectionPlan_Management")',
                    data: JSON.stringify(data),
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

                function onSuccess(res) {
                    console.log(res)
                    btn.children(".spinner-border").remove();
                    bootstrap.Modal.getInstance(modal[0]).hide();

                    ///* TEST */ M_MDG.datagrid("getChecked").forEach((d) => { E_MDG.datagrid("appendRow", d) })

                    res.rows.forEach((d) => { E_MDG.datagrid("appendRow", d) })
                }
                function onError(err) {
                    btn.children(".spinner-border").remove();
                    createDialogModal({
                        id: "DialogModal-Error",
                        inner: "新增失敗！",
                        button: [{ className: "btn btn-delete", cancel: true, text: "確定" }]
                    })
                }
            }
            function removeData() {
                let data = E_MDG.datagrid("getChecked").map((d) => { return d.EMFISN });
                console.log(data);
                let btn = $(this);
                btn.append(` <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);

                /* TEST */ //setTimeout(onSuccess, 1000);

                $.ajax({
                    url: '@Url.Action("DeleteMaintainForm", "InspectionPlan_Management")',
                    data: JSON.stringify(data),
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

                function onSuccess(res) {
                    btn.children(".spinner-border").remove();
                    bootstrap.Modal.getInstance(modal[0]).hide();

                    createDialogModal({
                        id: "DialogModal-Success",
                        inner: "刪除成功！",
                        button: [{ className: "btn btn-delete", cancel: true, text: "確定" }]
                    })

                    /* TEST */ data.forEach((d) => { E_MDG.datagrid("deleteRow", E_MDG.datagrid("getRowIndex", d)) })

                    //res.forEach((d) => { E_MDG.datagrid("deleteRow", E_MDG.datagrid("getRowIndex", d)) })

                    E_MDG.datagrid("clearChecked");
                }
                function onError(err) {
                    btn.children(".spinner-border").remove();
                    createDialogModal({
                        id: "DialogModal-Error",
                        inner: "刪除失敗！",
                        button: [{ className: "btn btn-delete", cancel: true, text: "確定" }]
                    })
                    E_MDG.datagrid("clearChecked");
                }
            }
        })

        $("#Repair-create").one("click", function () {
            let id = "DatagridModal-Repair";
            let modal = $("#" + id);
            modal.one("shown.bs.modal", () => {
                initDatagrid();
                modal.on("shown.bs.modal", () => { M_RDG.datagrid("load") });
                modal.on("hidden.bs.modal", () => { $(`#${id} form`)[0].reset(); M_RDG.datagrid("clearChecked"); });
            });
            $(`#${id} #search`).click(() => { loadDatagrid(id) });

            $(`#${id} #add-row`).on("click", addRowEvent);

            function initDatagrid() {
                const dg = M_RDG;
                dg.datagrid(
                    Object.assign(
                        {
                            url: '@Url.Action("Report_Management", "Datagrid")',
                            method: 'POST',
                            queryParams: getQueryParams(`#${id} form`),
                            fit: true,
                            pagination: true,
                            pagePosition: 'bottom',
                            pageSize: 10,
                            frozenColumns: [[
                                { field: '_select', checkbox: true },
                                {
                                    field: '_detail', align: 'center', width: 71,
                                    formatter: (val, row, index) => {
                                        return `<button class="btn btn-datagrid" onclick="DatagridEvent.rdg.onDetail(${index})">詳情</button>`;
                                    }
                                },
                                {
                                    field: '_locate', align: 'center', width: 71,
                                    formatter: (val, row, index) => {
                                        return `<button class="btn btn-datagrid" onclick="DatagridEvent.rdg.onLocate(${index})">定位</button>`;
                                    }
                                }
                            ]],
                            onBeforeSelect: (index) => onBeforeSelect(dg, index, M_RSC, false),
                            onBeforeUnselect: (index) => onBeforeSelect(dg, index, M_RSC, true),
                            onLoadSuccess: (data) => {
                                data.rows.forEach((row, index, arr) => {
                                    switch (row.FormItemStatenum) {
                                        case '9':
                                        case '10':
                                        case '11':
                                            dg.datagrid('getPanel').find('.datagrid-row [field="_select"]')[index].innerHTML = ""
                                            break;
                                    }
                                })
                                dg.datagrid('getPanel').find('.datagrid-header-check')[0].innerHTML = ""
                            }
                        },
                        options,
                        RepairColumns
                    )
                )
                $(dg.datagrid('getPager')).pagination(pageOptions);
            }
            function initResultDatagrid() {
                const dg = E_RDG;
                dg.datagrid(
                    Object.assign(
                        {
                            frozenColumns: [[
                                { field: '_select', checkbox: true },
                                {
                                    field: '_detail', align: 'center', width: 71,
                                    formatter: (val, row, index) => {
                                        return `<button class="btn btn-datagrid" onclick="DatagridEvent.erdg.onDetail(${index})">詳情</button>`;
                                    }
                                },
                                {
                                    field: '_locate', align: 'center', width: 71,
                                    formatter: (val, row, index) => {
                                        return `<button class="btn btn-datagrid" onclick="DatagridEvent.erdg.onLocate(${index})">定位</button>`;
                                    }
                                }
                            ]],
                            onBeforeSelect: (index) => onSelectBtn(dg, index, M_RSC),
                            onBeforeUnselect: (index) => onSelectBtn(dg, index, M_RSC),
                        },
                        options,
                        RepairColumns
                    )
                )
            }
            function addRowEvent() {
                if (M_RDG.datagrid("getChecked").length !== 0) {
                    $(`#${id} #add-row`).off("click", addRowEvent);

                    $(`#${id} #add-row`).on("click", function () {
                        if (M_RDG.datagrid("getChecked").length !== 0) {
                            appendData.call(this);
                        }
                    });
                    $("#Repair-delete").on("click", function () {
                        if (E_RDG.datagrid("getChecked").length !== 0) {
                            removeData.call(this);
                        }
                    });

                    changeEditAreaCss.call($("#Repair-create")[0]);
                    initResultDatagrid();
                    $(`#${id} #add-row`).click();
                }
            }
            function appendData() {
                let data = M_RDG.datagrid("getChecked").map((d) => { return d.RSN });
                console.log(data);
                let btn = $(this);
                btn.append(` <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);

                /* TEST */ setTimeout(onSuccess, 1000);

                /*$.ajax({
                    url: '',
                    data: JSON.stringify(data),
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })*/

                function onSuccess(res) {
                    btn.children(".spinner-border").remove();
                    bootstrap.Modal.getInstance(modal[0]).hide();

                    /* TEST */ M_RDG.datagrid("getChecked").forEach((d) => { E_RDG.datagrid("appendRow", d) })

                    //res.forEach((d) => { E_RDG.datagrid("appendRow", d) })
                }
                function onError(err) {
                    btn.children(".spinner-border").remove();
                    createDialogModal({
                        id: "DialogModal-Error",
                        inner: "新增失敗！",
                        button: [{ className: "btn btn-delete", cancel: true, text: "確定" }]
                    })
                }
            }
            function removeData() {
                let data = E_RDG.datagrid("getChecked").map((d) => { return d.RSN });
                console.log(data);
                let btn = $(this);
                btn.append(` <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);

                /* TEST */ setTimeout(onSuccess, 1000);

                /*$.ajax({
                    url: '',
                    data: JSON.stringify(data),
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })*/



                function onSuccess(res) {
                    btn.children(".spinner-border").remove();
                    bootstrap.Modal.getInstance(modal[0]).hide();

                    createDialogModal({
                        id: "DialogModal-Success",
                        inner: "刪除成功！",
                        button: [{ className: "btn btn-delete", cancel: true, text: "確定" }]
                    })

                    /* TEST */ data.forEach((d) => { E_RDG.datagrid("deleteRow", E_RDG.datagrid("getRowIndex", d)) })

                    //res.forEach((d) => { E_RDG.datagrid("deleteRow", E_RDG.datagrid("getRowIndex", d)) })

                    E_RDG.datagrid("clearChecked");
                }
                function onError(err) {
                    btn.children(".spinner-border").remove();
                    createDialogModal({
                        id: "DialogModal-Error",
                        inner: "刪除失敗！",
                        button: [{ className: "btn btn-delete", cancel: true, text: "確定" }]
                    })
                    E_RDG.datagrid("clearChecked");
                }
            }
        })

        function changeEditAreaCss() {
            let selfJQ = $(this);
            let parent = selfJQ.parent();
            selfJQ.attr("data-once", '')
            selfJQ.siblings().removeClass("d-none");
            parent.removeClass("mt-0");
            parent.siblings(".datatable-easyui").removeClass("d-none");
            parent.siblings(".form-group").removeClass("w-lg-auto");
            parent.siblings(".form-group").addClass("required");
            parent.siblings(".form-group").children("select").attr("required", '');
            parent.parent().removeClass("flex-lg-row justify-content-start");
        }
        function loadDatagrid(id) {
            let dg = $(`#${id} .modal-datagrid`);
            dg.datagrid("load", getQueryParams(`#${id} form`));
        }
        function getCheckbox(dg, index) {
            return dg.datagrid('getPanel').find('.datagrid-row [field="_select"]')[index].querySelector(".datagrid-cell-check");
        }
        function getChecked(dg, index) {
            let dom = getCheckbox(dg, index);
            return dom ? dom.checked : null;
        }
        function onSelectBtn(dg, index, sc) {
            if (sc !== null && sc == getChecked(dg, index)) {
                sc = null;
                return false;
            }
            return true;
        }
        function onBeforeSelect(dg, index, sc, bool) {
            if (getCheckbox(dg, index) == null) return bool;
            return onSelectBtn(dg, index, sc);
        }
        return this;
    }

    function addTooltip() {
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl, {
                customClass: "sample-path-tooltip",
            })
        })
        tooltipList.forEach(e => e.show())
        setTimeout(() => {
            tooltipList.forEach(e => e.hide())
        }, 2000)
    }

    function save() {
        let PathSampleOrder = $(".breadcrumb-item:not(:first-child):not(:last-child)").toArray().map(e => e.innerHTML);
        let PathSampleRecord = ForgeDraw.getForgeLineData().map(e => {
            return { LocationX: e.x, LocationY: e.y };
        })

        let data = {
            PathSample: {
                ASN: $("#ASN").val(),
                FSN: $("#FSN").val(),
                PathTitle: $("#PathTitle").val()
            },
            PathSampleOrder: PathSampleOrder,
            PathSampleRecord: PathSampleRecord
        }

        console.log(data);

        /* $.ajax({
            url: '@Url.Action("aaa", "bbb")',
            data: JSON.stringify(data),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: onSuccess,
            error: onError
        }) */

        function onSuccess(res) {
            console.log("Success");
            console.log(res);

            if (res.ResponseCode == 0) {
                createDialogModal({
                    id: "DialogModal-Success",
                    inner: "新增成功！",
                    button: [
                        {
                            className: "btn btn-delete",
                            cancel: true,
                            text: "確定"
                        },
                    ],
                    onHide: () => {
                        let url = '@Url.Action("Management", "SamplePath_Management")';
                        window.location.href = url;
                    }
                });
            }
        }
        function onError(res) {
            console.log("error");
            console.log(res);
            let errtext;

            switch (res) {
                case "duplicate title":
                    errtext = "巡檢路線模板名稱重複！";
                    break;
                default:
                    errtext = "";
                    break;
            }

            createDialogModal({
                id: "DialogModal-Error",
                inner: `新增失敗！${errtext}`,
                button: [
                    {
                        className: "btn btn-delete",
                        cancel: true,
                        text: "確定"
                    },
                ]
            })
        }
    }
</script>




