@{
    ViewBag.Title = "巡檢即時位置";
}
@section styles {
    @Styles.Render("https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css")
    @Styles.Render("~/Content/BigScreen.css")
    @Styles.Render("~/Content/CurrentPosition.css")

    @Styles.Render("https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css")
    @Styles.Render("~/Content/loading.css")

    @Scripts.Render("https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js")
    @Scripts.Render("https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js")
}
<div class="bigscreen-container">
    <section class="start-area">
        <div class="info-area">
            <div class="info-box" id="box-Equipment_State">
                <div class="info-box-header">報修狀況</div>
                <div class="info-box-body" role="chart">
                    <div id="Equipment_State" class="horizontal catalog-line"></div>
                </div>
            </div>
            <div class="info-box" id="box-Inspection_Complete_State">
                <div class="info-box-header">本日巡檢計畫進度</div>
                <div class="info-box-body" role="chart">
                    <div id="Inspection_Complete_State" class="horizontal catalog-line"></div>
                </div>
            </div>
            <div class="info-box" id="box-Equipment_Operating_State">
                <div class="info-box-header">設備運轉狀態</div>
                <div class="info-box-body p-0">
                    <div id="Equipment_Operating_State" data-simplebar>
                        <div class="item">
                            <i class="m-light normal"></i>
                            <span class="name">進流污水閘門</span>
                        </div>
                        <div class="item">
                            <i class="m-light normal"></i>
                            <span class="name">濕井進流水閘門</span>
                        </div>
                        <div class="item">
                            <i class="m-light danger"></i>
                            <span class="name">浸沒式流量計</span>
                        </div>
                        <div class="item">
                            <i class="m-light normal"></i>
                            <span class="name">沉砂池空壓機</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-box" id="box-Environment">
                <div class="info-box-header">環境資訊</div>
                <div class="info-box-body">
                    <div class="item" id="Environment_Temp">
                        <span class="label">溫度</span>
                        <span class="value">24</span>
                        <span class="unit">°C</span>
                    </div>
                    <div class="item" id="Environment_Hum">
                        <span class="label">溼度</span>
                        <span class="value">66.2</span>
                        <span class="unit">%</span>
                    </div>
                    <div class="item" id="Environment_CO2">
                        <span class="label">CO2</span>
                        <span class="value">800</span>
                        <span class="unit">ppm</span>
                    </div>
                    <div class="item" id="Environment_PM25">
                        <span class="label">PM2.5</span>
                        <span class="value">0</span>
                        <span class="unit">μg/m<sup>3</sup></span>
                    </div>
                    <div class="item" id="Environment_HCHO">
                        <span class="label">HCHO</span>
                        <span class="value">0.06</span>
                        <span class="unit">ppm</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="center-area">
        <div class="viewerContainer">
            <div id="BIM">
                <div class="pin-area"></div>
            </div>
            <h2 class="viewbag-title">@ViewBag.Title</h2>
        </div>
        <div class="position-absolute top-0 end-0 p-4">
            <button class="btn btn-alert" data-bs-toggle="collapse" data-bs-target="#AlertCollapse">
                <i class="icon-ring"></i>
                <span class="badge">5</span>
                <div class="collapse alert-collapse" id="AlertCollapse">
                    <div class="collapse-body">
                        <a class="alert-item" target="_blank" data-level="1" data-process-state="1">
                            <i class="icon-alert"></i>
                            <span class="road">進流抽水站2F</span>
                            <span class="time">13:05:20</span>
                            <span class="title">進流抽水站2F火災</span>
                            <span class="process-state"></span>
                        </a>
                        <a class="alert-item" target="_blank" data-level="1" data-process-state="1">
                            <i class="icon-alert"></i>
                            <span class="road">進流抽水站2F</span>
                            <span class="time">13:05:20</span>
                            <span class="title">進流抽水站2F火災</span>
                            <span class="process-state"></span>
                        </a>
                        <a class="alert-item" target="_blank" data-level="2" data-process-state="2">
                            <i class="icon-alert"></i>
                            <span class="road">進流抽水站2F</span>
                            <span class="time">13:05:20</span>
                            <span class="title">進流抽水站2F火災</span>
                            <span class="process-state"></span>
                        </a>
                        <a class="alert-item" target="_blank" data-level="2" data-process-state="3">
                            <i class="icon-alert"></i>
                            <span class="road">進流抽水站2F</span>
                            <span class="time">13:05:20</span>
                            <span class="title">進流抽水站2F火災</span>
                            <span class="process-state"></span>
                        </a>
                        <a class="alert-item" target="_blank" data-level="2" data-process-state="3">
                            <i class="icon-alert"></i>
                            <span class="road">進流抽水站2F</span>
                            <span class="time">13:05:20</span>
                            <span class="title">進流抽水站2F火災</span>
                            <span class="process-state"></span>
                        </a>
                    </div>
                </div>
            </button>
        </div>
        <div class="position-absolute top-0 start-0">
            <div id="Current_Location" class="">
                <i class="icon-marker"></i>
                <span id="Current_Factory">民生廠</span>
                <span id="Current_Area">進流抽水站</span>
                <span id="Current_Floor">B2F</span>
            </div>
        </div>
    </section>
    <section class="end-area">
        <div class="info-area">
            <div class="info-box" id="box-Inspection_Aberrant">
                <div class="info-box-header">巡檢異常狀態</div>
                <div class="info-box-body">
                    <div class="vstack" role="chart">
                        <div id="Inspection_Aberrant_Level" class="horizontal catalog-line"></div>
                        <hr>
                        <div id="Inspection_Aberrant_Resolve" class="horizontal catalog-line"></div>
                    </div>
                </div>
            </div>
            <div class="info-box" id="box-Inspection_Current_Pos">
                <div class="info-box-header">空間人員即時位置</div>
                <div class="info-box-body white-big-track" data-simplebar data-simplebar-auto-hide="false"
                    data-simplebar-force-visible="y">
                    <div class="plan-accordion" id="Inspection_Current_Pos">
                        <select class="form-select" name="SelectIPlan" id="SelectIPlan">
                            <option value="">選擇計畫</option>
                        </select>
                        <div class="plan-people active">
                            <div class="human"><i class="icon-human"></i></div>
                            <div class="plan-people-group">
                                <div class="plan-people-info">
                                    <span class="name">Pt01 王大明</span>
                                    <i class="icon-heart"></i>
                                    <span class="label">心率：</span>
                                    <span class="value">110</span>
                                    <span class="unit">下/分</span>
                                </div>
                                <div class="plan-people-info">
                                    <span class="name">Pt02 任趙仁</span>
                                    <i class="icon-heart"></i>
                                    <span class="label">心率：</span>
                                    <span class="value">96</span>
                                    <span class="unit">下/分</span>
                                </div>
                                <div class="plan-people-locate">
                                    <span class="label">即時位置：</span>
                                    <span class="value">A區2F</span>
                                </div>
                            </div>
                        </div>
                        <div class="plan-people">
                            <div class="human"><i class="icon-human"></i></div>
                            <div class="plan-people-group">
                                <div class="plan-people-info">
                                    <span class="name">Pt01 王大明</span>
                                    <i class="icon-heart"></i>
                                    <span class="label">心率：</span>
                                    <span class="value">110</span>
                                    <span class="unit">下/分</span>
                                </div>
                                <div class="plan-people-info">
                                    <span class="name">Pt02 任趙仁</span>
                                    <i class="icon-heart"></i>
                                    <span class="label">心率：</span>
                                    <span class="value">96</span>
                                    <span class="unit">下/分</span>
                                </div>
                                <div class="plan-people-locate">
                                    <span class="label">即時位置：</span>
                                    <span class="value">A區2F</span>
                                </div>
                            </div>
                        </div>
                        <div class="plan-people">
                            <div class="human"><i class="icon-human"></i></div>
                            <div class="plan-people-group">
                                <div class="plan-people-info">
                                    <span class="name">Pt01 王大明</span>
                                    <i class="icon-heart"></i>
                                    <span class="label">心率：</span>
                                    <span class="value">110</span>
                                    <span class="unit">下/分</span>
                                </div>
                                <div class="plan-people-info">
                                    <span class="name">Pt02 任趙仁</span>
                                    <i class="icon-heart"></i>
                                    <span class="label">心率：</span>
                                    <span class="value">96</span>
                                    <span class="unit">下/分</span>
                                </div>
                                <div class="plan-people-locate">
                                    <span class="label">即時位置：</span>
                                    <span class="value">A區2F</span>
                                </div>
                            </div>
                        </div>
                        <div class="plan-people">
                            <div class="human"><i class="icon-human"></i></div>
                            <div class="plan-people-group">
                                <div class="plan-people-info">
                                    <span class="name">Pt01 王大明</span>
                                    <i class="icon-heart"></i>
                                    <span class="label">心率：</span>
                                    <span class="value">110</span>
                                    <span class="unit">下/分</span>
                                </div>
                                <div class="plan-people-info">
                                    <span class="name">Pt02 任趙仁</span>
                                    <i class="icon-heart"></i>
                                    <span class="label">心率：</span>
                                    <span class="value">96</span>
                                    <span class="unit">下/分</span>
                                </div>
                                <div class="plan-people-locate">
                                    <span class="label">即時位置：</span>
                                    <span class="value">A區2F</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@section scripts {
    @Scripts.Render("https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js")
    @Scripts.Render("~/Scripts/Forge/Viewer.Loading.js")
    @Scripts.Render("~/Scripts/Forge/Viewer.Toolkit.js")
    @Scripts.Render("~/Scripts/Forge/ForgePin.js")

    @Scripts.Render("~/Scripts/BigScreen/ChartPlugin.js")
    @Scripts.Render("~/Scripts/InspectionPlan/CurrentPosition.js")
}