@{
    ViewBag.Title = "巡檢即時位置";
}
@section styles {
    @Styles.Render("https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css")
    @Styles.Render("~/Content/CurrentPosition.css")

    @Styles.Render("https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css")
    @Styles.Render("~/Content/loading.css")

    @Scripts.Render("https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js")
    @Scripts.Render("https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js")
}
<div class="cp-container">
    <section class="start-area" data-simplebar>
        <div class="info-area">
            <div class="info-box" id="box-ChartInspectionEquipmentState">
                <div class="info-box-header">本日設備維修及保養統計</div>
                <div class="info-box-body" role="chart">
                    <div id="ChartInspectionEquipmentState" class="horizontal catalog-line"></div>
                </div>
            </div>
            <div class="info-box" id="box-ChartInspectionCompleteState">
                <div class="info-box-header">本日巡檢總計畫進度</div>
                <div class="info-box-body" role="chart">
                    <div id="ChartInspectionCompleteState" class="horizontal catalog-line"></div>
                </div>
            </div>
            <div class="info-box" id="box-EquipmentOperatingState">
                <div class="info-box-header">設備運轉狀態</div>
                <div class="info-box-body p-0">
                    <div id="EquipmentOperatingState" data-simplebar></div>
                </div>
            </div>
            <div class="info-box" id="box-EnvironmentInfo">
                <div class="info-box-header">環境資訊</div>
                <div class="info-box-body" id="EnvironmentInfo"></div>
            </div>
    </section>
    <section class="center-area">
        <div class="viewerContainer">
            <div id="BIM">
                <div class="pin-area"></div>
            </div>
            <h2 class="viewbag-title">@ViewBag.Title</h2>
        </div>
        <div class="position-absolute top-0 end-0 p-4">
            <div class="position-relative">
                <button class="btn btn-alert" data-bs-toggle="collapse" data-bs-target="#AlertCollapse"
                    data-bs-auto-close="false">
                    <i class="icon-ring"></i>
                    <span class="badge"></span>
                </button>
                <div class="collapse alert-collapse" id="AlertCollapse">
                    <div class="collapse-body" data-simplebar></div>
                </div>
            </div>
        </div>
        <div class="current-location-area">
            <div class="current-location">
                <div class="current-location-toggle"  data-bs-toggle="dropdown">
                    <i class="icon-marker"></i>
                    <span id="CurrentLocation"></span>
                </div>
                <ul class="current-location-menu dropdown-menu dropdown-menu-end"></ul>
            </div>
        </div>
    </section>
    <section class="end-area" data-simplebar>
        <div class="info-area">
            <div class="info-box" id="box-InspectionAberrant">
                <div class="info-box-header">本月緊急事件等級占比/處理狀況</div>
                <div class="info-box-body">
                    <div class="vstack" role="chart">
                        <div id="ChartInspectionAberrantLevel" class="horizontal catalog-line"></div>
                        <hr>
                        <div id="ChartInspectionAberrantResolve" class="horizontal catalog-line"></div>
                    </div>
                </div>
            </div>
            <div class="info-box" id="box-InspectionCurrentPos">
                <div class="info-box-header">空間人員即時位置</div>
                <div class="info-box-body white-big-track" data-simplebar data-simplebar-auto-hide="false"
                    data-simplebar-force-visible="y">
                    <div class="plan-body">
                        <div class="plan-list-title">目前空間</div>
                        <div class="plan-list" id="InspectionCurrentPos"></div>
                        <hr class="plan-list-hr">
                        <div class="plan-list-title">其他空間</div>
                        <div class="plan-list" id="InspectionAnotherPos"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    @Scripts.Render("https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js")
    @Scripts.Render("~/Scripts/Forge/Viewer.Loading.js")
    @Scripts.Render("~/Scripts/Forge/Viewer.Toolkit.js")
    @Scripts.Render("~/Scripts/Forge/ForgePin.js")
    @Scripts.Render("~/Scripts/Forge/UpViewer.js")

    @Scripts.Render("~/Scripts/BigScreen/ChartPlugin.js")
    @Scripts.Render("~/Scripts/InspectionPlan/CurrentPosition.js")
}