@{
    ViewBag.Title = "巡檢計畫管理";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增計畫</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="PlanState">巡檢狀態</label>
            <select class="form-select" name="PlanState" id="PlanState">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="IPSN">計畫編號</label>
            <input class="form-control" id="IPSN" name="IPSN" type="text" />
        </div>

        <div class="form-group">
            <label for="IPName">巡檢計畫名稱</label>
            <input class="form-control" id="IPName" name="IPName" type="text" />
        </div>

        <div class="form-group">
            <label for="Shift">巡檢班別</label>
            <select class="form-select" name="Shift" id="Shift">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="UserID">巡檢人員</label>
            <select class="form-select" name="UserID" id="UserID">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ESN">設備編號</label>
            <input class="form-control" id="ESN" name="ESN" type="text" />
        </div>

        <div class="form-group">
            <label for="EName">設備名稱</label>
            <input class="form-control" id="EName" name="EName" type="text" />
        </div>

        <div class="form-group">
            <label for="DateFrom">日期(起)</label>
            <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
        </div>

        <div class="form-group">
            <label for="DateTo">日期(迄)</label>
            <input class="form-control" id="DateTo" name="DateTo" type="date" />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        var getGridJSON = '@Url.Action("InspectionPlan_Management", "Datagrid")';
        var DataGrid;
        

        const fakedata = [{
            PlanState: "已派工",
            IPSN: "P23010401",
            IPName: "A區巡檢計畫",
            PlanDate: "2023/01/04",
            Shift: "早班",
            MyName: "王大明、李泰順",
            RepairAmount: "2",
            MaintainAmount: "1",
        }]

        $(async function () {
            await pushSelect("PlanState", '@Url.Action("PlanState", "DropDownList")');
            await pushSelect("Shift", '@Url.Action("Shift", "DropDownList")');
            await pushSelect("UserID", '@Url.Action("InspectionUser", "DropDownList")');
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'IPSN',
                //sortName: 'IPSN',
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit", { disabled: row.PlanState != "待執行" })),
                    dg.frozenColumn('_record', (v, row, i) => dg.eventButton(i, "紀錄", "record", { disabled: !(row.PlanState == "巡檢完成" || row.PlanState == "巡檢未完成") })),
                ]],
                columns: [[
                    dg.column('PlanState', '巡檢計畫狀態', 150),
                    dg.column('IPSN', '計畫編號', 110),
                    dg.column('IPName', '計畫名稱', 250),
                    dg.column('PlanDate', '計畫日期', 150),
                    dg.column('Shift', '巡檢班別', 106),
                    dg.column('MyName', '巡檢人員', 350),
                    dg.column('RepairAmount', '維修數量', 106),
                    dg.column('MaintainAmount', '定期保養數量', 146)
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Read/${row.IPSN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.IPSN}`, "_self")
            })
            dg.addEvent("record", function (row, i) {
                window.open(`${baseUrl}/Record/${row.IPSN}`, "_blank")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}