@{
    ViewBag.Title = "巡檢計畫詳情";
}

<link rel="stylesheet" href="/Content/samplepath.css">

<h2>@ViewBag.Title</h2>

<section id="InspectionPlanInfo"></section>

<div class="datatable datatable-fill mt-5">
    <div class="datatable-header">定期保養設備</div>
    <div class="datatable-body datatable-easyui">
        <table id="DataGrid-Maintain"></table>
    </div>
</div>

<div class="datatable datatable-fill mt-5">
    <div class="datatable-header">維修設備</div>
    <div class="datatable-body datatable-easyui">
        <table id="DataGrid-Repair"></table>
    </div>
</div>

<div class="sample-path-area px-0 mt-5">
    <h3 class="sample-path-title">巡檢路線規劃</h3>

    <div class="edit-area">
        <input type="text" id="current-path-id" value="1" hidden>
        <div class="sample-path-group-area"></div>
        <div class="sample-path-draw-area">
            <div class="viewer3Dcontainer">
                <div id="viewer3d" style="margin:0;"></div>
                <canvas id="PathCanvas"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- easyui & datatable -->
@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/datagrid-management.js"></script>

<!-- Autodesk Forge -->
<link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.4"
    type="text/css">
<script language="JavaScript"
    src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.4"></script>
<script language="JavaScript" src="/Scripts/Forge/UpViewer.js"></script>

<!-- PIXI Draw -->
<script src="https://pixijs.download/v7.2.2/pixi.js"></script>
<script src="/Scripts/ForgeDraw.js"></script>
<script src="/Scripts/Forge/ForgeDrawFunction.js"></script>

<!-- ForgeDraw init -->
<script>
    var view = document.querySelector("#PathCanvas");
    var app;

    function initializeDrawer() {
        ForgeDraw.setDrawSetting("point.contextMenu.button", [{
            name: "詳細",
            onClick: function (event, point) {
                console.log(`point ${point.index} => 詳細`, point);
                createPointDetailModal(point);
            }
        }]);
        ForgeDraw.setDrawSetting("devicePoint.contextMenu.button", [{
            name: "詳細",
            onClick: function (event, point) {
                console.log(`point ${point.index} => 詳細`, point);
                createDevicePointDetailModal(point);
            }
        }]);

        app = ForgeDraw.init(view, viewer, function () {
            ForgeDraw.setControl(ForgeDraw.Control.READONLY);
            let pathData = JSON.parse(sessionStorage.getItem(`P1_pathData`))

            createBeacons(pathData.PathSample.Beacon);
            createDevices(1);
            createLinePath(pathData.PathSampleRecord);
            updatePathDisplay(pathData.PathSampleOrder, 1);

            addTooltip(true);
        });
    }
</script>

<!-- readData -->
<script>
    const RSN = '@ViewBag.id';
    //let apiUrl = '@Url.Action("ReadBody", "Report_Management")' + `/${RSN}`;
    let apiUrl = null;

    const sn = {
        InspectionPlan: [
            { text: "巡檢計畫編號", value: "IPSN" },
            { text: "巡檢計畫名稱", value: "IPName" },
            { text: "巡檢日期", value: "PlanDate" },
            { text: "計畫執行狀態", value: "PlanState" },
            { text: "巡檢班別", value: "Shift" },
            { text: "巡檢人員", value: "UserID" },
        ]
    }

    let fakeData = {
        "IPSN": "P12345",
        "IPName": "AAA",
        "PlanCreateUserID": "Admin",
        "PlanDate": "2023/04/13",
        "PlanState": "執行中",
        "Shift": "早班",
        "UserID": "A101204、KennyTest",
        "MaintainUserID": "A101204",
        "RepairUserID": "A101204",
        "MaintainEquipment": [
            {
                "StockState": "無",
                "FormItemState": "保留中(待派工)",
                "EMFISN": "E00024_000035_230407",
                "Period": 1,
                "Unit": "月",
                "LastTime": "2023/03/07",
                "Date": "2023/04/07",
                "EState": "正常",
                "Area": "生物處理單元",
                "Floor": "管廊底",
                "ESN": "E00024",
                "EName": "加氯消毒池混和井攪拌機",
                "MIName": "加氯保養測試1"
            },
            {
                "StockState": "無",
                "FormItemState": "保留中(待派工)",
                "EMFISN": "E00020_000048_230329",
                "Period": 3,
                "Unit": "日",
                "LastTime": "2023/03/29",
                "Date": "2023/03/29",
                "EState": "正常",
                "Area": "生物處理單元",
                "Floor": "管廊底",
                "ESN": "E00020",
                "EName": "二沉池刮泥機",
                "MIName": "二沉池保養一"
            },
            {
                "StockState": "無",
                "FormItemState": "保留中(待派工)",
                "EMFISN": "E00021_000048_230329",
                "Period": 3,
                "Unit": "日",
                "LastTime": "2023/03/29",
                "Date": "2023/03/29",
                "EState": "正常",
                "Area": "生物處理單元",
                "Floor": "管廊頂",
                "ESN": "E00021",
                "EName": "二沉池刮泥機",
                "MIName": "二沉池保養一"
            }
        ],
        "RepairEquipment": [
            {
                "StockState": "有",
                "ReportState": "保留中(待派工)",
                "ESN": "E00143",
                "RSN": "R23032901",
                "ReportLevel": "緊急",
                "Date": "2023/03/29 09:00:00",
                "ReportContent": "壞壞JUDY",
                "InformatUserID": "賈皓麟",
                "EState": "報修中",
                "Area": "進流抽水站",
                "Floor": "B2F",
                "EName": "二沉池刮泥機"
            },
            {
                "StockState": "無",
                "ReportState": "保留中(待派工)",
                "ESN": "E00002",
                "RSN": "R23022606",
                "ReportLevel": "一般",
                "Date": "2023/02/26 14:00:00",
                "ReportContent": "假資料",
                "InformatUserID": "賈皓麟",
                "EState": "報修中",
                "Area": "前處理機房",
                "Floor": "B1F",
                "EName": "粗攔物除物皮帶輸送機"
            },
            {
                "StockState": "無",
                "ReportState": "保留中(待派工)",
                "ESN": "E00002",
                "RSN": "R23022605",
                "ReportLevel": "一般",
                "Date": "2023/02/26 13:00:00",
                "ReportContent": "假資料",
                "InformatUserID": "賈皓麟",
                "EState": "報修中",
                "Area": "前處理機房",
                "Floor": "B1F",
                "EName": "粗攔物除物皮帶輸送機"
            }
        ],
        "InspectionPlanPaths": [
            {
                "PathSample": {
                    "PSSN": null,
                    "Area": "進流抽水站",
                    "Floor": "B2F",
                    "ASN": "1",
                    "FSN": "1_2",
                    "PathTitle": "進流抽水站 B2F 巡檢路線",
                    "BIMPath": "/BimModels/Site01/Resource/3D View/林口(一)/林口(一).svf",
                    "Beacon": [
                        {
                            "dbId": 3078,
                            "deviceType": "藍芽",
                            "deviceName": "E00028"
                        },
                        {
                            "dbId": 3239,
                            "deviceType": "藍芽",
                            "deviceName": "E00029"
                        },
                        {
                            "dbId": 3162,
                            "deviceType": "藍芽",
                            "deviceName": "E00030"
                        },
                        {
                            "dbId": 3113,
                            "deviceType": "藍芽",
                            "deviceName": "E00031"
                        }
                    ]
                },
                "PathSampleOrder": [
                    "E00028",
                    "E00028",
                    "E00031",
                    "E00029",
                    "E00029",
                    "E00030",
                    "E00143"
                ],
                "PathSampleRecord": [
                    {
                        "LocationX": 4.343302473135253,
                        "LocationY": -71.36540038498816
                    },
                    {
                        "LocationX": 20.78023159302441,
                        "LocationY": -10.403119589648426
                    },
                    {
                        "LocationX": -23.74512070642215,
                        "LocationY": 7.074121320960913
                    },
                    {
                        "LocationX": -37.269176311394254,
                        "LocationY": -69.28477646705846
                    }
                ],
                "MaintainEquipment": [
                    "E00028",
                    "E00029"
                ],
                "RepairEquipment": [
                    "E00143"
                ],
                "BothEquipment": []
            },
            {
                "PathSample": {
                    "PSSN": null,
                    "Area": "進流抽水站",
                    "Floor": "B2F",
                    "ASN": "1",
                    "FSN": "1_2",
                    "PathTitle": "進流抽水站 B2F 巡檢路線",
                    "BIMPath": "/BimModels/Site01/Resource/3D View/林口(一)/林口(一).svf",
                    "Beacon": [
                        {
                            "dbId": 3078,
                            "deviceType": "藍芽",
                            "deviceName": "E00028"
                        },
                        {
                            "dbId": 3239,
                            "deviceType": "藍芽",
                            "deviceName": "E00029"
                        },
                        {
                            "dbId": 3162,
                            "deviceType": "藍芽",
                            "deviceName": "E00030"
                        },
                        {
                            "dbId": 3113,
                            "deviceType": "藍芽",
                            "deviceName": "E00031"
                        }
                    ]
                },
                "PathSampleOrder": [
                    "E00031",
                    "E00028",
                    "E00028",
                    "E00143",
                    "E00030",
                    "E00029",
                    "E00029"
                ],
                "PathSampleRecord": [
                    {
                        "LocationX": 18.699608986978998,
                        "LocationY": -25.591673713233597
                    },
                    {
                        "LocationX": -8.140441162223595,
                        "LocationY": -73.23796191112488
                    },
                    {
                        "LocationX": -46.42392164399074,
                        "LocationY": -53.47203469079287
                    },
                    {
                        "LocationX": -15.838749737361553,
                        "LocationY": -28.504547675636672
                    },
                    {
                        "LocationX": -48.712607977139854,
                        "LocationY": -9.570870022476527
                    },
                    {
                        "LocationX": -29.778930130178928,
                        "LocationY": 7.9063708881328125
                    },
                    {
                        "LocationX": 23.276980320096186,
                        "LocationY": -20.39011439571091
                    }
                ],
                "MaintainEquipment": [
                    "E00028",
                    "E00029"
                ],
                "RepairEquipment": [
                    "E00143"
                ],
                "BothEquipment": []
            }
        ]
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            fakeData = res;
            $("#InspectionPlanInfo").append(
                createTableOuter({
                    title: "巡檢計劃資訊",
                    id: "InspectionPlan",
                    className: "mt-5",
                    inner: createTableInner(res, sn.InspectionPlan),
                })
            );

            initDatagrid_Maintain(res.MaintainEquipment);
            initDatagrid_Repair(res.RepairEquipment);

            window.addEventListener("resize", function () {
                $('#DataGrid-Maintain').datagrid('resize');
                $('#DataGrid-Repair').datagrid('resize');
            })

            res.InspectionPlanPaths.forEach((e, i, arr) => {
                sessionStorage.setItem(`P${i + 1}_pathData`,JSON.stringify(e));
                pathGroup.create(e);
            })

            viewerUrl = window.location.origin + res.InspectionPlanPaths[0].PathSample.BIMPath;
            initializeViewer(initializeDrawer);
        }
        function onError(res) {
            console.log(res);
        }
    }

    function initDatagrid_Maintain(data) {
        let dg = new DG();
        dg.init("#DataGrid-Maintain", {
            data: data,
            fit: false,
            rownumbers: false,
            pagination: false,
            idField: 'EMFISN',
            //sortName: 'EMFISN',
            frozenColumns: [[
                dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                dg.frozenColumn('_locate', (v, row, i) => {
                    let disabled = row.DBID == null || row.DBID == "";
                    return dg.eventButton(i, "定位", "locate", { disabled: disabled })
                }),
            ]],
            columns: [[
                dg.column('StockState', '庫存狀態', 120),
                dg.column('FormItemState', '保養項目狀態', 150),
                dg.column('Area', '棟別', 130),
                dg.column('Floor', '樓層', 80),
                dg.column('ESN', '設備編號', 100),
                dg.column('EName', '設備名稱', 220),
                dg.column('EMFISN', '保養單項目編號', 225),
                dg.column('MIName', '保養項目', 200),
                dg.column('Period', '週期', 100),
                dg.column('Unit', '週期單位', 130),
                dg.column('LastTime', '上次保養', 150),
                dg.column('Date', '最近應保養', 150),
            ]]
        })
        dg.addEvent("detail", function (row, i) {
            window.open('@Url.Action("Read","MaintainForm_Management")/' + row.EMFISN, "_blank");
        })
        dg.addEvent("locate", function (row, i) {
            window.open('@Url.Action("Read","MaintainForm_Management")/' + row.EMFISN, "_blank");
        })
    }

    function initDatagrid_Repair(data) {
        let dg = new DG();
        dg.init("#DataGrid-Repair", {
            data: data,
            fit: false,
            rownumbers: false,
            pagination: false,
            idField: 'EMFISN',
            //sortName: 'EMFISN',
            frozenColumns: [[
                dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                dg.frozenColumn('_locate', (v, row, i) => {
                    let disabled = row.DBID == null || row.DBID == "";
                    return dg.eventButton(i, "定位", "locate", { disabled: disabled })
                }),
            ]],
            columns: [[
                dg.column('StockState', '庫存狀態', 120),
                dg.column('ReportState', '報修單狀態', 150),
                dg.column('Area', '棟別', 130),
                dg.column('Floor', '樓層', 80),
                dg.column('ESN', '設備編號', 100),
                dg.column('EName', '設備名稱', 220),
                dg.column('RSN', '報修單號', 116),
                dg.column('ReportLevel', '報修等級', 95),
                dg.column('Date', '報修時間', 200),
                dg.column('MyName', '報修人員', 110),
                dg.column('ReportContent', '報修內容', 300),
            ]]
        })
        dg.addEvent("detail", function (row, i) {
            window.open('@Url.Action("Read","Report_Management")/' + row.RSN, "_blank");
        })
        dg.addEvent("locate", function (row, i) {
            window.open('@Url.Action("Read","Report_Management")/' + row.RSN, "_blank");
        })
    }

    window.onload = function () {

        pathGroup.setSetting({
            startButton: {
                id: "path-search",
                icon: "icon-search",
                tooltip: "查看此路線",
                onClick: (e) => {
                    let pathID = $(e.target).closest(".sample-path-group").attr("data-path-id");
                    let pathData = JSON.parse(sessionStorage.getItem(`P${pathID}_pathData`))
                    $("#current-path-title").val(pathData.PathSample.PathTitle);
                    loadModel(
                        window.location.origin + pathData.PathSample.BIMPath,
                        pathID,
                        loadPath)
                }
            }
        })

        readData(apiUrl);
    }
</script>

